[2014-04-16 13:10] jarrettj opened #122 "Apache 2.4 no longer uses directive LockFile"
Removed from apache2.conf.erb. (https://httpd.apache.org/docs/trunk/upgrading.html)

Not so much an issue in this cookbook, as its not been tested on apache 2.4 and ubuntu > 12.04.

Quick fix for anyone looking to install apache 2.4 on ubuntu > 12.04 using this cookbook is to remove the LockFile directive from the templates/default/apache2.conf.erb file.

[2014-04-16 17:03] #122 closed, assigned to nobody

[2014-04-22 08:30] ronvelzeboer opened #123 "Support for Ubuntu 14.04 LTS"
Please add support for Ubuntu 14.04 LTS. Thanks!

[2014-04-22 17:10] #123 closed, assigned to nobody

[2014-04-24 19:57] adepue opened #125 "authz_default module does not exist in apache 2.4"
This is the default apache version in Ubuntu 14.04, so using latest recipe fails when trying to enable authz_default

[2014-04-24 20:02] adepue opened #126 "LockFile syntax is deprecated in Apache 2.4+"
Replaced with Mutex syntax outlined here. http://httpd.apache.org/docs/2.4/upgrading.html

[2014-04-24 21:14] #125 closed, assigned to svanzoest

[2014-04-24 21:14] #126 closed, assigned to nobody

[2014-04-28 18:36] rocpatel opened #127 "[COOK-3900] mod_socache_shmcb not enabled by default"
When installing apache2.4 mod_ssl enable socache, but that module is not enabled by default.  Thus resulting in apache2 start errors.

AH00526: Syntax error on line 42 of /etc/apache2/mods-enabled/ssl.conf:
SSLSessionCache: 'shmcb' session cache not supported (known names: ). Maybe you need to load the appropriate socache module (mod_socache_shmcb?).

[2014-04-28 20:02] ghost opened #128 "Definition web_app should have: Alias /foo /bar"
Would be great.

[2014-04-28 20:56] svanzoest opened #129 "support yum cookbook > 3"

[2014-05-09 21:34] geoffreytran opened #131 "Apache2.4 Ubuntu 12.04 security.conf"
Currently the security.conf file is created in the apachedir/conf.d/security.conf.

This creates an issue because on 2.4 the conf files are loaded from apachedir/conf-enabled/security.conf, where a default exists that will override the apachedir/conf.d/security.conf.

[2014-05-16 18:24] poolpog opened #132 "In Ubuntu 14.04, files in /etc/apache2/sites-available/ now all have ".conf" suffix"
Example default Apache2 install on Ubuntu 14.04

[code]

a2ensite now looks for files with ".conf" suffixes. a2ensite fails with "ERROR: Site xyz does not exist!" for available-sites that don't have the .conf suffix.

[2014-05-19 07:31] jchenjc opened #133 "Recipe: apache2::default: Reloading httpd: not reloading due to configuration syntax error [FAILED]"
Hi,

I got the following intermittently on my CentOS machine. I googled around and couldn't find anything, has anyone seen this before? Thanks!

[code]

[2014-05-30 21:52] medyagh opened #135 "doens't work for ubuntu 14.04"
I get this error :

Error executing action `run` on resource 'execute[a2enmod authz_default]'

[2014-06-06 14:36] #135 closed, assigned to nobody

[2014-06-11 10:01] raulvelaz opened #140 "default recipe Fedora 20"
Hi,
I've been trying to use the apache2 default recipe in a Fedora 20 box and I've found a couple of issues that make Apache fail to restart.
In the apache2.conf.erb includes the following line:
    LockFile logs/accept.lock

which causes the error:
    Invalid command 'LockFile', perhaps misspelled or defined by a module not included in the server configuration

I think it's also missing the modu

[2014-06-11 14:41] #140 closed, assigned to nobody

[2014-06-12 21:40] #133 closed, assigned to nobody

[2014-06-12 21:41] #128 closed, assigned to nobody

[2014-06-12 21:43] #132 closed, assigned to nobody

[2014-06-16 14:23] tarak opened #142 "Starting the service fails on Ubuntu 14.04"
I'm using the COOK-3900 branch on a freshly installed VM. For some reason the init.d-script fails to start the service:

[code]

I'm using

[code]

The stacktrace:

[code]

Error log (CEST):

[code]

When I install the package by hand the service is starting...

Any clue where to look?

[2014-06-18 12:34] cballew opened #143 "fails on centos 6.5 with missing headers.load on line 140 of httpd.conf"
When I look at the template file for headers I see nothing to even create this file. Was this simply missed or was this by design? I see a similar issue with rewrite, but because of the headers issue I never get that far.

[2014-06-18 20:00] #143 closed, assigned to nobody

[2014-06-22 18:41] razor-x opened #146 "Setting default_site_enabled false does not disable default site on Ubuntu 14.04"
Setting `node['apache']['default_site_enabled'] = false` does not actually disable the default site on Ubuntu 14.04. (This is on COOK-3900 branch.)

The `a2dissite` and `a2ensite` scripts do not correctly add the `000-` priority prefix when  `default` is given (even though it seems this functionality is intended).

I am running Ruby 2.1.2 and Vagrant 1.6.3-1 on Arch Linux.

To reproduce:

[code]

[2014-06-24 15:44] #146 closed, assigned to nobody

[2014-06-24 15:44] #142 closed, assigned to nobody

[2014-06-25 14:18] Afterglow opened #149 "web_app definition can't enable site"
It looks like 37629fbccd7c91c588c36d9994eb846164398b1f in the COOK-3900 branch added ".conf" to the only_if for enabling a site. When web_app calls apache_site it appends .conf itself so the end result is a check for a file called `sitename.conf.conf` in that check which always fails.

[2014-06-26 12:22] srenatus opened #150 "Fix service[apache2] for Ubuntu 13.10, 14.04 and the next chef-client (11.14)"
The next version of Chef will use Chef::Provider::Service::Upstart by default in Ubuntu 13.10+ ([Changelog](https://github.com/opscode/chef/blob/master/CHANGELOG.md), [CHEF-5276](https://tickets.opscode.com/browse/CHEF-5276)), because Ubuntu stopped shipping compatibility links in /etc/init.d/: [see this bug](https://bugs.launchpad.net/ubuntu/+source/rsyslog/+bug/1311810/comments/4) and [the wiki]

[2014-06-26 13:01] #150 closed, assigned to nobody

[2014-06-28 19:47] wayne530 opened #155 "Apache 2.4 support"
Some of the default attributes, like `default_modules` include modules that are no longer present in Apache 2.4. Additionally, directives like `LockFile`, `RewriteLock`, etc have been deprecated and removed in 2.4 in favor of the single `Mutex` directive. Any immediate plans to support Apache 2.4?

http://httpd.apache.org/docs/2.4/upgrading.html

[2014-06-28 22:48] #155 closed, assigned to nobody

[2014-07-02 20:21] HuffAndPuff opened #157 "starting apache2 service in default recipe can make config repair impossible"
_Note that this test was made against the COOK-3900 branch of the cookbook._

Consider the following recipe. It stops apache2 to simulate a manual halt,
then it installs apache2, inserts a **broken** conf file, enables it and tries to start. Naturally starting the service after enabling the broken conf will fail.

The problem is that if apache2 stops (simulated here by a stop in the recipe) then a

[2014-07-09 18:30] runwaldarshu opened #160 "Support service[apache2] graceful instead of reload in web_app definition"
In general it will be nice to have graceful option in apache2 service provided by this cookbook which can be used by consumers.

Specific issue seen:
While doing some testing I have found that using service reload have some downtime on RHEL 6.5 httpd service. Whenever there are changes in configuration using web_app definition we would like it to call service graceful instead of reload so that we

[2014-07-11 18:02] fletchowns opened #161 "Error executing action `start` on resource 'service[apache2]' on CentOS7"
Note that CentOS7 is not listed as a supported platform at this time for the apache2 cookbook, so I didn't expect things to go smoothly:

[code]

[2014-07-15 02:11] fletchowns opened #162 "Template error referencing sysconfig_additional_params in etc-sysconfig-httpd.erb template"
Tried to use the COOK-3900 branch to test a workaround for #161 and ran into this. This was running CentOS 7 with the apache version attribute set to 2.4.

[code]

To get around this I set `['apache']['sysconfig_additional_params']` to an empty hash `{}`.

[2014-07-15 14:49] ramonskie opened #163 "please release [COOK-3900] to chef market for the time being"
please release the branch [COOK-3900] to the chef market for the time being
maby under a name such as 'apache24'

because it takes to long it has been for 6 months now that this branch is alive and working.
and since last month ubuntu raring 13.04 has been deprecated and removed

[2014-07-15 16:06] #163 closed, assigned to nobody

[2014-07-16 17:05] svanzoest opened #165 "improve a2* scripts cross platform support"
This relates to the `.conf` changes in apache 2.4 as seen in #158, etc.

[2014-07-16 17:08] svanzoest opened #166 "add support for conf-available and conf-enabled deprecating conf.d"

[2014-07-16 17:10] svanzoest opened #167 "Update chefspec to incorporate apache 2.4 support"

[2014-07-16 17:10] svanzoest opened #168 "Update serverspec to incorporate Apache 2.4 support"

[2014-07-16 17:11] svanzoest opened #169 "Add Integration tests for supported platforms using serverspec"

[2014-07-16 17:16] svanzoest opened #170 "Merge in and update tests for the SSL Updates branch"

[2014-07-17 00:23] svanzoest opened #172 "Add SELinux context support"
There was some talk about this before #24

[2014-07-22 03:02] #169 closed, assigned to svanzoest

[2014-07-22 23:43] #165 closed, assigned to nobody

[2014-07-23 00:18] #166 closed, assigned to nobody

[2014-07-23 00:20] #131 closed, assigned to nobody

[2014-07-23 00:21] #129 closed, assigned to svanzoest

[2014-07-23 00:25] #162 closed, assigned to nobody

[2014-07-23 00:35] #149 closed, assigned to nobody

[2014-07-23 17:21] svanzoest opened #175 "add mod_authz_ldap to automated tests"

[2014-07-23 17:21] svanzoest opened #176 "add mod_perl to automated tests"

[2014-07-23 17:22] svanzoest opened #177 "add mod_proxy_ajp to automated tests"

[2014-07-23 19:54] svanzoest opened #178 "convert definitions to lwrps"
[code]

[2014-07-23 21:57] #127 closed, assigned to nobody

[2014-07-24 14:50] rednevals opened #179 "SuSE default 'apache/dir' attribute issue"
I had success setting up a prototype Gerrit site on CentOS using the Gerrit cookbook(https://github.com/TYPO3-cookbooks/gerrit), which references apache2. Now I am in attempting to setup the production site on a SuSE VM.

The first issue that I ran up against with the apache2 cookbook is the default attributes, specifically the apache/dir. The apache2 default recipe is attempting to create sites-a

[2014-07-24 16:43] #157 closed, assigned to nobody

[2014-07-24 20:38] svanzoest opened #181 "attributes.. apache.libexecdir -> apache.libexec_dir"
This is an inconsistency that is fixed on this branch. We will want to make that this is documented in the CHANGELOG, hence this issue.

[2014-07-24 22:10] #181 closed, assigned to svanzoest

[2014-07-24 22:27] svanzoest opened #182 "proxy_balancer: Failed to lookup provider 'shm' for 'slotmem': is mod_slotmem_shm loaded??"
on Ubuntu 14.04

[code]

[code]

[2014-07-24 22:47] #182 closed, assigned to svanzoest

[2014-07-24 22:59] svanzoest opened #183 "default apache.version to 2.4 on known platforms with apache 2.4 as default"

[2014-07-25 00:09] #183 closed, assigned to nobody

[2014-07-25 00:52] #167 closed, assigned to nobody

[2014-07-25 22:26] cyberswat opened #184 "`bundle exec kitchen converge default-ubuntu-1404` fails"
ubuntu1204 converges properly as does centos510 ... ubuntu 1404 fails because of this:

[code]

[2014-07-25 22:30] #184 closed, assigned to svanzoest

[2014-07-28 19:39] fletchowns opened #186 "Cannot load /etc/httpd/modules/mod_proxy_ajp.so into server"
CentOS 5.10, run list is apache2 & apache2::mod_ssl.

Here's the error message:

[code]

I'm confused as to why it is trying to use mod_proxy_ajp because prior to this error, I see this in the logs:

[code]

If I manually remove the `/etc/httpd/conf.d/proxy_ajp.conf` after that and do a chef run again, it will complete successfully.

[2014-07-29 09:56] ramonskie opened #187 "[COOK-3900] apache is not started on ubuntu 14.04"
on ubuntu 14.04 ubuntu is not started only reloaded
and before it can reload it needs to be started :)

there are 2 start/restart commands but these are not satisfied due to a not if
see
https://github.com/onehealth-cookbooks/apache2/blob/COOK-3900/recipes/default.rb#L51
https://github.com/onehealth-cookbooks/apache2/blob/COOK-3900/recipes/default.rb#L157

anyone else has had this error with ubunt

[2014-07-29 12:57] ramonskie opened #188 "000-default.conf exists in ubuntu 14.04"
000-default.conf still exists in sites-enabled

at the beginning of the chef run for apache i see

[code]

anyone else have this?

using
- ubuntu 14.04
- branch [COOK-3900}

[2014-07-29 17:41] #179 closed, assigned to nobody

[2014-07-29 19:11] #188 closed, assigned to nobody

[2014-07-29 19:41] #168 closed, assigned to svanzoest

[2014-07-29 19:59] svanzoest opened #189 "Use Upstart service Provider on Ubuntu"
See #151 and #150 for some background.

Related to https://bugs.launchpad.net/ubuntu/+source/apache2/+bug/689454

Chef reverted changing the default service provider to Upstart for >= 13.10 during regression; as this broke many packages without upstart scripts. See opscode/chef#1587

[2014-07-29 20:28] rednevals opened #190 "Need support for support for different versions of SuSE"
[FYI: This was done using the latest from the COOK-3900 branch ]

I am using SuSE 11 SP3. The testing that has been done on 13 SP3(I  think) has uncovered some basic differences in the layout/config of the initial apache2 installation. Certain assumptions are being made by the default recipe as to what is present and/or needed in the file system. I repeatedly stopped/started apache2 and attempted

[2014-07-30 16:30] #161 closed, assigned to nobody

[2014-07-30 18:29] svanzoest opened #192 "Apache 2.4 Determine how to deal with apache.proxy.order, etc."
In 2.4 mode, `apache.proxy.order`, `apache.proxy.deny_from`, `apache.proxy.allow_from` are ignored, as the attributes can not be supported in a backwards compatible way. We will want to setup a different way to approach it.

[2014-07-30 18:55] svanzoest opened #193 "Apache 2.4 MaxClients has been renamed to MaxRequestWorkers"
Make sure we document and verify this change works.

[2014-07-30 19:00] svanzoest opened #194 "Apache 2.4 MaxRequestsPerChild has been renamed to MaxConnectionsPerChild"
Make sure we document this and verify it works.

[2014-07-31 00:53] drpebcak opened #196 "Centos 7 - SSLCertificateFile syntax error"
Our apache2_test cookbook outputs this failure when converging Centos 7.0

[code]

Inside the box, the `server.crt` and `server.key` are both in `/home/apache2` where we expect them, and they are not empty. Permissions are `root:root 644`.

[2014-07-31 21:22] #194 closed, assigned to svanzoest

[2014-07-31 21:22] #193 closed, assigned to svanzoest

[2014-07-31 22:59] #196 closed, assigned to nobody

[2014-07-31 23:03] #192 closed, assigned to svanzoest

[2014-08-01 19:07] #170 closed, assigned to nobody

[2014-08-01 20:10] dkinzer opened #199 "cannot load such file -- chef/provider/package/freebsd"
I was depending on the COOK-3900 branch and when that got pulled int I started seeing

`cannot load such file -- chef/provider/package/freebsd` running the default apache2 recipe on Ubuntu 14.04.

This may be related to #197

[2014-08-02 22:30] #199 closed, assigned to nobody

[2014-08-04 22:54] svanzoest opened #202 "FreeBSD 10 Init files: Failed to enable the 'httpready' Accept Filter"
[Mon Aug 04 22:52:32.123685 2014] [core:warn] [pid 5449] (2)No such file or directory: AH00075: Failed to enable the 'httpready' Accept Filter

[2014-08-04 23:10] svanzoest opened #203 "FreeBSD 10: proxy_balancer: Failed to lookup provider 'shm' for 'slotmem': is mod_slotmem_shm loaded??"
proxy_balancer does not seem to have a mod_slotmem to load

[2014-08-06 03:52] nqsang90 opened #204 "Bug in recipe mod_auth_openid, resource compile mode_auth_openid"
Chef-client run fails with error directory not exist: /var/chef/cache/mod_auth_openid-v0.8. Since after extracting the package yield directory /var/chef/cache/mod_auth_openid-0.8 (notice without v).

The problem is right at cwd "#{Chef::Config['file_cache_path']}/mod_auth_openid-#{version}"

At line 92
bash 'compile mod_auth_openid' do
  cwd "#{Chef::Config['file_cache_path']}/mod_auth_openid-#{ve

[2014-08-06 16:39] jperry opened #205 "freebsd failure with latest chefdk"
[code]

Chefdk is pulling a newer version of the chef gem so running rspec causes the failure above.  Looks like master removed the freebsd cookbook.  Any ETA on a 2.0.0 release?

[2014-08-06 17:01] #205 closed, assigned to svanzoest

[2014-08-06 19:01] #204 closed, assigned to nobody

[2014-08-06 20:58] scottjacobsen opened #206 "Documentation about the default apache version is not clear."
In the README the documentation for the node['apache']['version'] attribute says the default version is 2.2. Actually the default version is platform specific.

[2014-08-06 22:53] #206 closed, assigned to nobody

[2014-08-06 23:55] #160 closed, assigned to nobody

[2014-08-07 14:12] brylor opened #209 "2.0.0 apache2.conf.erb:298: syntax error, unexpected end-of-input, expecting keyword_end"
Installed 2.0.0, attempted to upload... error

chef-repo git:(master) ✗ knife cookbook upload apache2
Uploading apache2        [2.0.0]
FATAL: Erb template templates/default/apache2.conf.erb has a syntax error:
FATAL: /Users/hypnosb/chef-repo/cookbooks/apache2/templates/default/apache2.conf.erb:298: syntax error, unexpected end-of-input, expecting keyword_end

[2014-08-07 20:32] #209 closed, assigned to nobody

[2014-08-08 17:49] svanzoest opened #213 "Adjust chefspec tests to use package on freebsd"
looks like the `freebsd_package` versus `package` thing (caused us to just 46b7364f0d5084e4e0834d32562d71eee8cb1f5b)  is considered a bug in chef 11.14.2. See opscode/chef#1773

[2014-08-08 20:38] svanzoest opened #214 "COOK-4336: remove simple "apache_module" recipes from apache2 cookbook except as needed for default recipe"
https://tickets.opscode.com/browse/COOK-4336 by Joshua Timberman @jtimberman

Except as included by the "default" recipe, all the "mod_" recipes in the apache2 cookbook should be removed if the only thing they do is "apache_module 'mod_name'."

Where applicable for the "default_modules" attribute, the corresponding apache_module should be used instead, in the default recipe (see COOK-4335, #228 ).

[2014-08-08 20:40] svanzoest opened #215 "COOK-4016: Cookbook apache2 not working on Mac OS X"
Migration of https://tickets.opscode.com/browse/COOK-4016 by Sylvain Tissot @stissot

Make the cookbook compatible with the Apache2 HTTP server installed on OS X via Homebrew

I did a fork at https://github.com/stissot/apache2 to work on this issue

[2014-08-08 20:43] svanzoest opened #216 "COOK-1460: Default Ports Attribute can cause daemon restarts on every Chef run"
Migration of https://tickets.opscode.com/browse/COOK-1460 by Greg Albrecht
plunk Internal JIRA: http://jira.splunk.com/browse/STORM-4670

To Reproduce

1. Add apache2 Cookbook Version 1.1.13 to Run List.
2. Add apache2::mod_ssl Cookbook Version 1.1.13 to Run List.
3. Run Chef.
Expected Results

1. Apache Daemon (httpd) should be configured and started with SSL support listening on ports 80 and 443

[2014-08-08 20:45] svanzoest opened #217 "COOK-3907: Apache2 cookbook lacking a `.kitchen.yml` file for Test Kitchen"
Migrating of https://tickets.opscode.com/browse/COOK-3907 by Jeff Byrnes

Upon cloning the repository, and attempting to run Test Kitchen, I discovered that there is no .kitchen.yml file. No instructions are apparent that would suggest a different course of action for creating this file on one's own.

[2014-08-08 20:46] #217 closed, assigned to svanzoest

[2014-08-08 20:49] svanzoest opened #218 "COOK-2554: Fails to start when authentication is LDAP"
Migration of https://tickets.opscode.com/browse/COOK-2554 by Jesse Campbell

I'm not sure if it happens elsewhere as well (I'm guessing it will), but when i set the authentication mode in the nagios cookbook to ldap, it includes the mod_authnz_ldap recipe, but does not include mod_ldap.
apache fails to start in this configuration..

is this a bug in apache (should apache2::mod_authnz_ldap include

[2014-08-08 20:51] svanzoest opened #219 "COOK-4456: apache2 web_app fails to reconverge after apache conf syntax error"
Migration from  https://tickets.opscode.com/browse/COOK-4456 by B Dupras

Summary - once an apache config syntax error is introduced, subsequent converges will never succeed even when the syntax error is corrected.

This issue occurs when a cookbook is using the apache2 web_app definition and supplying it a template. If an apache configuration error is introduced (e.g. a syntax error in an apache

[2014-08-08 20:52] #219 closed, assigned to svanzoest

[2014-08-08 20:55] svanzoest opened #220 "COOK-4471: RedirectLimitExceeded for mod_auth_openid"
Migration of https://tickets.opscode.com/browse/COOK-4471 by Marcus Morris
Maybe fixed via opscode/chef#1471

I get the following when provisioning new server that uses apache2::mod_auth_openjdk:

[code]

Is this a problem with the cookbook, or my environment? Wget correctly downloads the file...

[2014-08-08 20:57] svanzoest opened #221 "COOK-1044: application::passenger_apache2 cannot gracefully recover from errant template"
Migration from  https://tickets.opscode.com/browse/COOK-1044 by Steven Danna @stevendanna

The application::passenger_apache2 recipe does the following:

[code]

If the configuration file placed by the web_app resource is incorrect, subsequent restarts of apache2 will fail. If the user pushes a fixed template to the chef-server and run's chef-client, their chef-client run still fails (and apache i

[2014-08-08 20:58] #221 closed, assigned to nobody

[2014-08-08 21:02] svanzoest opened #222 "COOK-4412: Disable HTTP TRACE by default"
Migration from https://tickets.opscode.com/browse/COOK-4412 by Matthew Beermann

Currently: default['apache']['traceenable'] = 'On'

However, a number of sources such as [1] suggest that 'Off' would be a more secure default for a production environment.

[1] http://www.iss.net/security_center/reference/vuln/http-trace-enabled.htm

[2014-08-08 21:03] svanzoest opened #223 "COOK-4476: Apache2 autoindex is enabled by default, even if it's not in default_modules"
Migration of https://tickets.opscode.com/browse/COOK-4476 by Jesse Pretorius

When the default_modules are overridden to not include autoindex, it is still enabled on Ubuntu 12.04 LTS. I see that for the other platforms there is a loop in the recipe that disables all default modules that aren't included in the 'default_modules' attribute - it would seem that the same is required for debian/ubuntu.

[2014-08-08 21:04] svanzoest opened #224 "COOK-507: Properly handle module load order"
Migration of https://tickets.opscode.com/browse/COOK-507 by Aaron Peterson

Adding a mod_extract_forwarded recipe to apache2 and adding:

[code]

to a simple recipe gave the error "cannot load module due to undefined symbol proxy_hook_scheme_handler" because the modules are loaded via Include .../*.load see templates/default/apache2.conf.erb lines 147-149:

[code]

and that is in alphabetical orde

[2014-08-08 21:06] svanzoest opened #225 "COOK-3898: apache_site definition issues a restart rather than a reload to apache"
Migration of https://tickets.opscode.com/browse/COOK-3898 by Kimball Johnson

From reading the source code the apache_site definition issues a restart to apache rather than a reload. This is unnecessary and will cause an short outage to your webserver which is not wanted or required.

@juliandunn comment:
I think the reason is because any custom template can be specified in the web_app definition.

[2014-08-08 21:08] svanzoest opened #226 "COOK-3821: 1.8.0+ creates duplicate config files on Ubuntu 12.04"
Migration of https://tickets.opscode.com/browse/COOK-3821 by Russell Cardullo

With the change made in [COOK-3680](https://tickets.opscode.com/browse/COOK-3680) (#85) I now see some duplicate config files, both with and without the .conf extension.

[code]

This also causes the test to fail with the following error:

[code]

[2014-08-08 21:11] svanzoest opened #227 "COOK-3762: 1.8.0 fails with Syntax error on line 95 of /etc/httpd/conf/httpd.conf"
Migration from https://tickets.opscode.com/browse/COOK-3762 by David Petzel

Running version 1.8.0 of the apache2 cookbook fails on my RHEL 5.8 system. Pinning to 1.7.0 I don't see the issue.

Here is the error I got

[code]

Configuration file in question is https://tickets.opscode.com/secure/attachment/11511/httpd.conf

[2014-08-08 21:14] svanzoest opened #228 "COOK-4335: use apache_module instead of include_recipe for apache default modules"
Migration of https://tickets.opscode.com/browse/COOK-4335 by Joshua Timberman @jtimberman

The apache2 cookbook iterates over "node['apache']['default_modules']" in the default recipe, and does an "include_recipe" for the module.

This is a bad pattern because it requires that every module in this array be a recipe in the apache2 cookbook. This extends test complexity, amongst other things.

Inste

[2014-08-08 21:16] svanzoest opened #229 "COOK-4553: Removed Apache configuration files are restored on system upgrade on RHEL"
Migration of  https://tickets.opscode.com/browse/COOK-4553 by Andy Thompson

Since the apache2 cookbook deletes Apache configuration files on Redhat-based repos, when security updates are installed these files are restored. If the server is then restarted, the configuration files are then loaded.

This causes a big problem when using mod_ssl, as the ssl.conf configuration then makes the SSL port d

[2014-08-08 21:18] svanzoest opened #230 "COOK-4635: Allow apache2.conf template to be overridden."
Migration of https://tickets.opscode.com/browse/COOK-4635 by Steve Buzonas

The apache2 default recipe doesn't utilize a variable for source or cookbook on the apache2.conf template as many other cookbooks do. It would be nice to provide one in circumstances such as Ubuntu rolling out Apache2.4 which is incompatible with the Apache2.2 configuration.

[2014-08-08 21:26] #227 closed, assigned to nobody

[2014-08-08 21:56] #220 closed, assigned to nobody

[2014-08-09 00:00] #226 closed, assigned to nobody

[2014-08-09 00:06] #222 closed, assigned to nobody

[2014-08-09 05:18] svanzoest opened #231 "have attribute namespace match cookbook name"
It is common convention to have the cookbook name used for the attribute namespace, however, for the `apache2` cookbook, `apache` was used.

Related discussion on twitter: https://twitter.com/portertech/status/342458986550943744

Part of the original reasoning to use the `apache` namespace was that if there would be an apache3 cookbook, it would be able to just re-use the attributes.

Convention r

[2014-08-11 09:53] jsirex opened #232 "Each time I converge node resources changes"
[code]

`statedir` changes from /usr/... to /var/ and visa versa

[2014-08-12 05:40] scottjacobsen opened #233 "Web apps should return 503 when maintenance file is present"
Looking at the `web_app.conf.erb` template the redirects are setup to redirect everything to the maintenance page if it is present, but I don't see the http status code being set to anything, so it will be 200. That means crawlers will index the maintenance page as content, and caches might store the maintenance page when they shouldn't.

It also looks like it will redirect image requests to the m

[2014-08-12 17:28] #232 closed, assigned to nobody

[2014-08-12 18:44] svanzoest opened #235 "remove mpm_itk"
the ITK MPM is not shipped by the apache httpd core and therefore should be its own cookbook. It can be its own package without patches since 2.4.7.

http://mpm-itk.sesse.net/

See also #214 #351

[2014-08-12 18:53] svanzoest opened #236 "Improve MPM management support"
In a lot of cases `mpm_event` is becoming the default and the cookbook should deal with this in a more graceful way.  We should also try to take into account package updates that switch the default from one mpm to another #187

[2014-08-13 16:33] #233 closed, assigned to nobody

[2014-08-14 16:02] tolleiv opened #237 "Service name in default.rb breaks on Ubuntu systems"
Hi,

lines 24/25 modified in https://github.com/onehealth-cookbooks/apache2/commit/fd9cb679941832387d524287cbf6094b5db99d79 break the cookbook in version 2.0.0 on Ubuntu Precise systems. That's due to the fact that the package could be set to "apache2-mpm-prefork" or "apache2-mpm-worker" instead of "apache2"

The full issues/stacktraces are:

Chef::Exceptions::Exec←[0m
----------------------←[0m
/

[2014-08-15 13:47] greenreign opened #238 "apache2 service only_if guard timeout exceeded: default.rb::line 36"
**Script timed out running httpd -t**
----
[code]
----
When I run the script from the box it returns
Syntax OK
But it always takes about 5 seconds.  Can you make the timeout on the only_if guard longer or configurable? see default.rb::line 36

[2014-08-19 21:27] #235 closed, assigned to svanzoest

[2014-08-19 21:42] #213 closed, assigned to svanzoest

[2014-08-19 21:43] #203 closed, assigned to nobody

[2014-08-21 13:06] dmyers opened #240 "Add ability to set ip address for web app conf"
It would be nice to be able to set the ip address when creating virtual hosts using the web_app() definition and fallback to an attribute similar to the server_port() definition/attribute. Currently it is set to just *.

https://github.com/onehealth-cookbooks/apache2/blob/master/templates/default/web_app.conf.erb#L1

[2014-08-22 09:49] fdutheil opened #241 "Apached 2.2 & mpm_xxx"
I was "tuning" some mpm_prefork variables using env/attributes when I noticed that nothing was produced/taken in account (CentOS 6.5 & apache 2.2).
[code]
Oh, well, the problem is a bit more complex for apache 2.2 on rhel: the .load file is not required as it is not a separate module. So the recipe mpm_prefork.erb can't indeed be the entry point.
I don't see any easy way to hack the actual apache2

[2014-09-01 12:18] podwhitehawk opened #244 "rule to rewrite ip to hostname"
Hello!
Sometimes I'm using your cool cookbook with test-kitchen to test something with apache, but you default policy of rewriting ip to hostname, that default is ON is a bit annoying.
Can you make this thing adjustable? Like Rewrite or not to rewrite.

An example:
1. In .kitchen.yml make port-forward from your VM to your host ( - ["forwarded_port", {guest: 80, host: 8080}]);
2. Bring up that test

[2014-09-03 09:13] kforsthoevel opened #245 "Apache 2.4 config directories are used with Apache 2.2"
The `conf.d` directory is deleted and the `conf-available` and `conf-enabled` directories are created even if the Apache version is 2.2. But this should only be the case if the Apache version is 2.4, right?

[2014-09-03 20:29] #245 closed, assigned to nobody

[2014-09-04 15:42] uscb-railserver opened #246 "lear"

[2014-09-04 21:23] #246 closed, assigned to nobody

[2014-09-05 21:55] #240 closed, assigned to nobody

[2014-09-15 14:12] hrak opened #250 "Please do not remove "#{node['apache']['dir']}/conf.d""
Could you please reconsider / revert the change that removes "#{node['apache']['dir']}/conf.d" support? Removing this functionality takes away a lot of flexibility for a wrapper cookbook to drop small configuration changes in this folder. Our wrapper for example allows to enable/disable Etags, sendfile_mmap, adding a header 'X-Served-By' for clusters etc. by dropping .conf files in conf.d.

[2014-09-15 22:58] TheSeubert opened #251 "Recipe mod_pagespeed fails install with package resource"
Using the package resource will default to apt and will error out with
[2014-09-09T18:05:04+00:00] ERROR: package[mod_pagespeed](apache2::mod_pagespeed line 27) had an error: Chef::Exceptions::Package: apt package provider cannot handle source attribute. Use dpkg provider instead

Looks like a PR was submitted for this, I am filing an issue to meet the requirements to have this merged:

https://gi

[2014-09-16 14:38] venkiain opened #252 "apache2 service did not restart or reload by default onUbuntu 14.04 and centos 6"
Below said logs its restarting apache2 service but actually it did not reload or restart the service.
- change mode from '' to '0644'
  - change owner from '' to 'root'
  - change group from '' to 'root'
  - restore selinux security context
- execute[a2ensite default.conf] action run
  - execute /usr/sbin/a2ensite default.conf
- execute[a2ensite 000-default.conf] action run (skipped due to only_if

[2014-09-19 10:28] pascalif opened #255 "Linuxmint is not taken into account"
The code deciding which Apache version to install is using 'platform' and not 'platform_family' for fine-grained control. It is ignoring linuxmint and especially its version 17 based on Ubuntu 14.04 which is then installed with Apache 2.2 instead of 2.4.

[2014-09-19 14:27] gonzalovilaseca opened #256 "php5.conf and php5.load not being created in Centos7 with php 5.6"
I'm trying to install `apache 2.4` on `Centos 7` with `php 5.6`.
Php module wasn't loading so I looked into the /etc/httpd/mods-enabled folder and there where no `php5.load` or `php5.conf` files.

Any ideas where the problem might be?

[2014-09-23 03:44] #256 closed, assigned to nobody

[2014-09-23 03:50] #250 closed, assigned to nobody

[2014-09-23 04:00] #244 closed, assigned to nobody

[2014-09-23 04:01] #237 closed, assigned to nobody

[2014-10-02 11:48] pulponair opened #258 "default_site_name isn't used anywhere"
Should be used within default.rb instead of hardcoded names.

[2014-10-09 11:59] niven01 opened #259 "mod_unique_id cause Apache to fail restart on first coverge"
Hello,

I've encountered a problem after introducing unique_id where Apache fails to restart.
The work around at this moment is a `killall httpd` and re run chef-client

This can be reproduced in test-kitchen by just including two recipes:

-
    name: upstream_apache
    run_list:
      - "recipe[apache2]"
      - "recipe[apache2::mod_unique_id]"

The behavior seen is that httpd is stopped but on

[2014-10-15 21:36] dwaler opened #265 "Not possible to modify SSLProtocol"
With Poodle knocking down the door, I want to be able to modify the SSLProtocol statement from the default 'all' to exclude SSLv3. Since it currently isn't an attribute, this is not possible.

[2014-10-15 21:38] #265 closed, assigned to nobody

[2014-10-24 00:11] cam-stitt opened #282 "Won't install on Ubuntu 14.04."
I'm having a number of issues with getting this install on Ubuntu 14.04.

[code]

When I update my mod list to note include authz_default and use authz_core, I then get the following error:

```Chef::Exceptions::RecipeNotFound: could not find recipe mod_authn_core for cookbook apache2```

[2014-10-28 09:54] uchouhan opened #283 "Disable SSLv3 for Poodle security vulnerability"
http://askubuntu.com/questions/537196/how-do-i-patch-workaround-sslv3-poodle-vulnerability-cve-2014-3566

[2014-10-28 13:56] #283 closed, assigned to nobody

[2014-10-28 15:13] aik099 opened #285 "Make "httpd-devel" package name configurable"
Current the `httpd` package name can be configured via `node[:apache][:package]` and that is good. But if somebody will use `httpd24` package, then this would create conflict on `httpd-devel` package install.

I propose to add new `default[:apache][:devel_package]` attribute with `httpd-devel` value and it. Then no conflict will happen during package installation stage.

Related issue: aws/opswork

[2014-10-28 22:27] #187 closed, assigned to nobody

[2014-10-28 22:57] #251 closed, assigned to nobody

[2014-11-03 19:12] aik099 opened #287 "Missing "libphp5.so" when using Remi repo"
Decision to install `php` package is made based on fact, that php executable is missing. But php executable is provided by `php-cli` package, not `php` package: https://github.com/viverae-cookbooks/apache2/blob/master/recipes/mod_php5.rb#L37

I think that package install condition needs to be changed to assert presence of Apache php module instead.

This results in missing apache module file + ena

[2014-11-09 00:25] svanzoest opened #290 "Add support for multiple SSLCertificateFile directives"
In order to provide backwards compatibility it is useful to be able to specify an ECC Certificate with an RSA backup Certificate. This is supported by Apache 2.4 by setting up multiple `SSLCertificateFile` directives. See https://github.com/apache/httpd/blob/trunk/docs/conf/extra/httpd-ssl.conf.in#L115-124
[code]

In most cases this should be done in the VirtualHost configuration, so explicit supp

[2014-11-12 14:16] gioppoluca opened #292 "Add mod_cluster management"
It would be usefull to have a mod_clustetr management.
This could introduce an epel dependancy, but it could be worth having.
Thanks

[2014-11-23 20:07] vkhatri opened #295 "apache conf.d directory deleted by recipe"
hello!

is it intended to delete `conf.d` directory in `apache2::default`? any explanation is much appreciated.

    directory "#{node['apache']['dir']}/conf.d" do
      action :delete
      recursive true
    end

[2014-11-27 08:11] shunwen opened #296 "Missing mutex directory after installation"
Just noticed that after installation the `node['apache']['lock_dir']` is not created until the first time starting the apache2 service. It causes an error while installing passenger apache2 module, because that process tries to detect apache2 by running through the conf file and the missing lock folder would fail it.

I am wondering which is the better way to solve this issue -- create the folder

[2014-11-28 10:24] mvcaaa opened #297 "Vagrant chef-solo Cookbook iptables not found"
Backtrace:

Generated at 2014-11-28 11:08:40 +0100
Chef::Exceptions::CookbookNotFound: Cookbook iptables not found. If you're loading iptables from another cookbook, make sure you configure the dependency in your metadata
/usr/lib/ruby/vendor_ruby/chef/cookbook/cookbook_collection.rb:38:in `block in initialize'
/usr/lib/ruby/vendor_ruby/ohai/mash.rb:77:in`yield'
/usr/lib/ruby/vendor_ruby/ohai/mash

[2014-11-28 19:27] #297 closed, assigned to nobody

[2014-12-01 08:00] #292 closed, assigned to nobody

[2014-12-01 08:19] #186 closed, assigned to nobody

[2014-12-01 10:28] #252 closed, assigned to nobody

[2014-12-22 20:19] cevou opened #302 "New attribute needed: service_name"
Currently the package name attribute is used to install the package and to identify the service. On amazon linux it is possible to install apache 2.4 using the package httpd24. The service is still called httpd.
In this constellation the cookbook fails, because the service httpd24 cannot be found.

[2014-12-23 01:20] michaelnlindsay opened #303 "service[apache2] cannot be found in the resource collection"
I've just started seeing this error when trying to build a lamp server "resource template[/etc/apache2/mods-available/php5.conf] is configured to notify resource service[apache2] with action reload, but service[apache2] cannot be found in the resource collection. template[/etc/apache2/mods-available/php5.conf] is defined in /tmp/kitchen/cache/cookbooks/apache2/definitions/apache_mod.rb:21:in `bloc

[2014-12-25 17:14] davidski opened #304 "V3.0.0 under AWS Linux requires systemd module, but does not install it"
When using the apache v3.0.0 cookbook as a dependency from [chef-kibana](https://github.com/lusis/chef-kibana/tree/v1.3.2/) on AWS Linux 2014.09.01, the `systemd` module is linked in the `mods-enabled` directory, but the .`so` module file is not installed. Removing this symlink allows the service to start and function (apparently) normally.

Happy to provide more information as needed to help diag

[2014-12-29 06:43] #303 closed, assigned to nobody

[2014-12-29 06:47] #304 closed, assigned to nobody

[2014-12-31 15:55] #302 closed, assigned to nobody

[2015-01-15 16:34] docwhat opened #308 "Add action :delete for apache_{site,conf,etc.}"
It would be nice to have `action :delete` commands for the `apache_conf`, `apache_site`, etc.

I found it odd that it didn't.  I don't know much about definitions, but I assume you can handle actions?  Perhaps the `enable`/`disable` should be an action too?

[2015-01-15 17:28] svanzoest commented on #308
The definitions have `:enable` attribute. It is not an action in the LWRP sense, but acts the same way.

[code]

[2015-01-15 18:38] docwhat commented on #308
But that doesn't delete the file in the `-available` directory?

[2015-01-15 21:44] svanzoest commented on #308
Correct. It only removes the symlink from `-enabled`. We could add an action that will delete the template when we convert to LWRPs in #178

[2015-01-15 21:48] docwhat commented on #308
That'd be cool.

[2015-01-19 13:57] gravitystorm opened #309 "Make it clearer that ['apache']['version'] should be a string"
The readme says "Specifing 2.4 triggers apache 2.4 support" but it doesn't make it clear that it should be a string `'2.4'`, not a plain `2.4` (i.e. a float).

By mistake I put `default['apache']['version'] = 2.4` in a recipe and it took a while to figure out what was going wrong! The recipe mostly works but important parts are behind string equality checks.

[2015-01-19 16:09] drpebcak commented on #309
I added a little something to the readme that should help clear this up.

[2015-01-19 16:09] #309 closed

[2015-01-19 16:16] #282 closed

[2015-01-19 16:16] #255 closed

[2015-01-19 16:22] gravitystorm commented on #309
@drpebcak Thanks!

[2015-01-22 15:05] DennyZhang opened #310 "Can't restart apache, due to /var/lock/apache2 ACL issue"
Hi there

Below is the error message of running chef update.
I've checked the code, /var/lock/apache2 is changed to root on purpose.
Do you know what's the problem? My OS is Ubuntu 12.04.

---- Begin output of /etc/init.d/apache2 start ----
STDOUT: * Starting web server apache2
/var/lock/apache2 already exists but is not a directory owned by www-data.
Please fix manually. Aborting.
   ...fail!
STD

[2015-01-22 17:24] drpebcak commented on #310
This doesn't happen when just running the apache2 cookbook. Can you post the full output of your chef run? Likely the nagios3 cookbook is doing something that apache2 does not expect.

[2015-01-22 18:04] DennyZhang commented on #310
@drpebcak

https://github.com/viverae-cookbooks/apache2/blob/master/recipes/default.rb#L115-L125
   115	%W(
   116	  #{node['apache']['dir']}/ssl
   117	  #{node['apache']['cache_dir']}
   118	  #{node['apache']['lock_dir']}
   119	).each do |path|
   120	  directory path do
   121	    mode '0755'
   122	    owner 'root'
   123	    group node['apache']['root_group']
   124	  end
   125	end

If I c

[2015-01-23 03:20] joshuacox commented on #310
I'm getting the same error, now don't laugh at the sprunge url that really did come back:

http://sprunge.us/FLaW

[2015-01-23 04:31] drpebcak commented on #310
Huh, I take it back. This must be something that has changed recently. I'm going to check if this also happens with apache2.4

[2015-01-23 04:42] drpebcak commented on #310
Looks like this only happens with apache2.2

[2015-01-23 07:31] svanzoest commented on #310
This got set because of #296.

Related Directives:
- [Apache 2.4: Mutex](http://httpd.apache.org/docs/2.4/mod/core.html#mutex)
- [Apache 2.2: LockFile](http://httpd.apache.org/docs/2.2/mod/mpm_common.html#lockfile)

[2015-01-23 15:41] joshuacox commented on #310
after reading through #296 I'm a bit confused as this was working just fine a few months ago?

Just to check I threw this in my default attributes:

[code]

No, good.  For now, I'm just implementing @DennyZhang 's suggestion, but that does not seem like the long term solution.

[2015-01-23 15:53] DennyZhang commented on #310
@joshuacox
It's currently a blocking issue of this cookbook in some scenario.
It would be nice, if we can resolve this asap.

I'm wondering why we set the ownership as "root", instead of "www-data"?
https://github.com/viverae-cookbooks/apache2/blob/master/recipes/default.rb#L122-L123
122 owner 'root'
123 group node['apache']['root_group']

[2015-01-23 16:07] joshuacox commented on #310
@DennyZhang agreed on this being a blocker, I've got a temporary fork up, that merely deletes the line 118 you mentioned here:

https://github.com/joshuacox/apache2

and I'll work on a more permanent solution and post a pull request as soon as I find it.

[2015-01-23 17:34] joshuacox commented on #310
ok, here on debian jessie, if I install apache2 from repos I have:

[code]

is there any consensus on best practice here?  reading the link

[Apache 2.2: LockFile] ( http://httpd.apache.org/docs/2.2/mod/mpm_common.html#lockfile )

it does specifically note that you want to limit access to this lock directory, but it does not state that you should limit it to root only.  As you can see I've got a p

[2015-01-23 21:49] drpebcak commented on #310
Fixed with #312

[2015-01-23 21:49] #310 closed

[2015-01-23 21:50] drpebcak commented on #310
We can check back in on this if we find that other platforms require the same fix.

[2015-01-24 06:56] DennyZhang commented on #310
Verified. It works now.

Thanks guys.

[2015-02-12 05:04] svanzoest commented on #296
Closing based on 03bd215, please create a new ticket and reference this if you see any related issues.

[2015-02-12 05:04] #296 closed

[2015-02-12 14:34] hrak commented on #295
This issue is still holding us back from rolling out this cookbook in production, as reported by me in #250. In a mixed Ubuntu 12.04 / 14.04 (Apache 2.2/Apache 2.4) environment, rolling out this cookbook will break 12.04 based Apache boxes with config files in conf.d (as is usually the case).

A flag, or as i suggested, a "if node['apache']['version'] == '2.4'" check around the deletion of /etc/ap

[2015-02-12 15:12] svanzoest commented on #295
@hrak are your `conf.d` files not managed by chef? Can you provide the scenario where this is not working for you? How can we migrate the config file creation from `conf.d` to `conf-available`?

The older packages writing configs to conf.d is one such scenario any others?

[2015-02-12 16:03] hrak opened #315 "Missing .conf extension for sites-available/* sites-enabled/*"
In this bit of code, the cookbook wants to delete the default vhost config installed by the apache2 package
[code]
On Ubuntu 14.04 and Debian Sid, the files in sites-available/ and the links in sites-enabled/ have a .conf extension ('000-default.conf') so they are never removed.

[2015-02-12 16:34] svanzoest commented on #315
Thanks @hrak
There are a few different platforms, some with `.conf`, some without and I can easily see how we may have missed this.

[2015-02-13 09:42] hrak commented on #315
#188 seems related, and also mentions 000-default.conf, but the fix applied in that bug report still does not cover the .conf extension. The only thing that sort of fixed #188 was this change:

[code]
that re-enables the never removed 000-default.conf (ignoring the 'sites-available/default.conf' that gets installed by the cookbook). This bit is now removed from the current version of the cookbook.

[2015-02-16 15:03] hrak commented on #295
@svanzoest Its mostly that scenario indeed (packages on Ubuntu 12.04 and possibly other distros that drop off config bits in conf.d/, f.e. phpmyadmin).

Some of our own cookbooks drop small config changes in there as well, but we could simply fix that in our wrapper/app cookbooks by using apache_config.

Migrating from conf.d to conf-available could also be a nice thing to implement. Let the cookb

[2015-02-17 00:58] svanzoest commented on #229
Tracked in #279

[2015-02-17 00:58] #229 closed

[2015-02-17 02:17] svanzoest commented on #295
@hrak I agree with your comments. My additional concern is that between apache 2.2 and apache 2.4 you can not just copy over the `conf.d` files and enable them as they may not be compatible with apache 2.4 and therefore break a running service in production. It seems tricky to do this on such an upgrade between 2.2 and 2.4.

Of course if we are talking a cookbook only update then it would be a lot

[2015-02-17 02:50] svanzoest commented on #315
I think my recent commit resolves this, can you confirm?

[2015-02-17 02:50] #315 closed

[2015-02-17 02:51] svanzoest commented on #258
Thanks!

[2015-02-17 02:51] #258 closed

[2015-02-17 03:13] svanzoest commented on #241
Hi @acoulton Such a recipe update PR would be accepted. Although, for consistency, maybe we should use `load` instead of `loadmodule?` to match `conf`?

[2015-02-17 03:18] svanzoest commented on #230
I do not think this necessary, as you can override via `conf-enabled` and may otherwise cause too much confusion. We can file a new issue if we do find a good reason to do this.

[2015-02-17 03:18] #230 closed

[2015-02-17 08:12] hrak commented on #295
The cookbook upgrade scenario is the most likely to happen, and the only one I'm worried about atm. I don't think people in for example a mixed Ubuntu 12.04/14.04 environment are crazy enough to combine a major cookbook version bump with a distro upgrade :) (or upgrade a working Apache 2.2 setup to 2.4 and expect things to work flawlessly)

Yum rewriting config files and resetting permissions has

[2015-02-19 16:22] shanethehat opened #317 "apache_conf uses an undefined service"
In the apache_conf definition, the template resource notifies the apache2 service to restart, but this service is not defined. This results in chefspec failures when working with the definition in a simple recipe that does not otherwise include the apache2::default recipe.

[2015-02-22 22:28] svanzoest commented on #317
Thanks for using the cookbook. The cookbook was originally written with the assumption that you need to load the `apache2::default` recipe for you to use the definitions. We will need to evaluate this a bit more carefully to determine if we really want the definitions to be used without loading the default recipe first. If we do, we will need to update all the definitions, not just `apache_conf`.

[2015-02-23 09:05] shanethehat commented on #317
Hey Sander, thanks for the cookbook! I looked at the other definitions, and most of them do already include the default recipe, so I assumed this was an omission. Looking more carefully, the only other definition that it's missing from is apache_mod, so I will update my PR to include that too.

There is an argument that the user should be including apache::default into any recipe that uses these d

[2015-02-23 20:14] jeffmacdonald commented on #241
Is the the same issue or is it different from : The docs say that mpm_prefork is the default for this cookbook, but a barebones install of it uses mpm_event ?

[2015-02-23 20:28] svanzoest commented on #241
@jeffmacdonald you are referring to something unrelated.

 The default is indeed prefork, but based on platform detection we make assumptions on what the platform provided will have enabled and default to that. MPM switching is not something that is currently well supported. See the attributes for what the default MPM would be on your platform.

[2015-02-23 23:43] #317 closed

[2015-02-23 23:44] svanzoest commented on #317
Makes sense to me. Thanks!

[2015-02-24 13:54] jeffmacdonald commented on #241
Yeah. Its a pain in the butt at least for me as a chef noob. So many things depend upon this cookbook, including things that use PHP. But then it tells you PHP needs to be recompiled to support the MPM Event handler etc. Oh well. Can't complain. its free :)

[2015-02-24 14:34] svanzoest commented on #241
If you add `apache2::mod_php5` it should try to switch your mpm to a
compatible one. What platform and version are you on?
On Feb 24, 2015 5:54 AM, "jeffmacdonald" <notifications@github.com> wrote:

[2015-02-25 13:39] fsimmend opened #319 "add flag to set sensitve true in mod definition template"
The template defined in the mod definition is spamming the log. A flag to set sensitve = true would prevent that.

[2015-02-25 13:48] isbaran commented on #241
Hello,
I think its not restricted to centos, i'm using mpm worker on ubuntu 12.04 and also had to comment the .load file.
Fyi, conf directives are wrong too, MaxRequestWorkers and MaxConnectionsPerChild are not recognized (Apache/2.2.22)

[2015-02-27 20:33] jeffmacdonald commented on #241
Its all good now. I included apache2::mod_php5 and it worked fine :). This was on Ubuntu 14.04. I think where I ran into issues was using Cacti which tries to install php on its own or something. Anyways, all good now.

[2015-02-27 20:41] svanzoest commented on #241
@isbaran the conf directives change between Apache 2.2 and Apache 2.4 and the cookbook should translate the attributes for that. See for example in the [prefork mpm configuration template](https://github.com/svanzoest-cookbooks/apache2/blob/v3.0.1/templates/default/mods/mpm_prefork.conf.erb#L24-L25).

[2015-03-05 05:06] zstate opened #322 "mod_ssl package won't install for apache 2.4 on Amazon Linux 2014.09"
Hi,

It appears that there is a conflict when you try to use apache::mod_ssl recipe with apache 2.4 on Amazon Linux 2014.09. Here is the error:

returned 1, expected 0

In /var/lib/aws/opsworks/cache.stage2/cookbooks/apache2/recipes/mod_ssl.rb

27:     notifies :run, 'execute[generate-module-list]', :immediately
28:   end
29:

Declared in /var/lib/aws/opsworks/cache.stage2/cookbooks/apache2/recipe

[2015-03-05 14:40] drpebcak commented on #322
@zstate thanks for opening this issue. We do not currently have support for Amazon Linux, but we are trying to work towards this. If you would like to help us work on it, we would love to look at a pull request that implements different package names for different platforms.

[2015-03-06 04:20] DennyZhang opened #325 "In the test of Docker centos-7.0 choose wrong attribute.rb"
Run ohai in Docker centos-7.0, we will know platform_version is 'rhel'.

Propose to change: https://github.com/svanzoest-cookbooks/apache2/blob/master/attributes/default.rb#L80

From :
when 'redhat', 'centos', 'scientific', 'fedora', 'amazon', 'oracle'

to:
when 'redhat', 'centos', 'scientific', 'fedora', 'amazon', 'oracle', 'rhel'

[2015-03-06 04:28] svanzoest commented on #325
Are you referring to `platform_family`? I have never seen `rhel` being returned for `platform`.

[2015-03-06 04:53] DennyZhang commented on #325
If testing with Docker+ centos-7.0, "platform" will return rhel

Here is an example of yml file: https://github.com/DennyZhang/nagios3/blob/master/.kitchen.yml#L17

[2015-03-06 05:18] svanzoest commented on #325
I don't have an environment ready to run that on at the moment, but I do not really see how that would be the case according to the [ohai code](https://github.com/chef/ohai/blob/8.1.1/lib/ohai/plugins/linux/platform.rb).

[2015-03-06 05:24] DennyZhang commented on #325
Just run the test
[code]

[2015-03-06 05:42] svanzoest commented on #325
See below
[code]

[2015-03-06 05:58] DennyZhang commented on #325
I checked the detail. Yes, you're right with platform and platform_family.

Like you see it fails install httpd. I tried it manually in docker. And it fails as well.

[root@2a321c104dae ~]# yum -d0 -e0 -y install httpd-2.4.6-19.el7.centos
yum -d0 -e0 -y install httpd-2.4.6-19.el7.centos
Error unpacking rpm package httpd-2.4.6-19.el7.centos.x86_64
error: unpacking of archive failed on file /usr/sbi

[2015-03-06 06:13] svanzoest commented on #325
This seems to be related to `cap_set_file` failing, see https://github.com/docker/docker/issues/6980

[2015-03-06 06:13] #325 closed

[2015-03-06 06:21] svanzoest commented on #325
By the way, you should consider using  `require_chef_omnibus: true` instead of the provision_command in your `.kitchen.yml`.

[2015-03-06 06:36] DennyZhang commented on #325
@svanzoest  Thanks

[2015-03-06 06:46] svanzoest commented on #325
You are welcome!

[2015-03-08 10:07] xmik opened #326 "mod_proxy_html recipe should install libapache2-mod-proxy-html"
On debian 7.5 , using apache2 2.2.22-13+deb7u3 I used recipe mod_proxy_html but then I still needed to install `libapache2-mod-proxy-html`. Since the recipe mod_php5 installs `libapache2-mod-php5`, the recipe mod_proxy_html should install  `libapache2-mod-proxy-html`.

After that, when restarting apache2 service I got an error:
[code]

The solution for me was to add to /etc/apache2/mods-available/

[2015-03-09 09:51] sschueller opened #327 "Pipe of error_log is not possible with current apache2.conf template"
I can not configure a piped log like so:
<code>
ErrorLog |/usr/local/bin/apache_error.pl
</code>
The current template will append the log path. If I set <code>log_dir</code> to <code>|/usr/local/bin</code>,  <code>apache2/recipes/default.rb</code> will attempt to create that dir which is not possible.

Suggestion is to add a check if <code>error_log</code> starts with a pipe character.

pull reque

[2015-03-11 18:09] jorhett commented on #322
I'll send a pull request today or tomorrow, I've already hacked this into a local copy. We need a new attribute for package prefix.

[2015-03-16 16:55] rryke opened #329 "No MPM Loaded on Amazon"
I'm getting:Starting httpd: AH00534: httpd: Configuration error: No MPM loaded. On Amazon Linux. I've tried to change to worker and the default prefork in the attributes. Also tried to call the module mpm_prefork and mpm_worker as the named modules. I was also having issues with the cookbook installing 2.2, I changed the package name to httpd24 and that is working successfully now.

Any ideas?

[2015-03-16 23:43] yoshiwaan opened #330 "Apache development package attribute"
Related to https://github.com/svanzoest-cookbooks/apache2/issues/302.

When using Amazon Linux the httpd24 package allows installation of apache 2.4. The associated development package is httpd24-devel (httpd24-devel.x86_64).

The following files have a hard coded reference to the httpd-devel package:
recipes/mod_auth_cas.rb
recipes/mod_auth_openid.rb
recipes/mod_fastcgi.rb
spec/modules/mod_auth_o

[2015-03-17 21:45] scottymarshall opened #331 "SSLStrictSNIVHostCheck breaks apache in RHEL 5"
SSLStrictSNIVHostCheck did not come out until apache 2.2.12, which is further than what you can upgrade to in RHEL 5: http://httpd.apache.org/docs/2.2/mod/mod_ssl.html#sslstrictsnivhostcheck

[2015-03-17 21:48] scottymarshall commented on #331
https://github.com/svanzoest-cookbooks/apache2/pull/332

[2015-03-17 23:37] svanzoest commented on #331
Hi @scottymarshall,

Thanks for the issue. Keep in mind that we do not actively work to maintain backwards compatibility with RHEL5 as it is in in the [RHEL Production 3 Phase](https://access.redhat.com/support/policy/updates/errata#Production_3_Phase).

It looks like the latest openssl available is [0.9.8e-32.el5_11](https://rhn.redhat.com/errata/RHBA-2015-0026.html) and the latest apache httpd i

[2015-03-18 04:27] svanzoest commented on #327
Thanks for using and contributing to the cookbook. #328 is merged.

[2015-03-18 04:27] #327 closed

[2015-03-18 04:33] svanzoest commented on #329
We currently do not test or actively support Amazon Linux, but hope to add support for it in the future.
So, unfortunately I do not have any ideas on why it is not seeing an mpm module. Some platforms it is compiled in and can not be changed, you can try `httpd -V` to see.

[2015-03-18 04:47] svanzoest commented on #326
HI @xmik,

Thank you for using the cookbook and filing your report.
The debian package for [libapache2-mod-proxy-html](https://packages.debian.org/wheezy/libapache2-mod-proxy-html) is no longer used with apache 2.4 (see [jesse](https://packages.debian.org/jessie/libapache2-mod-proxy-html)), so this would be change that is only applicable to apache 2.2.

The requirement to load `libxml2` seems to b

[2015-03-18 04:51] svanzoest commented on #330
Hi,

We currently do not have support for Amazon Linux in this cookbook. We are open to a PR for support. I have added this issue to the Amazon Linux support milestone.

Thanks for your report!

[2015-03-18 04:55] svanzoest commented on #319
Hi @fsimmend

I recognize that keeping logs clean is a good thing, but setting a [sensitive attribute](https://docs.chef.io/resource_common.html#attributes) on the template resource does not seem like the right approach. The point behind that is to avoid having passwords and other secrets be exposed.

Can you provide a sample as to exactly which log lines you are referring to? It would help to ens

[2015-03-18 16:54] scottymarshall commented on #331
I agree.  RHEL5 is on its way out and we should be focused on RHEL7, but unfortunately I have not been able to convince my IT shop of this, so I am stuck with it for a while.

Take a look at the pull request and you will see that it does not harm later versions of apache to merge the change.  I only remove SSLStrictSNIVHostCheck from the config when it is set to "Off".  Since the default is Off, n

[2015-03-18 17:22] yoshiwaan commented on #330
Hi,

The cookbook actually works via attribute overrides on Amazon Linux even if it's not supported natively, it's just the recipes above that reference a hard coded package name that don't work.

Allow that to be set via attribute as well would allow those recipes to work via attribute override in the same was as the rest of the cookbook does.

No big push for full Amazon Linux support needed, ju

[2015-03-20 05:00] svanzoest commented on #331
Merged #332

[2015-03-20 05:00] #331 closed

[2015-03-22 06:23] zanjibar opened #333 "how to prevent restart ?"
In my cookbook
first time apache2 restart fail. next time  apache2 work fine.
So how can I prevent first time restart apache2 in middle of provisioning and delay after another
apache2 setting finished.

[2015-03-22 21:07] svanzoest commented on #333
Hi @zanjibar
Do you have any log files of the restart failure that  you can share? I have found that most of the time the failure to restart has to do with a syntax error or an configuration. Also what version of apache2 and on what platform are you using the cookbook on?

[2015-03-23 20:02] kinghrothgar opened #334 "Incorrectly claims that the cookbook has no dependencies"
The README claims "This cookbook doesn't have direct dependencies on other cookbooks, as none are needed for the default recipe or the general use cases."  However both iptables and logrotate are in the metadata as depends.  This means the cookbook can't be compiled without these.  Because of this I believe they should be listed as dependencies in the README as the cookbook is unusable without the

[2015-03-24 04:42] drpebcak commented on #334
This is actually an interesting point. Do we want to remove those dependencies from the metadata? We don't use actually include logrotate or iptables by default. We've got wrapper recipes if people decide to use them, but they aren't required for a 'default' setup.

[2015-03-24 14:26] kinghrothgar commented on #334
I would be really nice if we could remove them.  I actually switched to using the logrotate cookbook to making using this easier (and because I liked it) but switching to the community iptables cookbook is impossible for my setup.  To use this I had to fork it and remove the depends.

[2015-03-24 15:44] drpebcak commented on #334
@svanzoest any objections to removing those dependencies?

[2015-03-24 18:48] svanzoest commented on #334
Originally we did not have the dependencies listed, however, that means we could not test those recipes. We need to either remove those recipes entirely or update the README to confirm the dependencies.

Having a dependency on the community cookbook is not a huge big deal as long as we do not rely on particular versions as we could get caught behind a version constraint stopping usage of the cookb

[2015-03-25 08:54] rcambien commented on #333
Hi !

Same problem here. It started with #305
I'm running a PHP stack, so I need the prefork MPM.
During the first chef run, the MPM recipe request a delayed Apache restart and the deploy of the PHP apps request delayed Apache reloads.
At the end of the run, chef execute the reload then the restart and I think that Apache don't like the restart during the reload bootstrap.

I don't know what we ca

[2015-03-28 18:34] drpebcak commented on #330
I've made this work with Amazon Linux and apache2.4. Checkout #322

[2015-03-28 18:34] #330 closed

[2015-03-28 18:36] drpebcak commented on #322
@jorhett, @zstate I've put some stuff into master that should resolve this. Please let me know if you have a chance to look at it and see if it fixed your problem.

[2015-03-28 19:02] drpebcak commented on #334
I've updated the README, but I don't want to close this issue until we decide which way to go with it.

[2015-03-29 06:56] drpebcak commented on #322
This is working for me on several systems. I'm calling it good!

[2015-03-29 06:56] #322 closed

[2015-03-29 07:18] drpebcak commented on #329
@rryke any movement on this? I'd like to see some debug information so we can figure out what went wrong.

[2015-03-29 07:24] drpebcak commented on #285
Fixed the httpd-devel issue.

[2015-03-29 07:24] #285 closed

[2015-03-29 07:28] drpebcak commented on #287
I took the milestone out because this doesn't really have anything to do with Amazon Linux (correct me if I'm wrong).

[2015-03-29 16:59] rryke commented on #329
@drpebcak after @svanzoest 's comment, I moved over to the httpd cookbook. https://github.com/chef-cookbooks/httpd

It's not as full featured as this one, but it got the job done. If you'd like I can go back and get the logs.

[2015-03-30 04:30] drpebcak commented on #329
@rryke if you could, that would be great. I've only used Apache 2.4 on Amazon Linux, so I've never seen this. It sounds like the problem is only with 2.2?

[2015-03-30 14:36] rryke commented on #329
Did you use the Apache2 Cookbook for Amazon Linux?

Ryan Ryke
Cloud Life Consulting
424.286.4861
itsacloudlife.com

On Sun, Mar 29, 2015 at 9:30 PM, Taylor Price <notifications@github.com>
wrote:

[2015-03-30 14:42] drpebcak commented on #329
@rryke yes. I've been making improvements so that there is Amazon Linux support.

[2015-03-30 16:25] yoshiwaan commented on #330
Neat. Thanks very much.

[2015-03-30 23:06] drpebcak commented on #329
I'm going to close this for now, but I'd still love to see those logs @rryke.

[2015-03-30 23:06] #329 closed

[2015-03-30 23:21] drpebcak commented on #225
I think maybe this should be reworked... web_app does a `:reload` now, but our apache_config definition should maybe do a `:restart`?

[2015-03-30 23:22] drpebcak commented on #216
This doesn't happen anymore!

[2015-03-30 23:22] #216 closed

[2015-04-01 22:01] svanzoest commented on #333
@rcambien how are you specifying that you need the `prefork` MPM?

[2015-04-01 22:02] svanzoest commented on #326
@xmik any thoughts on what I said above?

[2015-04-01 22:21] svanzoest commented on #189
I tempted to remove the `provider` section in the service block and just let chef-client handle this, however we had #151 which added d42349dca3a24373141375cee49ab044fd468ff8 So, we will need to test if this is still an issue with chef 12 client or determine when this got fixed and require a chef version newer then that bug fix.

[2015-04-01 22:39] drpebcak commented on #189
Perhaps we could look into adopting something like [this](https://github.com/poise/poise-service)?

[2015-04-01 22:45] svanzoest commented on #189
@drpebcak possibly, but that should be new issue.

[2015-04-01 22:54] svanzoest opened #336 "Remove all default templates to simplify cookbook"
We are getting a lot of requests for updates on the default `web_app` template which is not maintainable in the long run. As it is expected that people will wrap this cookbook for their own usage a template can be provided by the wrapper cookbook. We need to make it more clear that most flexible way to handle this is for the user of the cookbook to own the templates. It is hard to have them to be

[2015-04-02 05:55] drpebcak commented on #189
I just mentioned it because it relates. Also with #335.

[2015-04-02 06:00] drpebcak opened #337 "Look into using poise-service as a replacement for standard `service` resource"
https://github.com/poise/poise-service

It would allow us to support a greater range of service management systems on different platforms.

Relates to #335, #151, #151 and #189.

[2015-04-02 07:32] rcambien commented on #333
I use a role with :
[code]

[2015-04-07 16:59] sean-horn opened #342 "RHEL Centos 6.x with Apache2.2 reload/restart Timing Failure"
There is a timing issue in the RHEL httpd tools/init script that is papered over with the sleeps in the following code before apache2 v2.0.0.
https://github.com/svanzoest-cookbooks/apache2/blob/v1.11.0/recipes/default.rb#L188-L196

The service resource should have these custom commands re-instituted to avoid errors when folks just want to use apache2.2 on older OSes.

[2015-04-07 17:06] svanzoest commented on #342
Hi @sean-horn
Thank you for using the cookbook. Do you have more specifics on the timing issue that you are seeing here? Our goal has been to make sure the cookbook works on most platforms with a deep focus on supporting apache 2.4 on the latest 2 major revisions of an operating system.

It seems to me that this has been fixed in newer versions of the os and package. It is a lot of overhead to kee

[2015-04-07 17:16] sean-horn commented on #342
@svanzoest The issue is definitely an OS/package issue.

If I do `service httpd reload; service httpd restart` on a centos 6.2 system, then I get

[code]

If I insert a sleep in there, it succeeds
[code]

Yes, that's a good point that the old code handles the issue. Thanks for the update.
I'll close this out.

[2015-04-07 17:16] #342 closed

[2015-04-08 11:16] ikben opened #343 "Wrong apache version installed on Amazon Linux"
I'm running Amazon Linux 2014.9

On [line 60 in attributes/default.rb](https://github.com/svanzoest-cookbooks/apache2/blob/master/attributes/default.rb#L60) `default['apache']['version']` get's set to `2.4` but [on line 86 in the same file](https://github.com/svanzoest-cookbooks/apache2/blob/master/attributes/default.rb#L86) `default['apache']['package']` is set to `httpd`.

This should be `httpd2

[2015-04-08 15:12] drpebcak commented on #343
Nice catch, thanks!

[2015-04-09 05:03] svanzoest commented on #343
Looks good, but it seems like it broke the build.

[2015-04-13 07:07] drpebcak commented on #343
This should be fixed when the tests for this build - 970ca5c - finish running.

[2015-04-13 07:09] drpebcak commented on #334
@svanzoest I wonder if we would be better suited to let people handle firewalls/log rotation in their own wrapper cookbooks. That way they could have maximum flexibility, and we wouldn't have to worry about the dependencies just for those two recipes.

[2015-04-17 11:55] SinisterLight opened #346 "Unable to install apache with php on 14.04"
Trying to install apache2 with php, unable to start

Ubuntu 14.04

 recipes installed

default
mod_python
mod_php5
mod_cgi
mod_ssl
mod_rewrite

Starting web server apache2                                                                                                                                         The apache2 configtest failed.
Output of config test was:
[Fri Apr 17 11:51:29.430754 2015]

[2015-04-17 11:59] SinisterLight commented on #346
after doing

 override['apache']['mpm'] = 'prefork'

It works.

looking at the attribute file, default is 'event'
But this say it should be prefork
https://wiki.archlinux.org/index.php/Apache_HTTP_Server#PHP

Should default value be changed ?

[2015-04-17 12:34] martinb3 commented on #346
I believe on 14.04, the default is event, when installed from their packages, ArchLinux's wiki non-withstanding.

[2015-04-17 14:30] drpebcak commented on #346
Are you using ubuntu or arch?

[2015-04-24 09:46] Maks3w commented on #336
I prefer to have a quick setup with some defaults and customize when the needs grown.

May highlight the way of use custom templates is enough.

[2015-04-27 06:49] PierreRambaud opened #347 "Release new version"
Hi,
Current version on the supermarket not working with Ubuntu 14.4 and Debian wheezy due to incompatibly with 2.4, can you please release a new version?

Regards

[2015-04-27 07:29] drpebcak commented on #347
What issue are you seeing? This cookbook does support Apache2.4.

[2015-04-27 07:31] PierreRambaud commented on #347
This one when using supermarket package.
[code]

No problem when using a Berksfile pointing on this repository.

[2015-04-27 14:39] drpebcak commented on #347
What's in your run list?

[2015-04-28 06:15] drpebcak commented on #347
Here is the recipe for mod_authz_default as of 3.0.1 - https://github.com/svanzoest-cookbooks/apache2/blob/v3.0.1/recipes/mod_authz_default.rb

It just includes mod_authz_core. How are you getting to the stage where the cookbook is trying to execute `a2enmod authz_default`?

[2015-04-28 06:21] svanzoest commented on #347
Do you have `node['apache']['default_modules']` set on the node? The cookbook [sets the default](https://github.com/svanzoest-cookbooks/apache2/blob/v3.0.1/attributes/default.rb#L306-L309), but maybe you have overwritten it?

[2015-04-28 13:58] PierreRambaud commented on #347
Sorry, seems to be my fault, after looking an other cookbook have failed
dependency to this cookbook :/
On Apr 28, 2015 8:21 AM, "Sander van Zoest" <notifications@github.com>
wrote:

[2015-04-28 14:41] #347 closed

[2015-05-04 19:07] yoshiwaan opened #348 "Amazon Linux + mod_php5 recipe"
Hi,
Amazon linux supports installing different version of PHP via package. This creates different versions of the .so apache module in /usr/lib64/httpd/modules.

Amazon linux then uses a couple of symlinks to set a default php version as it were, which is probably easier to just see than describe:

    [ec2-user@php55 ~]$ ls -l /usr/lib64/httpd/modules/libphp*
    -rwxr-xr-x 1 root root 4253400 Ap

[2015-05-04 19:23] svanzoest commented on #348
I think the biggest thing holding back a release right now is a full regression test-kitchen run on all supported platforms and making sure it comes back clean. Once that is completed we can do a release.

The issues with dealing with different versions on all platforms really make the tests and scenarios spiral out of control. So, we generally focus on a main configuration per platform (usually t

[2015-05-04 19:57] yoshiwaan commented on #348
Thanks Sander.

I think it's perfectly reasonable to only support a default configuration and the way the rest of the cookbook supports alteration via attribute overrides is the best way to do it.

So if that php module filename could be an attribute as well then it's probably the easiest and most consistent way to fix it.

But I think you already knew that ;)

[2015-05-06 00:11] yoshiwaan opened #349 "Duplicate section of apache2.conf.erb"
I know it's not released yet but I thought I'd raise an issue in case no one noticed before it went to a release.

In the master branch search for "# Sets the default security model" in templates/default/apache2.conf.erb

There is a section of configuration that is probably a work in progress but is currently a duplicate of an existing section.  I doubt it breaks anything but it's messy.

[2015-05-06 00:39] drpebcak commented on #349
Thanks!

I removed the duplicate section.

[2015-05-06 00:39] #349 closed

[2015-05-06 23:26] SIGUSR2 opened #351 "[Ubuntu] Default recipe installs conflicting mpm_itk.load file"
Despite not supporting mpm_itk, when using apache 2.4 the default `mpm_*.rb` recipes are calling the apache_module definition for mpm_itk by doing: `apache_module('mpm_itk') { enable false }`. This will create the `/etc/apache2/mods-available/mpm_itk.load` file, which has the wrong content and conflicts with future unattended installations of the `apache2-mpm-itk` package (called by another cookbo

[2015-05-06 23:46] svanzoest commented on #351
Hi,

Thanks for your report and using the cookbook. We appreciate it.

We initially had `mpm_itk` support when we released the 2.0 version of the cookbook, but it was not easy enough to support it on all platforms, so we removed it. We decided to focus on the main package as provided by the ASF and any additional modules should be handled by a separate cookbook. It is unfortunate that the `libapac

[2015-05-07 00:25] SIGUSR2 commented on #351
Hello,

I think both your ideas would work, if applied together - maybe with a warning to the user that additional configuration is needed.

Unfortunately, that's the default behavior of `apt-get` when finding conflicting files pre-created. Even specifying full unattended switches to the command line doesn't work. One needs to play with extra command line options and an environment variable to con

[2015-05-07 18:38] SIGUSR2 commented on #351
I've forked and modified the cookbook to work with an unsupported mpm: https://github.com/svanzoest-cookbooks/apache2/compare/master...SIGUSR2:master

Please let me know if that's ok for a PR.

[2015-05-07 22:57] svanzoest commented on #351
:+1: Yeah, that looks great. You could then create an `apache2-mpm-itk` cookbook that handles those parts for easy consumption. Thanks!

[2015-05-07 23:34] SIGUSR2 commented on #351
Allright, PR #353 created. Thank you!

[2015-05-08 00:41] svanzoest commented on #351
:+1: merged! Thanks.

[2015-05-08 00:41] #351 closed

[2015-05-08 00:47] svanzoest commented on #346
As @martinb3 states, the default mpm used in the cookbook should match that of the default on that operating system. You can override this by specifying it by setting `apache.mpm` before the cookbook runs. We definitely want to make MPM switching better, but it is currently not very well supported on most platforms. The enhancement is tracked as #236.

I will close this it looks like your question

[2015-05-08 00:47] #346 closed

[2015-05-08 00:58] svanzoest commented on #238
The more I think about this is that what happens when the test never completes? Do we really have a case where it does not complete in 10 seconds? Ultimately there needs to be a time out somewhere. I do not really have the time to test this out, so feel free to reopen this if someone has an example and we can actually confirm what the behavior is when the test never completes.

[2015-05-08 00:58] #238 closed

[2015-05-08 01:26] svanzoest commented on #189
I am going to close this, as we have cleaned the provider a lot based on other issues and ultimately, chef-client should manage this for us.

[2015-05-08 01:26] #189 closed

[2015-05-08 01:32] svanzoest commented on #225
This is what we got currently
[code]
It does seem like apache_config should do a restart. More details at http://httpd.apache.org/docs/2.4/stopping.html

[2015-05-08 01:36] svanzoest opened #354 "mpm attributes are not loaded on apache 2.2"
This is because the older apache versions do not have any mpm modules, so we do not drop a per mpm configuration file.

For some discussion on this see #241

[2015-05-08 01:38] svanzoest commented on #241
This issue got a lot of different related topics in it and therefore it is hard to keep track of what the actual issue is. I have created #354 to track the specific issue of the mpm attributes not being loaded into apache pre-apache 2.4 referencing this ticket for completeness.

Please open any new issues referencing this one if I missed one.

[2015-05-08 01:38] #241 closed

[2015-05-08 01:46] svanzoest commented on #259
This seems to be an issue with the 2.2 init scripts. We did remove a `&& sleep 1` from service resource in the cookbook (https://github.com/svanzoest-cookbooks/apache2/commit/f0fc1ce490a5fccb10915c1e5088a4caaa352db5)  seems like this showed up when we removed it?

We clearly do not need it on the newer platforms, but it seems like `mod_security` and `mod_unique_id` cause things to take longer in a

[2015-05-08 01:50] svanzoest commented on #287
Seems like #339 is related to this.

[2015-05-08 01:53] svanzoest commented on #290
This can already be done just by dropping your own configuration template in `conf-enabled` via `apache_conf`.

[2015-05-08 01:53] #290 closed

[2015-05-08 01:56] svanzoest commented on #319
Hi @fsimmend can you provide a sample of the log lines you are referring to?

[2015-05-08 02:05] svanzoest commented on #326
I added the dependency on `libapache2-mod-proxy-html`, so that should help some folks still on apache 2.2. Thanks for the report.

[2015-05-08 02:05] #326 closed

[2015-05-08 02:09] svanzoest commented on #334
@drpebcak Let's remove `apache2::iptables`, `apache2::god_monitor`, `apache2::logrotate` and let people handle that in their wrapper cookbooks and remove the dependencies. We will want to update the change log to reflect that.

[2015-05-08 02:11] svanzoest commented on #336
@Maks3w the default would be not to have any vhosts, similar to a fresh httpd package install.

[2015-05-08 02:13] svanzoest commented on #348
We should combine the effort of this with #339, as I think it is essentially the same issue?

[2015-05-08 02:13] #348 closed

[2015-05-08 02:15] #343 closed

[2015-05-08 03:13] docwhat commented on #238
I'm seeing two things that can mitigate this problem.  Doing both would be ideal.

One, `httpd -t` runs on every chef-run.  Ideally, 'httpd -t' should only be run when configurations change, not every run.  For example, for our in-house sshd configuration management, we create the config file(s) in the cache and run `sshd -T` (which is like `httpd -t`) on those cache files. If it passes, we copy o

[2015-05-08 06:23] #334 closed

[2015-05-08 06:34] drpebcak commented on #259
I believe this should fix it - it seems like this is only being experienced on rhel systems.

[2015-05-11 10:38] phpPhil commented on #333
Same issue here. I've set `mpm => prefork` as @rcambien did. Interesting is there's nothing in stdout and stderr or anything relevant in the apache logs that could indicate what actually went wrong.

These are the logs:

		==> my-server: [2015-05-10T12:05:25+10:00] INFO: execute[a2enmod mpm_prefork] sending restart action to service[apache2] (delayed)
		==> my-server: [2015-05-10T12:05:25+10:00] I

[2015-05-11 12:09] phpPhil opened #355 "Apache restart triggered by mpm_prefork fails"
I just came across an issue which is possibly related to other mpm issues I read about on this tracker, especially #333 and #354.

When setting `mpm => prefork` apache fails to restart itself after `a2enmod mpm_prefork`.
Interesting is there's nothing in stdout and stderr that could indicate what actually went wrong, this is the output:

[code]

These are the Apache logs:

[code]

Worth noting...

[2015-05-14 05:22] #259 closed

[2015-05-25 00:17] svanzoest commented on #355
How are you setting `apache.mpm` to `prefork`? It is expected that you set this attribute before the `apache2` recipes run.

[2015-05-25 00:18] svanzoest commented on #333
Is apache loaded before your role is in the run list? I have a use case where I am doing this pretty regularly and I am not seeing this.

[2015-05-26 17:34] tpetchel commented on #333
I'm seeing the exact same behavior. My use case is a LAMP stack that we're using for a Learn Chef tutorial.

My code is here: https://github.com/learn-chef/manage-a-web-app-ubuntu.

I've observed that the cookbook fails the first time you run it, but the app is configured properly. The second time I run the cookbook, there are no errors, and my app continues to function.

For me, the cookbook runs

[2015-05-26 18:12] svanzoest commented on #333
@tpetchel I do not see where you are setting `apache.mpm` to `prefork` in your code. I would expect it to be listed at https://github.com/learn-chef/manage-a-web-app-ubuntu/blob/master/chef-repo/cookbooks/awesome_customers/attributes/default.rb#L8

[2015-05-26 18:16] tpetchel commented on #333
@svanzoest thanks for looking. Sorry, I should've mentioned that I set `prefork` in my local version. At the exact location you mention, I set it like this:

[code]

[2015-05-26 18:21] svanzoest commented on #333
@tpetchel when it fails, do you see any log output in the apache logs? I suspect that when it fails it is switching between mpms. Does your test-kitchen/vagrant build have apache already installed? Any way you could share the vm and the `.kitchen.yml`?

[2015-05-26 18:23] svanzoest commented on #333
Switching between MPM during a chef run is not supported currently, as there are lot of details involved that are very different depending on the platform. Some platforms have the MPM builtin for example, so there is no way to actually do this. We have an open issue for the switching of MPM after install (#236), but I do not expect us to be able to address that any day soon because of the constrai

[2015-05-26 18:28] tpetchel commented on #333
@svanzoest I'll double check the logs, but from what I remember there wasn't any useful information other than that the restart operation "failed".

And I'm using the default opscode 14.04 box, which I don't believe comes with Apache installed, but will double check that as well.

Unless I'm misunderstanding, but I don't think there's a MPM switch occurring, since Apache isn't installed yet, `pref

[2015-05-26 18:39] svanzoest commented on #333
@tpetchel because switching between MPMs is tricky with apache running and already installed, I expect that when you enable `mod_php5` and the current mpm is `event` you will require a second run for you to be able to enable the `prefork` mpm. If you look at the provided [.kitchen.yml](https://github.com/svanzoest-cookbooks/apache2/blob/v3.1.0/.kitchen.yml#L100), it includes `prefork-ubuntu-1404`,

[2015-05-26 20:50] tpetchel commented on #333
@svanzoest your `.kitchen.yml` inspired me to try something. In [webserver.rb](https://github.com/learn-chef/manage-a-web-app-ubuntu/blob/master/chef-repo/cookbooks/awesome_customers/recipes/webserver.rb#L7), I reordered things so that mod_php5 is installed before Apache:

[code]

and it worked! I naively thought that Apache needed to be installed before this module could be. This feels justifiabl

[2015-05-26 20:52] tpetchel commented on #333
@svanzoest Oh and one more question - I never had problems with this on the [RHEL/CentOS](https://github.com/learn-chef/manage-a-web-app-rhel) version of things, but do you think I should apply the same changes to it as well?

[2015-05-26 21:09] svanzoest commented on #333
@tpetchel Hmm..I am not sure I fully understand why changing the order of the install recipe would matter other than now we are forcing ubuntu to pull in `apache2` as a dependency rather than having the cookbook do it first. This suggests to me that your setting of `apache.mpm` did not take.

We should have [some warning output that mentions what MPM is installed](https://github.com/svanzoest-cook

[2015-05-26 23:09] phpPhil commented on #355
I'm using chef solo to provision. I configure the setting via chef.json:

    chef.json = {
        ...
        :apache => {
            :mpm => 'prefork'
        },
        ...
    }

So yes, this is configured before the apache2 recipes run.

[2015-05-26 23:55] tpetchel commented on #333
@svanzoest I think I misread your `.kitchen.yml`. I see now that you are indeed installing Apache before mod_php5.
I'm continuing to look into it, but what I'm doing looks a whole lot like what you're doing!

And thanks for clearing up my question for `redhat` - that all rings a :bell: now.

[2015-05-27 10:11] rcambien commented on #333
Switching recipes also solve my problem !
It works because libapache2-mod-php5 have a post-install script that switch the MPM to Prefork : https://github.com/steveathon/Debian-PHP5/blob/master/debian/libapache2-mod-php5.postinst.extra

So, when the default recipe check the MPM, it's already configured.

Switching recipe doesn't solve the problem, we just avoid it ;)

[2015-05-27 18:49] tpetchel commented on #333
@svanzoest I've narrowed things down a bit - I started by resetting my cookbook to its initial state, but adding the `prefork` value to my `apache.mvm` attribute. I then removed the database recipe from my run-list. Everything ran fine.  Good so far.

I then added back the database recipe and started commenting resources. Appears that the [mysql_service](https://github.com/learn-chef/manage-a-web-

[2015-05-27 18:55] svanzoest commented on #333
@tpetchel Thanks for doing that.  I'd love a repo case. I can't think of anything off the top of my head as to why that would case an issue. @someara any ideas?

[2015-05-28 06:56] PierreRambaud opened #356 "Apache always failed when restarting the first time"
Hi,
After a simple `include_recipe 'apache2'` on an Ubuntu 14.04 (apache 2.4.7) with this box (using chef-provisioning)

[code]

I catched this error:

[code]

Did I do something wrong?

Regards,

[2015-05-28 07:18] tpetchel commented on #333
@svanzoest I don't see any warnings. Only warning I've seen but since corrected was the one about PHP wanting to run with prefork.

One update though - a coworker successfully converged my cookbook on the first run, but on a MacOS workstation. I then tried the same thing, but from a Windows workstation, and it also ran clean!

I then tried converging from a clean Ubuntu 14.04 workstation, and I ge

[2015-05-28 07:48] rcambien commented on #333
@tpetchel no, I don't use any mysql cookbook on this run.

Do you think it may be a race condition between the delayed reload and restart ? Chef trying to restart apache immediately after the graceful (or maybe at the same time ?) ?

[2015-05-28 09:37] svanzoest commented on #356
This is related to needing to load the etc/defaults first. I would
recommend you use apachectl configtest instead.
On May 27, 2015 11:56 PM, "GoT" <notifications@github.com> wrote:

[2015-05-28 09:39] PierreRambaud commented on #356
In fact, I just executed this command because `service[apache2]` are running it in `only_if` resource parameter.

[2015-05-28 16:35] tpetchel commented on #333
@rcambien @svanzoest race condition comes to my mind as well, based on what we've seen.

[2015-05-31 01:01] svanzoest commented on #356
If that guard kicks in the config has syntax errors. What does `apache2ctl configtest` return as the reason for the syntax error?

[2015-05-31 01:05] svanzoest commented on #333
Maybe the async nature of upstart/systemd is causing this on busy instances

[2015-06-05 18:13] dgm commented on #295
As we are only beginning to utilize chef, we have some conf files in conf.d that are not under chef control... and it's a bit of a pain to upgrade servers to this cookbook when I have to first backup the conf.d files, run chef-client, and then restore any missing configs.

[2015-06-05 18:25] svanzoest commented on #295
@dgm my suggestion to you is to not do that. Determine what files are in `conf.d` and add them to your chef wrapper cookbook and test them. Once you do that you can just run chef-client and not even worry about it. The configs will be available in `conf-enabled` without a hitch and you now also have documented exactly what is required to configure the web server.

[2015-06-09 20:09] HeathNaylor opened #359 "Can't Enable/Disable Sendfile"
There is an issue with Sendfile and Virtualbox (https://www.virtualbox.org/ticket/9069). When using this cookbook with Vagrant and Virtualbox as the provider this bug is encountered. I want to be able to toggle `EnableSendfile On` or `EnableSendfile Off` within `apache2.conf.erb` using something like `@params`. I have given it a try on my end but it seems that `@params` is not accessible from with

[2015-06-09 21:32] svanzoest commented on #359
You can write arbitrary config snippets by using the `apache_conf` definition.

For example: write a template in `templates/default/` of your wrapper coobkook such as `my_apache2/templates/default/sendfile.conf.erb` containing `EnableSendfile Off` and reference it in your wrapper cookbook as follows:

[code]
This will add it to your config file via the `conf-enabled` directory.

[2015-06-09 22:24] HeathNaylor commented on #359
@svanzoest and then would my `sendfile.conf.erb` just be `EnableSendFile Off`?

[2015-06-09 22:27] svanzoest commented on #359
Yes. You can set as many directives that way as you want with as many
templates as you want.
On Jun 9, 2015 3:24 PM, "Heath Naylor" <notifications@github.com> wrote:

[2015-06-11 17:19] Paladin opened #360 "CentOS 7 timeout issue re-appears."
Getting a consistent timeout check when running against a local vagrant CentOS7 box. It's dying on the httpd -t syntax check. I was successfully able to repeat the command timeout from the command line after logging in to the vagrant box. I clocked it as taking nearly 30 seconds to return from the command line. I fixed it by adding a global ServerName directive in the httpd.conf file:

ServerName

[2015-06-11 17:27] Paladin commented on #360
Never mind. Cranial flatulence. That last won't work because the first time the timeout happens is before any of the site config files get written. So it has to be done while writing the main config file(s).

[2015-06-11 23:58] drpebcak commented on #360
Not sure if I completely agree with this being an issue. If you aren't using a real FQDN/something with DNS, you can also just put an entry in your hosts file.

Did you have a suggestion for how the cookbook could address this without doing hacky stuff?

[2015-06-12 15:29] Paladin commented on #360
If "hacky stuff" was better defined I'd have a shot at answering the question, but here's a few ideas. You decide how many of them are too 'hacky' to be permitted.

a) Include a ServerName 127.0.0.1 directive in the global area of the file.
b) If the cookbook user adds a "server_name" attribute to the apache node, write it out in the global file.

There are varying degrees of "hack" in both of tho

[2015-06-12 18:26] drpebcak commented on #360
I was thinking about this some more, and I realized why we haven't seen this issue in our own tests (not recently, anyway) - https://github.com/svanzoest-cookbooks/apache2/blob/master/.kitchen.yml#L60

We use the fqdn cookbook to solve this when testing in vagrant/test-kitchen type environments.

[2015-06-12 20:58] drpebcak commented on #360
@Paladin as far as 'hacky' goes, I just wouldn't want anything to be added to the cookbook that could potentially filter into a production environment - existing users shouldn't have to change their workflows to avoid whatever addition is made.

[2015-06-12 21:54] Paladin commented on #360
Hmmm. I'll have a look and see if it'll do what I need for this.

[2015-06-15 10:25] PierreRambaud commented on #356
HI and sorry for the delay,

This is what both commands are returning:
[code]

I think you must change the `only_if` block at this line: https://github.com/svanzoest-cookbooks/apache2/blob/5f10550ff89c20306f4160025425315141bdefed/recipes/default.rb#L219

Regards

[2015-06-15 15:47] svanzoest commented on #356
It looks like the error that caused the `only_if` to fail has been resolved, so the block will succeed. Until we figure out what caused it to fail, there is not much I can do.

[2015-06-15 16:09] Paladin commented on #360
Hmm. If my understanding is correct (not always a certainty) the fqdn cookbook solves my issue, but I had to use it slightly differently than you did. You included it in the definitions for the test suite, I need to include it in the platform, because both the tests and the build fail without it. So I added it to the CentOS 7 platforms. I think I need it for the Ubuntu 15 image I'm working with, t

[2015-06-15 16:10] #360 closed

[2015-06-16 16:43] yoshiwaan opened #361 "Heads up: Amazon Linux separate from RedHat in serverspec os object now"
https://github.com/serverspec/specinfra/releases

When running serverspec os[:family] reports amazon linux to be 'amazon' now instead of 'redhat'

This means that [apache2/test/fixtures/serverspec_helper.rb](https://github.com/svanzoest-cookbooks/apache2/tree/master/test/fixtures/serverspec_helper.rb) will need updating with something like the following:

[code]

I would say platform_version has t

[2015-06-16 17:01] yoshiwaan commented on #361
Hmm, it's a little trickier as in supported versions for Chefspec 2014.09 is used but when running serverspec then the logic in serverspec_helper.rb (below) sets the version to the latest amazon linux if you're using it (2015.03).
[code]
So either two json attribute files need to exist in test/fixtures/platforms/amazon or serverspec_help.rb needs updating to force 2014.09, of which the second is p

[2015-06-16 17:49] svanzoest commented on #361
Thanks for the heads up. We can also put in a request for 2015.03 be added to [fauxhai](https://github.com/customink/fauxhai)

[2015-06-16 18:08] #359 closed

[2015-06-16 18:15] cmann opened #362 ".htaccess/.htpasswd regex should be escaped"
In `templates/default/apache2.conf.erb` there's a `File` directive to disallow access to .htaccess/.htpassword files. The `.` character needs to be escaped on lines 96 and 98 as it's currently treated as a wildcard.

Eg. I use the cookbook to help deploy a mirror of the Ubuntu archives and the `shtool` package cannot be downloaded without manually modifying the configuration as it matches the exis

[2015-06-16 18:27] svanzoest commented on #362
:+1: thanks. I will merge shortly.

[2015-06-16 20:43] HeathNaylor commented on #359
This fixed my issue, thank you.

[2015-06-18 13:08] mrmarbury opened #364 "/usr/lib64/apache2/mod_mpm_prefork.so: cannot open shared object file: No such file or directory"
Hi,

I am using this Cookbook with SLES12. `apache2::default` runs without any error. But afterwards there is no running process. So I try to start apache by hand.

The start fails with this error:

`httpd2-prefork: Syntax error on line 122 of /etc/apache2/httpd.conf: Syntax error on line 1 of /etc/apache2/mods-enabled/mpm_prefork.load: Cannot load /usr/lib64/apache2/mod_mpm_prefork.so into server

[2015-06-21 06:53] sergiuionescu commented on #355
I get the same issue with an ubuntu 14.04 vagrant box, apache configured with prefork.

[2015-06-29 16:58] joshoohaah opened #366 "apache installation does not work if 'default['apache']['dir']' or 'default['apache']['conf_dir']' are set outside /etc directory"
There are multiple errors when you configure either 'default['apache']['dir']' or 'default['apache']['conf_dir'] to use custom locations.

Example
`default['apache']['dir'] = '/apps/httpd'`
`default['apache']['docroot_dir'] = '/data/httpd/htdocs'`
`default['apache']['conf_dir'] = '/data/httpd/conf'`

get errors that certain directories aren't created
`AH00112: Warning: DocumentRoot [/data/httpd/ht

[2015-06-29 17:00] joshoohaah commented on #366
And if you put 'default['apache']['dir']' to use a different folder....oh man.  then things get really wonky.  then files get deployed to the custom location defined.  but then also there still is an installation in '/etc/httpd'.

(FYI, this the behavior seen in centos/rhel/oracle).

[2015-06-29 17:03] svanzoest commented on #366
Hi,

Are you also updating the location in the apache2 binary to match? The
cookbook has no control over the package that is installed and attempts to
match the package defaults within the cookbook. If you change those without
changing the package it simply will crash and burn. Don't do that :-)

[2015-06-29 17:06] svanzoest commented on #366
You can change the doc_root but you will need to make sure the directory
exists. I highly recommend you do not change conf_dir or dir unless you are
ready to deal with the fallout.

What are you trying to accomplish that makes you want to change the default
locations?

[2015-06-29 18:49] joshoohaah commented on #366
thanks for the quick response svanzoest.   The reason the request for changes is I'm going to make ebs mount points for locations such /logs, /apps/...etc.

Upon initial viewing of your cookbook, the parameterized attributes led me to believe i could specify the folder locations (when in reality currently the way the cookbook is setup you should NEVER edit the 'dir' directory).

I think a solution

[2015-06-29 19:19] svanzoest commented on #366
@joshoohaah the `apache.dir` attribute matches what is hardcoded in the apache binary as `HTTPD_ROOT`, this needs to be changed at compile time and is not something that can be changed via configuration of the package.

There are a lot of changes you can make by adjusting the parameters and by using templates dropped in `conf-enabled` or `sites-enabled`, but I would refrain from making any changes

[2015-06-29 19:52] joshoohaah commented on #366
I found this issue by adjusting the parameters.  I do not think you should have the `['apache']['dir']` as a parameterized attribute if you should never change it (except in the case if you change the binary, as you alluded to).
Right now if you want a different directory for `dir` or `conf_dir`, essentially you would have to:
   1. create binaries with new locations
   1. create yum repo or some

[2015-06-29 19:55] joshoohaah commented on #366
![screen shot 2015-06-29 at 2 53 57 pm](https://cloud.githubusercontent.com/assets/8366405/8416932/b98fac50-1e6e-11e5-85e1-c36ee03a6d94.png)

I tested this code in this fashion and it will work with this logic.   I think some logic needs to be put around it comparing the directory in the attributes with the default though

[2015-06-29 20:14] drpebcak commented on #366
@joshoohaah the attributes are also changeable in the case that you are on a platform that we currently do not set things right on.

I don't think it is likely that we will support symlinking the config directories to elsewhere in the filesystem.

[2015-06-29 20:32] joshoohaah commented on #366
drpebcak, thanks for the response.  If thats the direction/choice for the cookbook thats fine.  It just wasn't obvious upon first glance.
It seems though it would make the cookbook more robust to take in these accounts.  Either way, just trying to help! :)

[2015-06-30 18:24] rocpatel opened #367 "apache service creation doesn't fully use the node['apache2']['service_name'] attribute"
The creation of the apache2 service still has some hard coded service names in there.  This causes the recipe to fail if the httpd service is named differently.  For example, the software collections repo for redhat installs apache 2.4 on centos-6.6 as 'httpd24-httpd'.

[2015-07-01 04:51] svanzoest commented on #367
Merged #368

[2015-07-01 04:51] #367 closed

[2015-07-02 16:45] Jamstah opened #370 "Support for setting apache umask"
Setting the umask of an apache server is a fairly common thing to do, and is often done by updating /etc/sysconfig/httpd (RHEL) or /etc/apache2/envvars (debian) with a line to set the umask.

As these files are controlled by this cookbook, it would be nice to have the option of setting a umask in the recipes.

[2015-07-02 17:30] svanzoest commented on #370
This is already supported by adding any additional parameter you want to the `apache.sysconfig_additional_params` hash and will add it. I do think that adding an example how to that with umask is probably a good thing to have in the README.

Let us know if that works for you.

[2015-07-02 23:39] #370 closed

[2015-07-20 10:10] RobertNorthard commented on #178
+1

[2015-07-20 13:50] PierreRambaud commented on #356
Seems to be fixed with latest commits

[2015-07-20 13:50] #356 closed

[2015-07-22 15:36] tmaierACN opened #375 "CentOS 7 merged mod_authnz_ldap and mod_ldap into the same package"
yum install mod_ldap is requred, as mod_authnz_ldap will be provided by mod_ldap

See e.g. https://tickets.puppetlabs.com/browse/MODULES-1299

[2015-07-23 20:37] estrabd opened #376 "apache requires restart when apache2::mod_headers run on system without it enabled"
If apache is broken and not running because mod_headers is not in place, then including apache2::mod_headers should attempt to start apache.  Patch forthcoming.

[2015-08-09 12:30] miketheman commented on #355
I've been digging further into this issue, in hopes of resolving it.

I have been able to reproduce this outside of a Chef run on the running instance by issuing a reload before the restart and seeing the same behavior.
This is commonly seen on a fresh node's startup, as there are many resources which will notify the service to `:reload` and then finally `:restart`.

This is basically: `service ap

[2015-08-09 13:18] miketheman commented on #355
I also can't help but wonder how apache behaves when the worker module has changed out from under it and a `reload` is issued - from the CLI output on `a2enmod mpm_*`, we are warned to restart apache.

[code]

If a reload happens in between replacing the mpm type and a regular restart, you may end up with apache stopped, and this error shows up in error.log:
`AH00534: apache2: Configuration error:

[2015-08-09 19:40] martinb3 commented on #355
Hmmm. What a mess. It seems like maybe possible options are:

- don't reload if a restart is pending
- extend the service provider and add a sleep, e.g. [varnish_log](https://github.com/rackspace-cookbooks/varnish/blob/master/libraries/varnish_log.rb#L26-L59)
- do an immediate restart if an mpm is changed

[2015-08-25 06:44] karthik-altiscale opened #380 "kitchen tests failing on fastCGI"
Kitchen tests are failing as mod_fastcgi has been removed from run_list but test/integration/default/serverspec/localhost/mod_fastcgi_spec.rb still exists
[code]
$ kitchen test default-centos-65
[code]

[2015-09-16 07:27] kleini opened #385 "Recipe mod_ssl assumes a mod_ssl package needs to be installed on suse platforms"
At least for SUSE Linux Enterprise 12 this is not the case.

       Recipe: apache2::mod_ssl

           ================================================================================
           Error executing action `install` on resource 'zypper_package[mod_ssl]'
           ================================================================================

           Mixlib::ShellOut::ShellComma

[2015-09-16 22:17] ChrisLundquist commented on #364
Hey Stefen,
What happens if you remove the file `/etc/apache2/mods-enabled/mpm_prefork.load`?
It looks like mpm_prefork is statically compiled into the package, so it shouldn't need to load a `.so`

[2015-09-16 22:32] svanzoest commented on #364
We have worked on OpenSUSE 13, but we do not have access to SLES12, so although we would like it work for SLES 12 it is not part of our test kitchen configuration.

[2015-09-16 22:32] svanzoest commented on #385
We have worked on OpenSUSE 13, but we do not have access to SLES12, so although we would like it work for SLES 12 it is not part of our test kitchen configuration.

[2015-09-16 22:33] ChrisLundquist commented on #364
https://github.com/schubergphilis/nagios/issues/420#issuecomment-140908480

Someone on Centos is seeing a similar error.

[2015-09-16 22:55] svanzoest commented on #364
@ChrisLundquist I do not think that nagios#420 is related, that was caused by including an mpm module recipe rather than setting the `apache.mpm` attribute.

[2015-09-16 22:58] ChrisLundquist commented on #364
It seems to me that they both result in `/etc/apache2/mods-enabled/mpm_prefork.load` trying to load a library that doesn't exist.

In either case, you've been really helpful and pointed us in the right direction on the other issue. Thanks!

[2015-09-16 23:05] svanzoest commented on #364
@ChrisLundquist this likely has to do with SLES12 specificly

[2015-09-17 08:22] kleini commented on #385
I just need something to disable this package installation. Will create a pull request with a fix for my case.

[2015-09-18 18:51] drpebcak commented on #385
I'm not sure if we want to disable this for all cases where platform = suse... Does this same issue effect everyone using SLES? Or is it only SLES 12/this particular package source?

Is mod_ssl in the default run_list? I'd say a workaround would be to not use the mod_ssl recipe - just drop the config files in your wrapper recipe instead.

[2015-09-20 11:26] kleini commented on #385
I will test SLES 11, too. Currently I don't know about any other SUSE Linux Enterprise platform.
mod_ssl is not in the default run_list. Not using mod_ssl recipe is not a workaround. Especially when using Enterprise Linux platforms I want to configure Apache with SSL, because I am setting up enterprise software that needs encrypted web interfaces.

[2015-09-21 02:13] drpebcak commented on #385
I think it's a perfectly valid workaround until we solve the problem. All the recipe really does is install mod_ssl and drop config files. If you already have mod_ssl installed, you can write a quick wrapper that drops the config files from the apache2 cookbook and use that instead of the official mod_ssl recipe. Not saying that's a permanent solution, but it fixes your problem for now so we can w

[2015-09-30 17:35] #366 closed

[2015-10-10 05:02] #362 closed

[2015-10-10 05:03] #333 closed

[2015-10-12 23:39] alexandrezia commented on #240
Just pass the variables as parameters of the web_app definition.
web_app is not the final template resource, it is a definition that will call the template resource

[code]

Then in the template reference them as:

[code]

That works for me.

[2015-10-22 14:58] jkulak opened #391 "Support alternative Apache module names/versions (use proper module name per platform)"
I want to install `apache2::mod_pagespeed` for Apache 2.4 on Ubuntu 14.04.

It's same package_link for both Apache 2.4 and earlier versions, but for Apache 2.4 one should load `mod_pagespeed_ap24.so` instead of `mod_pagespeed.so` (as described here: https://developers.google.com/speed/pagespeed/module/install).

Currently it's not supported out of the box.

I'm using my wrapper cookbook, with cust

[2015-10-22 15:13] drpebcak commented on #391
@jkulak please report issues with mod_pagespeed over in the mod_pagespeed_cookbook repository. https://github.com/drpebcak/mod_pagespeed_cookbook

[2015-10-22 15:13] #391 closed

[2015-10-27 01:01] 8la opened #392 "Template web_app fails when you provide no server_port param"
Think this should fix: https://docs.chef.io/libraries.html#template-helper-modules

Here is the output:

[code]

[2015-10-27 01:07] 8la commented on #392
Using cloned version from github it  works.

With supermarket version, it breaks!

[2015-10-27 01:07] #392 closed

[2015-10-27 06:54] drpebcak commented on #392
The version on the supermarket doesn't have the new listen stuff - it looks like this
`<VirtualHost *:<%= @params[:server_port] || node['apache']['listen_ports'].first %>>`

[2015-10-27 09:46] 8la commented on #392
Sorry 4 the noise! :)

[2015-10-31 17:28] billclark91 commented on #355
I too am experiencing this issue on Ubuntu 14.04 when mpm_prefork is enabled with recipe.  As @miketheman has pointed out, `service apache2 reload && service apache2 restart` hangs at command line while `service apache2 reload && sleep 1 && service apache2 restart` succeeds.

Stealing a page from the Tomcat recipe, I would like to propose a 'wait for apache2' execution which sleeps 2.

apache2/rec

[2015-11-09 00:47] dolfje opened #395 "How does this cookbook work with php-fpm?"
I'm trying to get this apache cookbook working with php-fpm, but it is not as easy as hoped.
Shouldn't we introduce apache2::php-fpm as glue between the apache and php install?

So we have this:
[code]

But the following, we still have to do manually:
[code]
[code]

Is this intentional? Or is there another cookbook already doing this? Maybe documentation of this should be welcome. Because the best

[2015-11-11 23:53] karnold opened #396 "Cant install cookbook via supermarket"
When trying to install this cookbook it fails with **"ERROR: Chef::Exceptions::MetadataNotFound: No metadata.rb or metadata.json found for cookbook apache2 in /Users/karnold/src/SFMOMA-DevOps/chef-repo/cookbooks"**

Manually downloading the cookbook and extract it and it does not complain however.

[code]

And the full output from my terminal
[code]

[2015-11-12 14:46] drpebcak commented on #396
This seems like more a question for Chef/Supermarket. We do include a metadata with the cookbook (as you can see when you download the tarball with `knife cookbook site download apache2`

[2015-11-12 14:46] #396 closed

[2015-11-12 14:53] karnold commented on #396
Im curious as to why it only happens with this package.  The issue hasnt surfaced for any other cookbooks ive tried to install via this method

[2015-11-12 15:06] drpebcak commented on #396
I can't say, other than I can tell you that we don't do anything special when we upload to the supermarket.

You could try adding `-VV` to the command to see if you get more information.

[2015-11-12 17:38] karnold commented on #396
From what I can tell so far this seems to be an issue revolving around repositories that provide a metadata.json instead of the metadata.rb that is prefered by chef.  Still searching for empirical evidence.

[2015-11-14 23:07] miketheman commented on #355
@martinb3 I think the two options that make most sense are:
- don't reload if a restart is pending
- extend the service provider and add a sleep

The second option seems to be reasonable from the solution posted by @billclark91 above, but I agree the first option of preventing a reload if a restart is pending makes most sense.

I'm not certain how simple that is - i.e. reaching back in to the reso

[2015-11-25 13:01] kleini commented on #385
I was able to work around this by doing the stuff from the mod_ssl recipe in my wrapper cookbook when I discover a SUSE Linux Enterprise distribution.

[2015-12-04 05:02] patcon opened #398 "restart apache when mod_proxy module enabled"
EDIT: Seems that there's a flag on `apache_module` resource to restart apache rather than simply reload when adding a new module, and that resolves the issue. I can add support for doing then specifically on ubuntu 12.04

----------------------------------------------
*Original issue text:*

Seems I'm hitting this issue with mod_proxy on Ubuntu 12.04:

* https://serverfault.com/questions/454421/ap

[2015-12-05 00:25] patcon commented on #398
Submitted PR here: https://github.com/svanzoest-cookbooks/apache2/pull/399

[2015-12-07 16:29] mrmarbury commented on #364
Oh sorry that I didn't answer. We are currently switching from sles 12 to centos 7. And on Centos 7 your cookbook is working.

[2015-12-14 11:33] bhupesh opened #400 "Forbidden issue with custom htaccess filename"
My custom htaccess filename is .iaccess. When I visit url starting with /via, it will forbid access to the url.
Please escape `access_file_name_prefix` at https://github.com/svanzoest-cookbooks/apache2/blob/master/templates/default/apache2.conf.erb#L96

[2015-12-17 18:56] gitgc commented on #259
I'm still seeing this exact issue on Apache 2.2/Centos 6.5, using the latest 3.1.0 version of this cookbook. As described in original post, the parent apache process is killed, but a bunch of zombie apache processes are still running, binding the ports, preventing a restart without a killall httpd.

[2015-12-17 21:36] drpebcak commented on #259
@gitgc what happens when you run `service httpd restart` manually on that box? Does it take a really long time or cause some sort of error?

[2016-01-13 11:23] nusnewob opened #402 "File templates/default/a2ensite.erb does not exist for cookbook apache2"
I have a simple recipe to include apache2 cookbook
[code]
Error in test-kichen:
[code]

[2016-01-13 17:29] drpebcak commented on #402
https://github.com/svanzoest-cookbooks/apache2/blob/master/templates/default/a2ensite.erb

What platform are you running this on? Can you reproduce it by only including `apache2::default` in your runlist?

[2016-01-27 18:29] kalebwalton commented on #259
I am having this issue using latest version of this cookbook as well. When I adjust the restart/reload lines to be as follows, all is well:

    service 'apache2' do
      service_name node['apache']['service_name']
      case node['platform_family']
      when 'rhel'
        restart_command '/sbin/service httpd restart && sleep 1'
        reload_command '/sbin/service httpd graceful && sleep 1'

[2016-01-29 14:43] phrag opened #404 "Unable to disable mod_deflate to mitigate BREACH"
Using deflate or gzip compression on a page with secrets allows for the BREACH attack: http://breachattack.com/

This is 2 years old now, but still a real threat.

I see no way to disable mod_deflate by an attribute.

From apache2 cookbook docs:
"in your cookbook, after include_recipe 'apache2' use the apache_module definition to enable/disable the required module"
[code]

Using rewind does not wo

[2016-01-29 17:17] svanzoest commented on #404
We can make that adjustable, however, I think compression is generally a
positive.

You can turn it off explicitly where you deal with secrets via directives
in your apache config. See
https://qualys.jive-mobile.com/#jive-discussion?content=%2Fapi%2Fcore%2Fv2%2Fdiscussions%2F12052
for some examples. I would caution using referer though as that can easily
be fabricated in a crafted request.

[2016-01-31 17:18] t0m opened #405 "Automatically starting apache on include_recipe "apache2""
Hi, I'm having some issues with how the cookbook tries to start apache whenever the default recipe is included. At the very bottom of default.rb:

[code]

 In both development and production it would be nice to have more control over when httpd is started, since there's some cases the server may be in an incomplete state, we may not be ready to serve traffic yet, or we may just want to install apa

[2016-02-01 10:16] phrag commented on #404
Thank you @svanzoest, i will try this and get back to you

[2016-02-03 19:41] adamhamner opened #406 "Loglevel should be set via node attribute."
It would be nice if Loglevel was controlled via node attribute.

https://github.com/svanzoest-cookbooks/apache2/blob/master/templates/default/apache2.conf.erb#L150

an attribute like

node.default[:apache][:log_level] = 'warn'

which could be overridden within a role or recipe.

[2016-02-03 19:59] svanzoest commented on #406
You can drop a conf template in cond.d and override that with what ever you
want in a wrapper cookbook.
On Feb 3, 2016 11:49, "Adam Hamner" <notifications@github.com> wrote:

[2016-02-04 03:54] nkts opened #407 "SSL parameters for WebApplication"
Can't see how to specify SSL configuration for web application resource

[2016-02-04 04:35] svanzoest commented on #407
You put the in the template you are providing to the resource.

[code]
Then in `mytemplate.conf.erb` you can put something like
[code]

So all the web application configuration is in the template and uses normal apache directives. You have the advantage though is that you can reference node attributes and the variables passed into the `web_app` resource to customize on where ever you plan to deplo

[2016-02-04 04:38] nkts commented on #407
Ah yes, forgot about replacing template - too tired.

[2016-02-04 04:38] #407 closed

[2016-02-09 08:57] niven01 commented on #259
Just like to add this is still happening with 3.1.0 version of this cookbook for me

[2016-02-22 13:56] sernapallyanurag opened #411 "Unable to upload cookbook using Knife"
I am able to upload every other cookbook but apache2 upload fails with following error.
I am running my chef-server in Azure (its open source version 11.x)

Uploading apache2 [3.1.0]
ERROR: SSL Validation failure connecting to host: xx.xx.xx.xx - SSL_read: cert already in hash table
ERROR: Could not establish a secure connection to the server.
Use knife ssl check to troubleshoot your SSL configura

[2016-02-22 16:30] drpebcak commented on #411
This is not a problem with the apache2 cookbook specifically. Take a look at issues like this: https://github.com/chef/chef-dk/issues/492 for more information.

[2016-02-22 16:30] #411 closed

[2016-02-22 16:31] svanzoest commented on #411
Good question. I do not see anything specific in the `apache2` cookbook that would cause something like this. The only thing I can think of is because your are using Chef Server 11 and not Chef Server 12, you are hitting #374. You can see if you remove `issues_url` and `source_url` from the `metadata.rb` file and see if that resolves your issue.

Regardless, I would recommend you update to a newer

[2016-02-23 09:29] sernapallyanurag commented on #411
I do not have metadata.rb in my cookbook. there is only metadata.json file.

[2016-02-23 09:51] sernapallyanurag commented on #411
--concurrency set to one works.

[2016-02-24 14:38] phrag commented on #404
I am unable to figure out how best to make this module configurable, the modules are enabled in a loop from what i understand. Can you suggest the best way to achieve this please?
There are several security issues related to HTTP compression which i am trying to mitigate but am struggling to implement with chef.

[2016-02-24 18:52] drpebcak commented on #404
@phrag he is suggesting that you leave the module enabled globally, but turn it off in your vhosts where relevant - as in the example link he posted.

[2016-03-02 23:04] rohitgabriel opened #412 "Libraries are not available on ubuntu site anymore"
Hi,

I tried to use this cookbook and I am new to chef. I could not understand how the list is made for the libraries based on ubuntu version and download the same from https://us.archive.ubuntu site. I get 404's while the cookbook is being executed on the VM. The libraries it is trying to download no longer exist on the ubuntu site which has newer versions. I tried to install apt cookbook before

[2016-03-02 23:13] svanzoest commented on #412
Utopic 14.10 is End of Lifed see https://lists.ubuntu.com/archives/ubuntu-announce/2015-July/000197.html. You will need to update to a newer version of Ubuntu. The current releases of Ubuntu are https://wiki.ubuntu.com/Releases

[2016-03-02 23:13] #412 closed

[2016-03-09 01:44] Padam87 commented on #402
Same here. Ubuntu 14.04

[2016-03-09 01:54] Padam87 commented on #402
Looks like this is a chef-solo specific issue. You cannot use the default berks install, you have to vendorize.

[2016-03-09 17:48] svanzoest commented on #402
Thanks @Padam87. If there anything we could do better to help with that let us know.

[2016-03-09 17:48] #402 closed

[2016-03-11 13:15] sernapallyanurag opened #413 "drupal-cookbook drush installation fails due to mod_php5 apache2 version 5.4"
============================================================================
====
    Error executing action `run` on resource 'execute[download_drupal]'
    ============================================================================
====

    Mixlib::ShellOut::ShellCommandFailed
    ------------------------------------
    Expected process to exit with [0], but received '1'
    ---- Begin output

[2016-03-11 16:26] svanzoest commented on #413
Hi there,

The installation of packages comes via the chef `package` resource and therefore the package installed would be the latest as it were provided by the package manager. If you would want to install a newer version of the mod_php5 package for example, you would need to make sure that the package manager (`apt`,`yum`,`zypper`) has the expected version of the package available.

The cookbook

[2016-03-11 16:27] #406 closed

[2016-03-11 16:30] svanzoest commented on #400
@bhupesh the prefix is already anchored via `^` to the beginning of the file. Can you provide an example test case that fails?

[2016-03-11 16:32] svanzoest commented on #398
Closing in favor of #399

[2016-03-11 16:32] #398 closed

[2016-03-11 16:43] svanzoest commented on #395
We currently have support for fastcgi via `apache::mod_fastcgi`, you can easily add a configuration file to configure apache to configure fpm. You could also do this in the `web_app` apache virtualhost template.

[code]
Since this cookbook focuses directly on the ASF httpd package, it is recommended to use or create a separate cookbook for FPM. There are a few on Supermarket already, maybe [one of

[2016-03-11 16:45] svanzoest commented on #385
Closing this in favor of #386

[2016-03-11 16:45] #385 closed

[2016-03-11 16:55] svanzoest opened #414 "convert definitions to custom resources"
Since the release of chef 12.5 we have access to [custom resources](https://docs.chef.io/custom_resources.html) that seem like a more suited method versus using LWRPs for this cookbook #178

[2016-03-11 16:56] svanzoest commented on #178
Thanks @cyberswat for all your work on this and will look at how we can leverage what you have done in future versions of the cookbook. However, now that custom resources exist, I think that is the best way forward. Moving this to #414

[2016-03-11 16:56] #178 closed

[2016-03-11 17:02] svanzoest commented on #405
One of the challenges here is that we are not fully in control here as most package based apache installations will already start the service and this mostly checks that it has a valid config and confirms the state in chef.

I am open to entertain any PRs that would enhance this experience.

[2016-03-15 03:56] sernapallyanurag commented on #413
The Yum package for mod_php 5.6 is available but chef installs the previous version 5.4.

[2016-03-15 05:31] bhupesh commented on #400
@svanzoest if the apache configuration has the constom `.htaccess` filename, which in my case had `.iaccess`. `.htaccess` filename has `.` property escaped by using `\.`, while if the filename is not `.htaccess`, it directly places the first 3 characters of the file. Therefore, it results in `<Files ~ "^(.ia|\.ht)">`, `.` will match any character and it will forbid access to all the urls that has

[2016-03-16 09:39] sernapallyanurag commented on #413
Hi,
I am unable to install Drush since the error above shows that the PHP-cli version is old. But that is the latest available version for centos as you rightly mentioned.
I even tried to suppress using the Environment variable clue given in the error but no luck.
Can you suggest me a work around?

[2016-03-16 15:19] svanzoest commented on #413
Add a package repository to centos that has the right version you want. You
can do this via the yum cookbooks.
On Mar 16, 2016 2:39 AM, "sernapallyanurag" <notifications@github.com>
wrote:

[2016-03-17 15:27] DStape commented on #364
Hi, I'm running into this exact issue with openSUSE 13.2. Has there been any progress towards a fix? Thanks.

[2016-03-18 23:41] svanzoest commented on #364
@DStape one of the main challenges is that we do not have SUSE in our test-kitchen environment, so we do not know what the apache2 binary on that platform is like.

We will gladly accept a PR, as long as we do not break any of the other platforms.

[2016-03-18 23:44] #295 closed

[2016-03-18 23:45] #319 closed

[2016-03-18 23:47] #395 closed

[2016-03-21 10:28] jujugrrr opened #415 "mod_fastcgi URL is unreachable. Cannot run the recipe anymore"
https://github.com/svanzoest-cookbooks/apache2/blob/master/attributes/mod_fastcgi.rb#L20 doesn't work anymore. It seems www.fastcgi.com is gone

http://webcache.googleusercontent.com/search?q=cache:e0DGxuMJ684J:www.fastcgi.com/+&cd=1&hl=en&ct=clnk&gl=uk

http://www.fastcgi.com

[2016-03-21 18:36] svanzoest commented on #415
Do you have an updated URL the cookbook should use? By default it should use the package, so it should not impact people immediately.

[2016-03-22 10:01] myeonghakim commented on #412
Is that possible to override shell command "apt-get -q -y install apache2=2.4.7-1ubuntu4.8" to "apt-get -q -y install apache2" in ubuntu? I think it's an error in my case. Target vm type is an Ubuntu 14.04LTS, and bootstrap package is apche2(3.1.0). Also this command is an error too. "E: Failed to fetch http://ftp.daum.net/ubuntu/pool/main/a/apache2/apache2_2.4.7-1ubuntu4.8_amd64.deb  404  Not Fou

[2016-03-22 15:21] svanzoest commented on #412
Peter, looks like you need to use the `apt` cookbook and update your apt
package list. You can do this manually by running `apt-get update`.
On Mar 22, 2016 03:02, "Peter" <notifications@github.com> wrote:

[2016-03-22 15:44] matthyatt commented on #415
I've been having the same issue. I've only been using chef a few months, but if I read the recipe correctly, when the platform_family is 'rhel' it will always use the source install method and only uses the package on platform_family debian when the install_method is not 'source'. I'm using this cookbook on centos and this recipe attempts to download the source tarball and fails. There's no guard

[2016-03-23 09:44] jujugrrr commented on #415
Same here @svanzoest

[2016-03-23 17:33] svanzoest commented on #415
It is generally based to leverage package install methods everywhere over dynamic source based downloads as they can be unreliable as seen here.

It looks like the `rhel` platform family does not have a package for `mod_fastcgi` available in the the standard operating system package repositories. It seems that they expect you to use `mod_proxy_fcgi` or `mod_fcgid` instead. What would you consider

[2016-03-23 18:34] matthyatt commented on #415
I would generally agree that since mod_fastcgi isn't available through the ASF httpd source that it shouldn't be included in this cookbook. Installing from a source package is the only way for `rhel` but this package hasn't been updated since 2007 and their site is down so I don't what the future for the mod_fastcgi package is.

As for working with what's in place now, I would think adding a guard

[2016-03-23 19:53] svanzoest commented on #415
@martinb3 does it make sense to have magentostack move to something other then `mod_fastcgi`?

[2016-03-24 12:26] martinb3 commented on #415
@svanzoest It would, but we're not likely to do a ton of new development on that cookbook right now. @jujugrrr and I would definitely merge PRs and help guide it, but our Magento attention is focused elsewhere at the moment.

[2016-03-26 07:03] svanzoest commented on #325
FYI:

As per https://github.com/docker/docker/issues/6980 I followed the instructions on https://docs.docker.com/engine/admin/systemd/ and modified the `storage-driver` used to work around this.

On Ubuntu 16.04 LTS, I created a  file named `/etc/systemd/system/docker.service.d/override.conf` containing
[code]
And followed that by running the following commands
[code]

After I did that, the test k

[2016-03-26 23:19] svanzoest commented on #190
please re-open or provide a PR, as it is unclear as to what needs to be done here.

[2016-03-26 23:19] #190 closed

[2016-03-26 23:19] #202 closed

[2016-03-26 23:20] svanzoest commented on #215
@drpebcak any new thoughts on this?

[2016-03-26 23:25] svanzoest commented on #287
Is this still an issue with our current maser and upcoming release?

[2016-03-26 23:32] #376 closed

[2016-03-26 23:33] svanzoest commented on #380
Thanks! I have xit those specs for now. We will likely remove mod_fastcgi anyways as per #415 .

[2016-03-26 23:33] #380 closed

[2016-03-26 23:39] svanzoest commented on #404
If you do not think the above solution is enough, you can update `apache.default_modules` based on the changes for #401 which will be in the next release.

[2016-03-26 23:39] #404 closed

[2016-03-27 01:08] svanzoest commented on #224
Same is true with http://httpd.apache.org/docs/2.4/mod/mod_watchdog.html

[2016-03-27 01:26] svanzoest commented on #375
thanks for the report.

[2016-03-27 01:26] #375 closed

[2016-03-27 07:17] aik099 commented on #287
I don't know. I no longer use AWS OpsWorks.

[2016-03-27 17:52] svanzoest commented on #287
Thanks for the response.
I am going to close this, but if this is still an issue, please do not hesitate to open a new issue/PR.

[2016-03-27 17:52] #287 closed

[2016-03-27 18:00] svanzoest commented on #415
I am not sure what more we can do on this ticket, so I am going to close this. I would love to see a separate cookbook or otherwise suggest people switch to `mod_fcgid` or `mod_proxy_fcgi`

[2016-03-27 18:00] #415 closed

[2016-03-27 18:02] svanzoest commented on #413
@sernapallyanurag I am not sure what more we can do here, maybe it is best to reach out to the drupal cookbook maintainer if installing a newer version of the php package does not resolve the issue you are having.

[2016-03-27 18:02] #413 closed

[2016-03-27 18:23] #225 closed

[2016-04-13 13:33] ngphban opened #419 "First alias in multiple server-alias array does not work with its virtual host config"
Hi,

I'm trying to setup a virtual host config using an array of server aliases as input. Got a problem that on my resulted config, the first server alias cannot work with its virtual host (fall back to default virtual host instead).
Here are my configs (omitted non-important lines to make them simple to read)
Attributes:
[code]
My recipe:
[code]
Template:
[code]
My outcome virtual host config:
[c

[2016-04-13 14:11] ngphban commented on #419
Worked out by editing the template like this:
[code]

Now template produced correct value list:
[code]
Closing ticket now...

[2016-04-13 14:19] #419 closed

[2016-04-14 22:18] brentm5 opened #421 "Issue in 3.2.2 with undefined method `uniq' for nil:NilClass"
It looks like there is an issue with the newest version of 3.2.2.  We were seeing the following issue:

[code]
Compiled Resource
[code]

We are not doing anything crazy with the apache2 cookbook either, if I had to guess it would be the following line because there is no null check for the listen_addresses

https://github.com/svanzoest-cookbooks/apache2/blame/master/libraries/listen.rb#L37-L40

[2016-04-14 23:08] bigbam505 commented on #421
Submitted PR #422 to fix the issue

[2016-04-21 02:26] tb01923 opened #423 "reload not working centOs 6.x and apache 2.4"
I am trying to install onto centOs 6.4 and apache 2.4 version.  I have the following attributes:
[code]
and it looks like everything is going on ok.  service enable fizzles out.  running this I see the folowing in the console:

[code]

Further all the service commands work except graceful:
[code]

I dont know where esle to poke around...  Any hints appreciated

[2016-04-21 02:29] svanzoest commented on #423
The apache package generally assumes you are using the standard package provided by the operating system. The attributes such as `apache.dir` should match the package your are installing. Are you doing your own rpm?

[2016-04-21 11:21] tb01923 commented on #423
I don't think so.  I do install the repo prior to kicking the coobook off:
[code]
without that, the cookbook cannot find httpd24.  Then there are various failures of the cookbook driving me to use the package name, and then subsequent failures about locations that make things fail without me overriding those attributes.  For example - the install defaults to /etc/httpd for a lot of things, but htt

[2016-04-21 12:28] tb01923 commented on #423
Well I tried to install httpd24 by hand on a fresh VM (centOS 6):
[code]
And it worked to the same degree as the cookbok.  Then running:

[code]

It doesn't look to be associated with the cookbook at all. It looks tobe completely associated with the httpd24 install.  I wonder if a solution is to remove the graceful section of the cookbook and defer to a restart for now?

[2016-04-21 14:11] tb01923 commented on #423
I posted on serverfault.com trying to chase this down from a non-cookbook basis (linux/apache) [here](     http://serverfault.com/questions/771843/centos-apache24?noredirect=1#comment973308_771843).  Unfortunately this is their reply:

[code]

The offending lines of code come from: https://github.com/svanzoest-cookbooks/apache2/blob/master/recipes/default.rb

[code]
I think the recommendation is t

[2016-04-21 18:43] tb01923 commented on #423
I created a fork/pull to address this: https://github.com/svanzoest-cookbooks/apache2/pull/424 seems to be working for me...

[2016-04-21 19:45] svanzoest commented on #423
So it looks like you are using a custom backport package that we currently do not support. The cookbook is developed to support the native httpd, which currently is apache 2.2 on centos 6.

However, via https://www.softwarecollections.org/en/scls/rhscl/httpd24/ you can install the httpd24 package, which looks to be a backport of the centos 7 version.

The changes you are making in #424 seem to mos

[2016-05-13 11:01] coldoch commented on #364
@svanzoest I've no idea how this stuff works, but for opensuse 13.2, the problem is resolved by removing the mpm_prefork.load, as the module doesn't exist, I believe because it is compiled in. Is there a way to prevent this .load getting generated. I've had a look at the script, apache2_module_conf_generate.pl, but I'm not sure where it is getting its source?

[2016-05-26 18:43] nkadel-skyhook commented on #336
Than that default is pretty useless and forces every admin to hand build their own wrapper cookbooks. I'd strongly encourage a very simple, default disabled vhost as a basic working configuration for admins to follow as an example.

[2016-05-26 22:41] svanzoest commented on #336
You do not need to write a wrapper tobuse your own templates. You can
already pass those in via the definitions.
On May 26, 2016 14:43, "Nico Kadel-Garcia" <notifications@github.com> wrote:

[2016-05-27 08:19] goncalopereira opened #426 "Httpd -t timeout option - possible PR"
Hello,
I'm currently using this cookbook but getting issues using the service resource as the ten second timeout is too small for my production setup.

I've currently monkey-patched the service resource as follows for reference but if you agree I'll do a PR with timeout as a option (plus tests) so I can remove this ugly fix?

[code]

[2016-05-27 14:04] svanzoest commented on #426
A 10 second timeout is very long, if you need more time then that it usually means something else is taking a lot longer than it should. I would investigate that and see what is taking so long.

[2016-05-27 14:07] goncalopereira commented on #426
Thank you for your comment - I agree with that but we have a lot of rewrites and configs due to a third party CMS :) Our 'httpd -t' takes about 20 seconds. Unfortunately it is out of our control.

[2016-05-28 01:50] svanzoest commented on #426
The most common delay is not setting a FQDN, so apache httpd spends a lot of time determining a valid hostname. I would at least check to see how long that takes or if there is anything in the logs that point out why it is taking so long.

[2016-05-31 11:33] goncalopereira commented on #426
Not being able to reproduce the issue in our CI after a few days so I'm going to take your suggestion. Thank you.

[2016-05-31 11:33] #426 closed

[2016-06-08 18:46] joelhandwell opened #429 "Travis needs optimization for elaps time"
Travis build started to get `The job exceeded the maximum time limit for jobs, and has been terminated.` and needs some way to finish tests in 50 min.

[2016-06-16 14:55] stissot commented on #414
Unlike Definitions, Custom resources support features like guards (`only_if`, `not_if`)

[2016-06-20 08:49] sernapallyanurag opened #431 "How do I add FilesMatch and AddHandler parameters to web_app.conf.erb?"
HI,

I am trying to configure Vhost for Bugzilla.
``
<VirtualHost *:80>
DocumentRoot /var/www/html/bugzilla/
</VirtualHost>
<Directory /var/www/html/bugzilla>
AddHandler cgi-script .cgi
Options +Indexes +ExecCGI
DirectoryIndex index.cgi
AllowOverride Limit FileInfo Indexes
</Directory>
``

This is the minimal configuration required. I am able to add all parameters except AddHandler.

``
<% if @par

[2016-06-20 14:21] svanzoest commented on #431
I would pass in your own template:
[code]
and pass in `bugzilla.conf.erb` that looks more a long the lines of
[code]

[2016-06-21 04:10] sernapallyanurag commented on #431
Thank you. I was using default template name. changing the name was key.

``
<VirtualHost *:<%= @params[:server_port] %>>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] -%>
  ServerAlias <%= @params[:server_aliases].join " " %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %>
  <Directory <%= @params[:docroot] %>>
     AddHandler cgi-script .cgi
	 Options +Indexes +

[2016-06-21 04:10] #431 closed

[2016-07-19 08:05] toski1 opened #434 "adding params or variables to apache_conf template"
Hi,

I am trying to enable mod_proxy_balancer and pass variables to the template specific to the configuration I require, however the variables do not seem to be passing to the template.  In the template I have tried nearly every variation of @params or @key_name but they always evaluate to nil.  Any suggestion?

[code]

OR trying @params

[code]

[2016-07-19 14:46] svanzoest commented on #434
Only `web_app` supports `params` as a way to pass in parameters. The templates by any of the other definitions generally directly grab node attributes. It is good to note, however, that we do not support that at the moment. I do not think there has been a need.

In most cases you will want to configure the proxy for a particular vhost and not the web server as a whole. Looking at http://httpd.apac

[2016-07-19 16:20] toski1 commented on #434
Hi scanzoest - thank you
I got around this by adding this one line to the apache_conf defintition

`variables params[:variables] if params[:variables]`

I can then pass variables to these templates by calling @variables[:key_name] in the template.  I've very much needed this functionality as I am using the cookbook for a large eCommerce frontend tier.

[2016-07-19 18:09] svanzoest commented on #434
sure, you can do that, but what exactly are you setting in the variables? I am not against adding functionality, I am just trying to understand the use case.

[2016-07-20 07:31] toski1 commented on #434
Hi svanzoest
I am creating load balancer pools and passing in chef search results for nodes of specific types along with their associated attributes.  This is specific to application configuration (ports, cluster ID's) relative to the nodes returned in the search.

[2016-07-20 15:06] svanzoest commented on #434
Okay, in that case I would pass those into `web_app` or if you really want to create a glob, non-vhost specific proxy, I would grab the application configuration in the _erb_ with `node['store_nodes']` attributes.

[2016-07-23 07:40] adiamas opened #435 "apache_conf doesn't seem to disable configs"
I'm using apache_conf to disable configurations installed by apache by default (other-vhosts-access-log specifically) and the following doesn't appear to work:

[code]

however using apache_config does work as expected.  It appears that the definition for apache_conf:

[code]

Indicates that if we have a configuration file previously enabled, and it is set disabled, apache_config is never actually

[2016-07-26 15:30] ezekg commented on #355
Any update on this? I've been randomly hitting this issue as well. Is there a patch that can be easily implemented in the time being?

[2016-07-27 14:09] toski1 opened #437 "enable mod_proxy_ajp issue"
Hoping you can help me solve a bit of a challenge.

I use wrapper cookbooks to add any customization to a community cookbook that we depend.  In my wrapper, I am trying to change the proxy.conf file that you load as a result of calling apache2::mod_proxy_ajp

The problem is, it will load the default proxy.conf template, then load the updated proxy.conf template from the wrapper cookbook, resulting

[2016-07-27 15:13] toski1 commented on #437
Sorry I solved this because I was calling apache_mod 'proxy' instead of the correct apache_module 'proxy'

[2016-07-27 16:50] drpebcak commented on #437
Glad you got it solved!

[2016-07-27 16:50] #437 closed

[2016-07-27 16:54] drpebcak commented on #435
That is actually correct. You could try using `apache_config` directly though, instead of going through `apache_conf`.

`apache_config` will run `a2disconf` if enable != true

[2016-07-27 18:11] adiamas commented on #435
I've opted to use apache_config, and that is working as expected. The current logic in apache_conf doesn't match the documentation. There's no way for an "enable false" to be executed. Either the code or the documentation should be update to reflect this for sure.

[2016-07-27 22:29] drpebcak commented on #435
Yeah.. the documentation does say that should work. We should probably fix this so it does the same thing `apache_config` does.

[2016-07-30 14:49] swathi0701 opened #438 "chef apache error in chef-client"
================================================================================
    Error executing action `start` on resource 'service[httpd]'
    ================================================================================

    Mixlib::ShellOut::ShellCommandFailed
    ------------------------------------
    Expected process to exit with [0], but received '1'
    ---- Begin output of /usr/b

[2016-07-30 17:48] svanzoest commented on #438
You will need to debug it and figure out why apache2 gave an error exit
status. See "systemctl status httpd.service" and "journalctl -xe" for
details.

[2016-08-02 13:28] krues8dr commented on #364
FWIW, I'm seeing this same issue on CentOS 6.7 and 6.8.

[2016-08-17 15:59] #423 closed

[2016-08-17 16:00] #438 closed

[2016-08-24 15:54] rossedman commented on #355
I am experiencing this as well. The most I can discover is that this cookbook destroys the `root` apache process. When restarting or installing if you run:

Here is an example in a failing state:

[code]

And if I run these command, apache will then restart, notice the top level root process:

[code]

[2016-08-30 00:39] zepheiryan commented on #421
Seeing the same.  Any notion of when the fix might be incorporated into a formal release?

[2016-09-06 23:30] robuye commented on #421
same issue here, looks like 3.2.2 downloaded from https://supermarket.chef.io/cookbooks/apache2 does not include the fix :confused:

[2016-09-16 14:57] driskell opened #444 "Apache 2.2 install has no <Directory /> security"
I was testing a cookbook across a 2.2 and a 2.4 and noticed differences in behaviour due to a missing Allow directive. In 2.4 it would not work, it 2.2 it would.

It seems that the httpd.conf for 2.4 contains a lock down as expected for <Directory /> - however, 2.2 does not.

Is there a reason for this? Would you accept a pull request to make 2.2 safe-by-default? I guess my concern is this could n

[2016-09-19 03:35] maneeshmp opened #445 "AH00534: apache2: Configuration error: No MPM loaded."
I am getting below error after installing apache through chef

~$ sudo service apache2 restart
 * Restarting web server apache2                                                                                                                              [fail]
 * The apache2 configtest failed.
Output of config test was:
AH00534: apache2: Configuration error: No MPM loaded.
Action 'configtest' faile

[2016-09-19 11:45] tobymaro opened #446 "Apache failed when restarting the first time"
Hello,

I have installed apache2 on Centos 7.2. And now I see error:

Sep 19 11:37:40 mr-spark-lb httpd[3494]: [Mon Sep 19 11:37:40.258315 2016] [core:warn] [pid 3494] AH00111: Config variable ${APACHE_LOG_DIR} is not defined
Sep 19 11:37:40 mr-spark-lb httpd[3494]: [Mon Sep 19 11:37:40.258905 2016] [core:warn] [pid 3494] AH00111: Config variable ${APACHE_LOG_DIR} is not defined
Sep 19 11:37:40 mr

[2016-09-19 21:35] drpebcak commented on #445
@maneeshmp are you attempting to use two MPMs on purpose?

[2016-09-20 03:16] maneeshmp commented on #445
No I am not,  I included it to see if the error will go away

include_recipe 'apache2::mpm_prefork'

[2016-09-20 05:32] drpebcak commented on #445
Ok, so are you trying to use prefork or event?

Also, the `apache.version` attribute is really only used to differentiate between 2.2 and 2.4... on ubuntu 14.04 you shouldn't have to override it, it's already set to 2.4.

[2016-09-20 06:43] tobymaro opened #447 "execute[generate-module-list] action run"
Hello,

I'm trying to use apache2 cookbook on CentOS 7.2 . But I'm receiving error when i run it first time. Actually apache2_module_conf_generate.pl has been created. And second time I don't see this error.

 ================================================================================
    Error executing action `run` on resource 'execute[generate-module-list]'
    ============================

[2016-09-20 13:51] rcambien commented on #225
This commit 8edf253 generate the same problem than #333, the apache is restarted just after a reload and failed.
[code]
As mentioned in #355, the problem can be solved with a wait between the reload and the restart.

[2016-09-20 16:47] maneeshmp commented on #445
I actually need only below things,

include_recipe 'apache2::default'
include_recipe 'apache2::mod_ssl'
include_recipe 'apache2::mod_proxy_http'

Remaining things were added to see if the error would go away.

[2016-09-20 17:36] drpebcak commented on #445
Hmm.. ok. So the default MPM for 14.04 is event. Are you installing the default package, or are you getting it from a custom location?

If you do `apache2ctl -V` does it say which MPM it wants to use?

[2016-09-21 09:53] tobymaro commented on #447
Issue is caused by perl. I edited file  /usr/local/bin/apache2_module_conf_generate.pl and  added  "--"

#!/usr/bin/perl --

That's all

[2016-09-21 09:53] #447 closed

[2016-09-21 18:29] sbalaram opened #448 "setting default["apache"]["version"] = "2.4" does not work"
we are on redhat-release-server-6Server-6.8.0.5.el6.x86_64 and it installs apache2.4 but with 2.2 configuration files.

in apache2/attributes/default.rb  Line 57 there is no condition for >=6.0 and it defaults to 2.2

this causes these issues:

Invalid command 'LockFile', perhaps misspelled or defined by a module not included in the server configuration

httpd: Syntax error on line 106 of /etc/htt

[2016-09-21 18:32] svanzoest commented on #448
What version of apache2 is getting installed? Rhel 6 shipped with 2.2. you
can not just change the apache.version to have it install 2.4.

[2016-09-21 18:43] sbalaram commented on #448
Server version: Apache/2.4.20 (Unix) is getting installed.   RHEL was not shipped with 2.2 and we are trying to install 2.4

[2016-09-21 18:52] drpebcak commented on #448
https://access.redhat.com/solutions/445713

[2016-09-21 19:02] sbalaram commented on #448
yes the article shows but  checked again on our hosts and none of them have 2.2

[2016-09-21 19:20] svanzoest commented on #448
@sbalaram when you run the cookbook it will install `apache.package` which on `redhat` is `httpd` via yum. The errors you are seeing above in the show 2.2 directives. In 2.4 `LockFile` is now `Mutex` and there is no `mod_authz_default` in 2.4, as it is replaced by `mod_authz_core`.

This suggests to me that are either not setting `apache.version` to `2.4` early enough or not at all, as the cookboo

[2016-09-21 19:31] svanzoest commented on #446
how are you running the config check? are you using `/usr/sbin/apachectl configtest`?

[2016-09-21 19:35] svanzoest commented on #445
@maneeshmp just specifying

[code]

should be fine because we pull in `apache::mod_proxy` from within `apache2:mod_proxy_http`, but I would define that explicitly just in case.

Are you experiencing any errors with including the following recipes in your wrapper cookbook as follows?
[code]

[2016-09-21 19:40] svanzoest commented on #444
The 2.4 version is stricter and over time the 2.2 support will be deprecated. The reason for 2.2 be less strict is mostly because we did not want to break backwards compatibility for a cookbook that had been in the wild for such a long time. It was best to apply these best practices going forward only.

So, yes, it would be breaking change and since the focus is fully on 2.4 now, I think it is mor

[2016-09-21 19:40] #444 closed

[2016-09-21 19:44] #434 closed

[2016-09-21 22:23] sbalaram commented on #448
thanks @svanzoest the attribute was not set early enough was the issue, re-arranged the recipe include and it was all good

[2016-09-21 22:23] #448 closed

[2016-09-22 08:45] driskell commented on #444
Hey @svanzoest, thanks for taking the time to respond.

I found it very surprising that the lock down was not there and it was a default, "everything open", configuration. I wonder if the best approach is to warn people of this. There is no mention of deprecation of 2.2 in the README nor of the missing lock down and the difference to 2.4 so maybe it could be done as part of adding something around

[2016-10-03 00:43] xdrus opened #449 "do not include default for definitions"
Hello, everyone.

The issue I've met is that if you want to have separate recipe files for base apache configuration and app deploying (where vhost config file is created or updated), apache_site definition includes 'apache::default' (https://github.com/svanzoest-cookbooks/apache2/blob/master/definitions/apache_site.rb#L21). This approach is used at AWS OpsWorks, where you can have different entry

[2016-10-03 06:15] drpebcak commented on #449
Doesn't it kind of go against chef philosophy to only manage portions of an application? Using the apache2 cookbook presupposes you want to manage the entire apache2 application, and I think that is an expected behavior from any community cookbook. Having the cookbook manage everything about the application leads to more consistency and better performance from the cookbook.

Also, the service is c

[2016-10-04 19:38] xdrus commented on #449
Thanks, I've got your points, it makes sense, especially about apache service. I'll try to figure out how to deal with it in my case.

Best regards,
Ruslan.

[2016-10-04 21:31] #449 closed

[2016-10-24 15:34] #446 closed

[2016-10-24 15:35] #445 closed

[2016-10-24 15:37] svanzoest commented on #421
Tracking now as #422

[2016-10-24 15:37] #421 closed

[2016-10-29 21:55] svanzoest commented on #231
The reason this was under a different name space was that the attributes could be re-used by let's say an `apache3` cookbook. Since custom resources are less picky about this and this is so established, I am going to close this for now and keep it the way it is.

[2016-10-29 21:55] #231 closed

[2016-11-07 00:26] svanzoest commented on #429
tests are no longer taking that long.

[2016-11-07 00:26] #429 closed

[2016-11-07 00:50] #405 closed

[2016-11-07 00:58] svanzoest commented on #364
looks like opensuse has its default mpm as `prefork`:
[code]

[2016-11-10 20:26] tas50 opened #452 "rename repo to apache2-cookbook"
To match our other cookbook repos this one should get renamed

[2016-11-11 06:29] svanzoest commented on #452
I am all for consistency, but I have been holding off based on [#chef-brigade](http://chefcommunity.slackarchive.io/chef-brigade/-/1478634100.001171/1478731420.001287/1478636890001201/) discussion with @josephholsten

[2016-11-12 20:05] maneeshmp commented on #445
sorry I did not respond to this question.  After getting the error, I rewrote my recipe using package resource and exec resource(for a2enmod).I will check and update here

[2016-11-25 16:22] SharpEdgeMarshall commented on #308
No news on this? I need to write `undeploy` recipe for AWS opsworks and i don't know how to be sure i deleted everything.

[2016-11-25 18:20] svanzoest commented on #308
I currently do not plan to implement this in the definitions. The focus is
more on custom resources right now and we may add it there. Feel free to
explore that branch.

[2016-11-29 09:57] SharpEdgeMarshall commented on #308
I've written a recipe to workaround the lack of `action :delete` could you please confirm that is good to completely erase a `web_app "fooapp"` resource?
[code]

[2016-11-30 07:37] marzzz21 opened #456 "ports_apache.erb"
### Cookbook version
'~> 3.2.2'

### Chef-client version
12.15.19
### Platform Details
CentOS 7.2

### Scenario:
I'm trying to add the necessary ports for apache via:
iptables_rule 'port_apache' do
     cookbook "apache2"
end

### Steps to Reproduce:
I've created a wrapper cookbook for apache2 and tried to install apache with custom settings. Tried adding the iptables rule using the code above.

#

[2016-11-30 08:14] marzzz21 opened #457 "service[apache2]"
### Cookbook version
'~> 3.2.2'

### Chef-client version
12.15.19

### Platform Details
CentOS 7.2

### Scenario:
Installing a base working apache/http server.

### Steps to Reproduce:
I just included the recipe apache2::default

### Expected Result:
To have apache successfully installed.

### Actual Result:
https://gist.github.com/marzzz21/7a6e1c838a1d7b7a5f36b2ae2b0c2351

[2016-11-30 17:10] svanzoest commented on #457
[code]

How did `apache.binary` get set to `/usr/sbin/httpd.worker`?

[2016-11-30 17:14] svanzoest commented on #456
[code]

[2016-12-02 04:51] marzzz21 commented on #457
Checked the attributes, and it appears there was an attribute overriding the path to /usr/bin/httpd.worker. The cookbook worked for CentOS6.8 though. Anyway, this was my mistake, I apologize for bringing it up here.

[2016-12-02 04:51] #457 closed

[2016-12-08 16:51] 375gnu opened #458 "apache_module should not overwrite load files"
### Cookbook version
3.2.2

### Chef-client version
12.16.42

### Platform Details
Ubuntu 14.04

### Scenario:
I want to install and enable mod_security2.

### Steps to Reproduce:
package %w[libapache2-mod-security2 modsecurity-crs]
apache_module 'security2'

### Expected Result:
mod_security2.load provided with package to be used.

### Actual Result:
mod_security2.load is overwritten with incorre

[2016-12-31 01:25] daften opened #459 "When only listen_ports are defined, the merging in the helper library fails"
### Cookbook version
3.2.2

### Chef-client version
irrelevant

### Platform Details
Ubuntu 14.04 but irrelevant

### Scenario:
Still use the cookbook with the old listen_ports (legacy that was in place)

### Steps to Reproduce:
Run with only listen_ports defined and not listen_addresses

### Expected Result:
It should merge the old attributes and convert to the new scheme

### Actual Result:
It t

[2017-01-21 00:06] MrMichaelWill opened #462 "debian8.6 jessie with dotdeb php7.0 - should I be implementing an apache2::mod_php7.0"
### Cookbook version
3.2.2

### Chef-client version
Chef: 12.13.37

### Platform Details
Debian 8.6 (Jessie) with dotdeb repo for php 7.0.x

### Scenario:
I would like to configure apache to be using libapache2-mod-php7.0 instead of libapache2-mod-php5

### Steps to Reproduce:
my cookbook recipe includes the apache2 and php recipe

### Expected Result:
to install  libapache2-mod-php7.0 and configu

[2017-01-21 00:07] MrMichaelWill commented on #462
Looking forward to learn what the right way to do this is

[2017-01-27 18:08] josephholsten commented on #452
won't fix, we changed our minds. This is correct according to https://github.com/sous-chefs/meta/blob/master/transfering-a-cookbook.md

[2017-01-27 18:08] #452 closed

[2017-01-29 14:33] cdelacruzpinto opened #463 "master has important changes that haven't been released to the supermarket"
### Cookbook version
3.2.2

### Chef-client version
Chef: 12.17.44

### Platform Details
Ubuntu 16.04
### Scenario:

Recipe mod_php is not available in the last version of the apache2 cookbook released in the supermarket.
It is available, however, in the master branch, but it won't appear if I download the recipe from the supermarket. Because of this, I'm not able to submit P.R to fix other recipe

[2017-02-07 19:33] chadwick37 opened #464 "Install Apache 2.4.25"
Is it possible to install 2.4.25? If so how?

[2017-02-07 22:29] svanzoest commented on #464
This cookbook installs via the package resource. If you want to install a
different version, you would need to provide that version (as the latest
version) via the package installer on the desired platform.

On Feb 7, 2017 11:33 AM, "Chad Baron" <notifications@github.com> wrote:

[2017-02-09 13:35] laradji commented on #459
+1

[2017-02-15 17:55] Paladin opened #466 "Fails to point apache to the mime_magic file."
### Cookbook version
3.2.2

### Chef-client version
12.18.31

### Platform Details
Running chefDK 1.2.22 on OS X building a CentOS 7.2 system with Vagrant

### Scenario:
Configure Mime_Magic module properly

### Steps to Reproduce:

I changed the package names to pull from the IUS repo rather than the default repo:
  node.default['apache']['version']       = '2.4'
  node.default['apache']['package

[2017-02-20 15:23] sterago opened #467 "Apache2 service forces use of Debian provider on debian-like machines"
### Cookbook version
3.2.2

https://github.com/sous-chefs/apache2/blob/master/recipes/default.rb#L217

Is there a specific reason why the default provider cannot be used in this case?

[2017-02-20 20:10] damacus opened #468 "apache2 Chef-13"

[2017-02-21 06:17] svanzoest commented on #467
This is because of #151 which was because of the Ubuntu switch from Upstart to Systemd, so we forced the Debian provider. That was a while ago, so it is probably worth while to test to see if this is still a necessity.

[2017-02-21 06:20] #464 closed

[2017-02-24 09:39] hrak commented on #459
Appears to be fixed in #422 but that change has not made it into a new release yet. @svanzoest could you please cut a new release? (master includes some neat changes & fixes)

[2017-04-07 11:40] damacus commented on #468
[code]

[2017-04-10 23:03] ih16 commented on #463
Any perspective on when this will be released?

[2017-04-10 23:13] svanzoest commented on #463
@ih16 I have been working through integration tests and making sure we have everything in that we need. We should have a release out shortly.

[2017-04-10 23:15] ih16 commented on #463
@svanzoest Great! Thanks for the quick reply!

[2017-04-11 01:30] svanzoest opened #475 "[FreeBSD] inspec/chefspec different os name"
### Cookbook version

master

### Chef-client version

13.0.113

### Platform Details

FreeBSD 10.3 via kitchen-test

### Scenario:

When running test kitchen the fixture path used between chefspec and inspec is different.
Inspec expects `platforms/FreeBSD/10.3-RELEASE-p11.json`
Chefspec expects `platforms/freebsd/10.3.json`

### Steps to Reproduce:

on master run `kitchen test default-freebsd-103

[2017-04-11 13:39] pariminaresh opened #476 "can't modify frozen #<Class:Chef::Resource::Template>"
### Cookbook version
"version":"3.2.2"

### Chef-client version
Chef Client, version 13.0.113

### Platform Details
centos-7.2

### Scenario:
[What you are trying to achieve and you can't?]
Including apache2 default recipe in my cookbook

### Steps to Reproduce:
[If you are filing an issue what are the things we need to do in order to repro your problem? How are you using this cookbook or any reso

[2017-04-11 14:33] DStape commented on #463
+1

[2017-04-11 20:06] svanzoest opened #477 "FreeBSD inspec unable to find package and services installed in /usr/local"
### Cookbook version

master

### Chef-client version

13

### Platform Details

FreeBSD 10.3

### Scenario:

`kitchen test default-freebsd-103` using vagrant fails to verify with inspec
### Steps to Reproduce:

run `kitchen test default-freebsd-103`

### Expected Result:
kitchen verification of freebsd 10.3 passes.

### Actual Result:
the package is installed and running, however, inspec is unabl

[2017-04-11 23:53] svanzoest commented on #361
We now moved to inspec #460, so not directly related but also addressed with #478 .

[2017-04-11 23:53] #361 closed

[2017-04-12 00:07] svanzoest commented on #476
Thanks for the report.
I am trying to reproduce it using centos 7.3 from our test kitchen configuration and I am not able to reproduce. Are you interacting with that template in the wrapper by any chance?

[2017-04-12 01:04] svanzoest commented on #463
Just pushed https://github.com/sous-chefs/apache2/releases/tag/v3.3.0

[2017-04-12 01:04] #463 closed

[2017-04-12 01:05] svanzoest commented on #459
Released https://github.com/sous-chefs/apache2/releases/tag/v3.3.0

[2017-04-12 01:05] #459 closed

[2017-04-12 06:14] pariminaresh commented on #476
Thanks. I'm not doing any template interactions in the wrapper though I missed a point here that my cookbook depends on other cookbooks too. With trial and error, I found that the combination of apache2 with concat cookbook is causing that issue.

In my cookbook metadata.rb I have lots other dependencies including below:
   depends 'apache2', '~>3.2.2'
   depends 'concat'

[2017-04-13 10:58] DStape commented on #463
Thank you.

[2017-04-16 03:01] svanzoest commented on #476
Are you doing anything with the concat cookbook that would alter any of the apache2 templates? That could likely would be the code to inspect a little closer.

[2017-04-28 19:48] e100 opened #479 "Jessie php handlers are not configured"
### Cookbook version
3.3.0
### Chef-client version
12.19.36
### Platform Details
Debian Jessie
### Scenario:
Get php working

### Steps to Reproduce:
include_recipe "apache2:mod_php"

### Expected Result:
Setup working mod_php

### Actual Result:
A working php.conf is placed in mods-available/php.conf
This working config is NOT symlinked in mods-enabled resulting in a lack of php handlers

[2017-04-28 21:44] svanzoest commented on #479
Hmm.. yeah, not sure why I set `conf false`.
https://github.com/sous-chefs/apache2/blob/master/recipes/mod_php.rb#L99

[2017-05-02 20:15] carangil opened #480 "apache::mod_php on ubuntu 16.04 creates misnamed config files"
### Cookbook version

Berks says "Using apache2 (3.3.0)"

### Chef-client version

12.18.31

### Platform Details

Ubuntu 16.04 in AWS

### Scenario:

When using mod_php, Ubuntu creates:
  /etc/apache2/mods-available/php7.0.load and /etc/apache2/mods-available/php7.0.conf
The recipe overwrites them with stub files w/ comment saying to use different config file instead.  It them creates:
  /etc/apa

[2017-05-02 20:59] svanzoest commented on #480
Thanks for the detailed report. I think this is a duplicate of #479

[2017-05-05 02:45] eyespies commented on #479
This is also affecting CentOS / RHEL. I also noticed, as mentioned in #480 that the conf file is just 'php.conf' while the load file is 'php5.load'. I believe that a2enmod would normally create a symlink for both the conf and the load file, but they have to be named the same. So even if you add `conf true`, the config file will not be created properly.

[2017-05-05 03:24] eyespies opened #481 "CentOS / RHEL v 6.x Tests Removed?"
### Cookbook version
3.3.0

### Chef-client version
[code]

### Platform Details
CentOS 6.9

### Scenario:
I was working on a fix for #480 / #479 and checked the unit / integration tests. I noticed that in 3.3.0, all the test config files in `test/integration/default/inspec/localhost/platforms/` for CentOS and RHEL 6.x have been removed. Was there a reason for removing support for these OS platfor

[2017-05-05 03:36] eyespies commented on #479
I think that the line https://github.com/sous-chefs/apache2/blob/master/attributes/mod_php.rb#L20 will also need updated to be just 'php'

[2017-05-05 05:04] svanzoest commented on #481
We don't actively test on rhel 6.X any longer, however, it should still work. The test matrix is quite large, so we primarily focus on the latest major versions.

[2017-05-05 15:50] eyespies commented on #481
Does the apache2 cookbook follow semantic versioning? I would have expected removal of OS support to result in a major version bump since it technically is a breaking change by removing guaranteed backwards compatibility.

[2017-05-05 16:04] svanzoest commented on #481
We did not remove OS support, just the tests. The changes made to support PHP7 which passed in the tests is what is the issue here. The module is loaded, however, the config was not loaded which got missed in the tests.

[2017-05-05 16:26] eyespies commented on #481
I agree that you haven't really removed OS support, just the tests.

That said, my fear would be that if the tests are removed, someone could introduce code that is backwards incompatible with an older OS. And without tests, we cannot confirm that new code is indeed backwards compatible with an old release.

So while the code technically still supports the older OS, without tests, we cannot be cer

[2017-05-05 16:26] #481 closed

[2017-05-05 16:30] svanzoest commented on #481
I get what you are saying and I would love to run tests on every platform we have support for it is that it would take a few days to run. So unfortunately we limit it to the latest release only. Otherwise there are just too many manage.

I think if 3.2.2 works for you, then sticking to that is an excellent plan for rhel 6.

[2017-05-08 16:54] sergio-bobillier commented on #238
I'm experiencing this issue when I run test kitchen in a Vagrant - Virtual Box instance. In my test environment Apache has quite a lot of Virtual Hosts configured (around 360). When running the tests in an AWS instance they pass w/o issue but my local machine and thus the Virtual Box VM is not fas enough and the converge process fails.

`/usr/sbin/httpd -t` is taking 12 seconds to execute instead

[2017-05-12 12:29] bbaja42 commented on #160
Sorry for commenting on old merged issue:

I noticed that reload command was replaced with graceful.

Since graceful actually performs the restart, then what is the purpose of having both graceful and restart command, why not do graceful always?

[2017-05-12 16:19] drpebcak commented on #160
@bbaja42 depending on what platform you are referring to, there is a difference between restart and graceful - basically, [this](https://teckadmin.wordpress.com/2013/10/23/difference-between-graceful-restart-and-normal-restart/).

[2017-05-12 17:07] svanzoest commented on #160
This the section in the docs on the difference between restart and graceful.
http://httpd.apache.org/docs/current/stopping.html

On May 12, 2017 09:19, "Taylor Price" <notifications@github.com> wrote:

@bbaja42 <https://github.com/bbaja42> depending on what platform you are
referring to, there is a difference between restart and graceful -
basically, this
<https://teckadmin.wordpress.com/2013/10/2

[2017-05-12 20:15] bbaja42 commented on #160
Cool, thnx

[2017-06-13 20:59] klarakarl opened #486 "File /etc/sysconfig/httpd24 is generated instead of /etc/sysconfig/httpd"
When cookbook is configured to install httpd24 package wrong config file is generated

### Cookbook version
    v3.3.0 (2017-04-11)
### Chef-client version
   12.17.44

### Platform Details
    Amazon Linux AMI release 2016.09 (should be reproduced on any RHEL)

### Scenario:
Set apache environment variables via
  node['apache']['sysconfig_additional_params']
using the following set also
  node['a

[2017-06-13 22:45] klarakarl commented on #486
Pull request - https://github.com/sous-chefs/apache2/pull/488

[2017-06-17 19:57] grv87 commented on #468
[code]

[2017-06-20 17:58] jamescorkran commented on #480
Has this been fixed in the current build since there are now multiple issues with it?

[2017-06-21 14:07] fancyweb commented on #480
Having the same problem on Debian Stretch (9.0)

This is my fix : `ln -s /etc/apache2/mods-available/php.conf /etc/apache2/mods-enabled/php7.conf`

[2017-06-22 19:00] jamescorkran commented on #480
@fancyweb
I solved mine by flipping [this recipe setting to true](https://github.com/sous-chefs/apache2/blob/master/recipes/mod_php.rb#L99)
Then duplicated [apache/templates/default/mods/php.conf.erb](https://github.com/sous-chefs/apache2/blob/master/templates/default/mods/php.conf.erb), tweaked it and renamed it to php7.conf.erb and that seems to have worked for me.

[2017-07-08 17:22] #486 closed

[2017-07-08 17:22] tas50 commented on #486
Fixed on master. Thanks

[2017-07-18 12:41] gorazdzagar opened #498 "Version control missing"
### Cookbook version
5.0.0

### Scenario:
Fixate the version to be installed

### Expected Result:
Expected to have **version** included with the package resource and default['apache']['version'] be present.

### Actual Result:
Not possible to fixate the version which is a requirement to prevent automatic updates to newer releases.

[2017-07-18 15:21] gouketsu opened #499 "issue introduced in mod_ldap module"
### Cookbook version
version 5.0.0

### Chef-client version
12.20.3

### Platform Details
Ubuntu 16.04

### Scenario:
Install apache2 with ldap module

### Steps to Reproduce:
Install apache2 with ldap module

### Expected Result:
chef-client run successfully

### Actual Result:
Exception
Generated at 2017-07-18 08:19:41 +0200
Chef::Exceptions::Package: apt_package[mod_ldap] (apache2::mod_ldap lin

[2017-07-18 16:24] tas50 commented on #468
All testing is running in 13 and we're not seeing issues now. I'm going to close this out

[2017-07-18 16:24] #468 closed

[2017-07-18 16:26] tas50 commented on #354
Closing this out since 2.2 support has been removed in the latest release.

[2017-07-18 16:26] #354 closed

[2017-07-18 18:31] damacus commented on #499
Closed by #500

[2017-07-18 18:31] #499 closed

[2017-07-21 18:38] mtory opened #501 "mod_ldap errors"
### Cookbook version
5.0.0

### Chef-client version
12, 13

### Platform Details
Ubuntu 14.04.3, 14.04.5 OpenStack / kitchen

### Scenario:
Simply running chef-client using apache2 as an upstream cookbook.

### Steps to Reproduce:
run chef-client

### Expected Result:
Expect to run and set up ldap module for apache

### Actual Result:
[code]

[2017-07-25 15:47] SharpEdgeMarshall opened #502 "Feature add mod_jk compilation for CentOS"
Like `mod_auth_openid`, `mod_jk` requires compilation on some platforms and actually doesn't work.

[2017-07-25 20:21] damacus commented on #502
Hey @shanethehat thanks for notifying us of this.

Fancy submitting a PR for this functionality?

[2017-07-26 07:43] SharpEdgeMarshall commented on #502
@damacus maybe you were talking to me?
I could make a PR basing the recipe on `mod_auth_openid` but i need help with needed packages.

[2017-07-26 09:00] damacus commented on #502
Indeed!

Give us a shout in the sous-chefs slack if you need a hand.

[2017-07-28 04:05] svanzoest commented on #502
My personal opinion has been to remove all non-standard httpd modules outside of this cookbook and handle them separately. E.g. if the source does not live at https://github.com/apache/httpd/tree/trunk/modules and is not a standard module provided at http://httpd.apache.org/ then it should be moved into it's own separate cookbook.

This includes things like `mod_pagespeed`, `mod_auth_openid`, `mod

[2017-07-28 09:31] SharpEdgeMarshall commented on #502
@svanzoest Too late, i just made PR :joy:
If mod_jk should be in his own cookbook let me now so i could move code there.

[2017-08-07 14:24] jarrettj commented on #480
Hi,

Has the installation of libapache2-mod-php on Ubuntu Xenial been sorted?

Regards.
JJ

[2017-08-20 08:21] araj1 commented on #238
The issue still exists, is there anyway we can increase the default timeout ?

[2017-08-28 14:57] SharpEdgeMarshall opened #507 "Add `use_inline_resources` to web_app"
### Cookbook version
v5.0.0

### Scenario:
When using `web_app` resource is impossible to add a notification because is never executed

### Use case
I need to immediately reload apache2, after creating app config, to request a SSL certificate with acme protocol.

[2017-08-28 17:37] tas50 commented on #507
@SharpEdgeMarshall Can you open a PR up to fix this?

[2017-08-29 07:17] SharpEdgeMarshall commented on #507
Sure i could make it, but i'm still waiting a feedback on the previous one, do you merge PRs or let them sit there forever?

[2017-09-08 15:46] cheeseplus commented on #502
+1 for this not being part of the core cookbook as it's not a standard module

[2017-09-08 16:22] lamont-granquist commented on #507
web_app is a definition not a resource, so use_inline_resources will not work until its converted to a resource

[2017-09-08 17:08] cheeseplus commented on #507
@lamont-granquist beat me to it but I'll add that Definitions can't send or receive notifications which is why this isn't as simple as editing the existing definition.

[2017-09-09 18:59] josephholsten commented on #502
Can we document the goal of removing those modules in the readme? I'm sure someone else will make a similar request in future.

[2017-09-20 15:04] Meh-Lindi opened #512 "Request ability to set apache2.conf Mutex mode"
### Chef-client version
Chef Development Kit Version: 1.1.16
chef-client version: 12.17.44
delivery version: master (83358fb62c0f711c70ad5a81030a6cae4017f103)
berks version: 5.2.0
kitchen version: 1.14.2

### Platform Details
Debian

### Scenario:
I need to edit the apache2.conf "global" setting Mutex to set which mode of mutex I am using.
For my (apache, fcgid php) Debian it is recommended to hav

[2017-09-20 15:10] svanzoest commented on #512
You can drop in a template in conf-enabled using the definitions to
override or append anything in the global apache configuration.

On Sep 20, 2017 08:05, "Jason Harris" <notifications@github.com> wrote:

[2017-09-20 15:51] svanzoest commented on #498
`apache.version` was only used as a flag to determine if the cookbook should behave in `2.4` or in the default 2.2 mode.

The cookbook has no knowledge as to what version of the apache2 package is available when calling `package` and it is generally recommended to handle this at the package repository level.

[2017-09-21 07:38] Meh-Lindi commented on #512
Yes I have done that now.
I was just surprised that you could set the Mutex file directory with a node setting, but not actually the mode.
Thanks.

[2017-09-21 07:38] #512 closed

[2017-10-05 17:51] mike-stewart opened #513 "Configurable AcceptFilter"
### Cookbook version
5.0.1

### Scenario:
Several sources recommend overriding AcceptFilter when running Apache as a back-end server behind a load balancer, including the AWS best practice guide for running Apache behind ELB.

It would be good if this option were configurable via an attribute.

At present, it is only modified for BSD:
https://github.com/sous-chefs/apache2/blob/master/templates/def

[2017-10-05 18:41] svanzoest commented on #513
On Oct 5, 2017 10:51, "Mike Stewart" <notifications@github.com> wrote:

Cookbook version

5.0.1
Scenario:

Several sources recommend overriding AcceptFilter when running Apache as a
back-end server behind a load balancer, including the AWS best practice
guide for running Apache behind ELB.

It would be good if this option were configurable via an attribute.

At present, it is only modified for BSD

[2017-10-13 20:52] eyespies commented on #480
This is also broken on CentOS 7:

[code]

So PHP does not work when the system comes online. For now, I'm just creating a symlink in my wrapper recipe, but would be good to get this fixed.

[2017-11-13 23:23] svanzoest commented on #507
This should be addressed by #414

[2017-11-17 01:16] loforbes commented on #480
Just want to echo this is broken on CentOS 7, specifically when trying to use the php5 module. The mods-enabled/php5.load link is created. However, no link is created for mods-enabled/php5.conf, nor is there a mods-available/php5.conf to link to. We manually linked mods-enabled/php5.conf -> mods-available/php.conf and the service launches properly.
Regards,
-liam

[2017-11-21 11:30] 375gnu opened #516 "Incorrect apache2_module_conf_generate.pl location"
### Cookbook version
5.0.0, 5.0.1

### Chef-client version
11.18.12

### Platform Details
openSUSE Leap 42.3

### Actual Result:
[code]

This is due to commit 0416e27 which moved this perl script from files/default to files

[2017-11-22 15:47] samakode opened #517 "How to install the specfic version of the apache using this cookbook as ther is no attribute defined in the cookbook to provide the version details"
### Cookbook version
5.0.1

### Chef-client version
12.19.36

### Platform Details
Cent os 7.1 rhel family.  Azure cloud

### Scenario:
Trying to install the fixed version of apache 2.4.17

### Steps to Reproduce:
How to specify a specific version of apache

### Expected Result:
Fix the version of apache to 2.4.17 even if the new version is available via node attribute.

### Actual Result:
After r

[2017-11-28 20:34] fabn commented on #480
This is a big issue and after 2 months is still open. Could we fix it in the cookbook?

Thanks.

[2017-11-28 20:37] josephholsten commented on #480
@fabn absolutely, do you have a PR ready for me to review? I don’t use this cookbook on a daily basis, but I’m happy to help any changes you make become ready to merge and release.

[2018-01-04 15:11] timurb opened #521 "running apachectl -t rather than apache2 -t"
In Ubuntu 16.04 (probably Debian and other Apache 2.4 distro versions too)  stock Apache modules' configs refer some env vars defined in `/etc/apache2/envvars` such as `APACHE_LOG_DIR`.

This file is only processed when you run `apache2ctl -t` and is not processed in case of `apache2 -t` — latter case always produces error.

This cookbook uses `apache2 -t` form: https://github.com/sous-chefs/apach

[2018-01-11 12:09] damacus opened #522 "Discussion, dropping support for apache 2.2"
Should we drop support for apache 2.2 in favour of the up to date, patched (from a module perspective) 2.4?

[2018-01-11 12:56] gsreynolds commented on #522
My two cents from a maintainability POV, yes absolutely. However, my understanding was that this was done in [v5.0.0](https://github.com/sous-chefs/apache2/blob/master/CHANGELOG.md#v500-2017-07-13)?

For the discussion it might be useful to summarise what needs to be done on top of what was done in 5.0.0 for those not familar?

Related: https://github.com/afklm/jira/issues/107, https://github.com/

[2018-01-11 13:04] damacus commented on #522
We might need a removes-2.2 support set of items or whatever then.

There's a tonne of things in the code base that can be simplified if we remove 2.2.

[2018-01-24 09:50] mawatech opened #523 "ports.conf empty with latest chef-client (13.7.16)"
### Cookbook version
5.0.1

### Chef-client version
13.7.16

### Platform Details
CentOS 7

### Scenario:
Just run the apache2 default recipe

### Steps to Reproduce:
Just run the apache2 default recipe. A small example deployment will be attached.

### Expected Result:
Apache installed.

### Actual Result:
[code]
Problem seems to be an empty ports.conf:

[code]
This breaks between chef 13.6.26 an

[2018-01-24 09:53] mawatech commented on #523
[apache2_chef_failure.zip](https://github.com/sous-chefs/apache2/files/1659330/apache2_chef_failure.zip)

Just unzip, run `berks install` and then `kitchen verify -l debug default-centos-7`

[2018-01-24 11:35] rcambien commented on #523
I have the same problem and after some investigations, the only recipe that update the ports.conf file is mod_ssl ... if you don't include the mod_ssl recipe, the ports.conf file is left blank.

[2018-01-24 11:44] damacus commented on #523
Hey all!

thanks for reporting this issue, would you mind trying the same using the master branch?

It's 'bleeding edge right now, with pg_gem not working right now. But most other features should work out of the box including this one.

[2018-01-24 12:01] mawatech commented on #523
master branch is also broken.

[2018-01-24 12:12] mawatech commented on #523
I added logging to https://github.com/sous-chefs/apache2/blob/master/libraries/listen.rb

[code]

which outputs `[2018-01-24T12:03:41+00:00] FATAL: RETVAL is []`

After adding another logging to https://github.com/sous-chefs/apache2/blob/master/recipes/default.rb at line 173

[code]
and running the deployment again it is working

`[2018-01-24T12:06:22+00:00] FATAL: RETVAL is ["*:80"]`

I have no c

[2018-01-24 18:35] Dispader commented on #523
Hey @mawatech — I'm seeing exactly the error you're seeing, here— and started to just after Chef Client 13.7.16 released.  Does your above message indicate that you're not getting the error anymore?

[2018-01-24 18:50] Dispader commented on #523
@rcambien I think the problem is a bit deeper than that: I am including `mod_ssl`, and I'm still getting the error.

If it helps anyone here, manually setting `['apache']['listen']` seems to be a temporary workaround.

[code]

[2018-01-24 20:04] Dispader commented on #523
Just a heads-up for folks: while the above issue seems to take care of the port opening issue, there appear to be deeper problems (here, SSL, permissions, VHost configuration).  I'm suspecting the Chef Client version update recently, but I'm going to verify this.

[2018-01-24 20:49] Dispader commented on #523
Small update: reverting the Chef Client to `13.6.4` does make this particular problem go away.  (I've specified it in the metadata for the cookbook on which I've been testing, and in `.kitchen.yml` for the tests.)

(Personal note: I'm having other problems, even after this reversion, but they may be specific to what I'm doing.  Reverting Chef Client seems to open ports in the way that folks were a

[2018-01-24 21:16] mawatech commented on #523
I think that this one is the root cause:

https://github.com/chef/chef/issues/6784

[2018-01-25 23:15] ramdasj opened #524 "Error executing action `restart` on resource 'service[apache2]'"
Chef Development Kit Version: 2.4.17
chef-client version: 13.7.16
platform rhel- 7.4 and 7.0

### Scenario:
using apache2 as a dependency in my cookbook where i need the apache2 to be installed.

### Steps to Reproduce:
while converging using kitchen this error popped up

* service[apache2] action restart

           ================================================================================

[2018-01-26 00:33] koertkuipers commented on #481
so yeah. they did really drop support for rhel 6

[2018-01-29 17:30] ramdasj commented on #524
@martinisoft please help me with this issue in cookbook, i have apache installed but it doesn't restart

[2018-01-29 17:32] ramdasj commented on #524
@tas50 please guide on this

[2018-02-01 20:22] awm086 opened #525 "Chef provisioner error trying to disable mpm_prefork? how do I avoid this?"
### Cookbook version
lates
### Chef-client version
12+

### Platform Details
ubuntu 16.04

### Scenario:
When running vagrant reload --provision

### Steps to Reproduce:

### Description:
This is probably a usage issue. The following code in apache_module.rb is trying to disable mpm_prefork, but errors out because it has dependencies such as php7.1, 7.2. How can I avoid this?
[code]

and error exa

[2018-02-01 21:20] awm086 commented on #525
adding the following to run list fixed my issue
[code]
hope this helps others

[2018-02-01 21:20] #525 closed

[2018-02-01 23:13] svanzoest commented on #524
Can you provide the output from systemd that gives the specific error?

`systemctl status httpd.service` and `journalctl -xn` should provide more insight as to why the restart is failing.

[2018-02-02 09:32] marzdgzmn commented on #523
Tried the workaround, but it is not working.

[2018-02-23 14:29] gurussia opened #526 "urgent help: Connection attempts using mod_proxy: 125.39.222.49 -"
hi guys i dont know where put this.

Connection attempts using mod_proxy:
    125.39.222.49 ->

guys, can someone can comment how to protect apache2 from used illegaly from unknown. it read in internet that mod_proxy can be used someone can gai  access in local intranet and internet and intent do dirty things. So why apache dont make protection if you enable mod_proxy it can be with password, it c

[2018-02-26 17:39] pwalz commented on #480
It looks like this is fixed by #514, which has been merged.

[2018-02-26 23:35] #480 closed

[2018-02-26 23:35] #526 closed

[2018-02-27 14:41] pwalz commented on #479
Like #480, I think this one has been resolved by #514.

[2018-02-27 15:06] #479 closed

[2018-02-27 15:07] damacus commented on #479
Boom thanks @pwalz !

[2018-03-05 11:00] 375gnu opened #527 "lock_dir is missing after reboot"
### Cookbook version
5.0.1

### Chef-client version
any

### Platform Details
suse 12sp3 / opensuse 42.3

### Steps to Reproduce:
Converge a server, reboot it, start apache.

### Expected Result:
apache is started

### Actual Result:
apache refuses to start because /var/run/httpd is missing (`Mutex file:<%= node['apache']['lock_dir'] %> default`)

### How to fix?
add a file to /etc/tmpfiles.d with

[2018-03-20 13:00] zabudskyi opened #528 "Enable php5.6 in Ubuntu16.04"
### Cookbook version
5.0.1

### Chef-client version
13.8.5

### Platform Details
Ubuntu 16.04

### Scenario:
Enable php5.6 module in Ubuntu 16.04

### Steps to Reproduce:
My recipe
[code]
### Expected Result:
php5.6 module to be enabled and php7.0 to be disabled
### Actual Result:
[code]
Why am I getting this error?
` templates/mods/php.conf.erb` file exists

[2018-03-22 19:20] damacus commented on #337
Closing to tidy up issues. Looks like we're not going to do this now.

If this is an error please drop a message and I'll reopen

[2018-03-22 19:20] #337 closed

[2018-03-22 19:22] damacus commented on #172
Looks like we're not going to ng to get the bandwidth to do this right now.

Closing in favour of bug squashing and parity tickets

[2018-03-22 19:22] #172 closed

[2018-03-26 04:20] don-code opened #529 "32-bit ARM is flagged as a 64-bit architecture"
### Cookbook version
5.0.1

### Chef-client version
13.8.5

### Platform Details
CentOS 7 on 32-bit ARM

### Scenario:
Running the `default` recipe.

### Steps to Reproduce:
The minimal Chef run list `recipe[apache2]` when bootstrapped against a 32-bit ARM machine is sufficient to reproduce.

### Expected Result:
Apache httpd should install and start up.

### Actual Result:
Apache httpd installs b

[2018-03-26 07:49] damacus commented on #529
Closed via #530

[2018-03-26 07:49] #529 closed

[2018-03-26 07:52] damacus opened #531 "Inspec tests fail due to missing json file"
### Cookbook version

master

### Platform Details

Anything we've changed recently

### Scenario:

kitchen verify

### Steps to Reproduce:
run a `kitchen verify` on any platform.

### Expected Result:

Kitchen verify finds and uses the json file.

### Actual Result:

`Failed to complete #verify action: [Cannot find file debian_8.10.json in profile.] on default-debian-8`

[2018-06-22 09:10] damacus opened #535 "CALL FOR MAINTAINERS"
Dear all,

the core maintainer of this cookbook has moved on. I'd like to take this opportunity to thank @svanzoest for his hard work getting this cookbook to where it is.

We are now looking for at least two new core maintainers for this cookbook.

If you regularly use this cookbook, and would like to improve it. Please drop a message below!

[2018-06-22 21:28] mruhlin opened #536 "No url found for submodule path 'foodcritic/sc' in .gitmodules"
### Cookbook version
5.0.1

### Chef-client version
12.21.4

### Platform Details
mac os x 10.13.5 (17F77)

### Scenario:
Including this repository as a submodule, trying to recursively update all submodules in my project, this one causes it to fail.
Have verified error also happens when I clone the repo separately instead of using it as a submodule

### Steps to Reproduce:
clone repo locally
`git

[2018-06-22 21:33] mruhlin commented on #536
Looks like the submodule was removed here: https://github.com/sous-chefs/apache2/commit/3eb3bd4b3ae6ba42bb44678eedb5e9dd9f4ddb1b#diff-b8061dfb8a6e4dfbce0beb2cc91a9401

And then (accidentally?) re-added here: https://github.com/sous-chefs/apache2/commit/3eb3bd4b3ae6ba42bb44678eedb5e9dd9f4ddb1b#diff-b8061dfb8a6e4dfbce0beb2cc91a9401 but not added correctly?

I'll try forking and removing that directo

[2018-06-22 21:46] damacus commented on #536
Give me 5, I'll remove it. It should stay gone we don't need it anymore. thanks for spotting that.

[2018-07-25 13:38] damacus commented on #336
Closing this down as we're looking at trying to drop support for 2.2.

[2018-07-25 13:38] #336 closed

[2018-07-25 13:42] miedward commented on #535
I can do testing and sanity checking for sure.  Actual coding would require someone being fairly directive since I am inexperienced with chef innards.

[2018-07-29 16:39] damacus commented on #531
Closing as we're getting rid of  the json files.

[2018-07-29 16:39] #531 closed

[2018-07-30 14:39] #521 closed

[2018-07-31 09:04] #522 closed

[2018-07-31 09:05] damacus commented on #498
Closing this down now as we're refactoring the cookbook heavily.

If we decide to introduce package locking or something similar it'll be clearly marked as such.

[2018-07-31 09:05] #498 closed

[2018-07-31 09:08] damacus commented on #214
Closing this down and tracking as part of the rewrite 6.0 milestone.

[2018-07-31 09:08] #214 closed

[2018-07-31 09:10] damacus commented on #215
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:10] #215 closed

[2018-07-31 09:10] damacus commented on #175
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:10] #175 closed

[2018-07-31 09:10] damacus commented on #218
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:11] damacus commented on #223
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:11] #223 closed

[2018-07-31 09:11] damacus commented on #176
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:11] #176 closed

[2018-07-31 09:12] damacus commented on #177
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:12] #177 closed

[2018-07-31 09:12] damacus commented on #218
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:12] #218 closed

[2018-07-31 09:12] damacus commented on #224
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:12] #224 closed

[2018-07-31 09:12] damacus commented on #228
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:12] #228 closed

[2018-07-31 09:13] damacus commented on #236
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:13] #236 closed

[2018-07-31 09:13] damacus commented on #364
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-07-31 09:13] #364 closed

[2018-08-26 17:25] damacus commented on #527
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2018-08-29 03:08] lily-liu opened #553 "Unable to reload httpd service"
### Cookbook version
5.2.0

### Chef-client version
14.2.0

### Platform Details
Amazon Linux 2 - 2.0.20180810 running on c4.xlarge instance.

### Scenario:
Using chef to provision dependencies and libraries before creating an AMI using packer.

### Steps to Reproduce:
1. Include apache2 cookbook on our cookbook.
2. Run automation script to provision the instance using our cookbook.

### Expected

[2018-08-30 08:00] vgirnet opened #554 "New ports configuration is missing mod_ports.so on CentOS 7"
### Cookbook version
5.2.0

### Chef-client version
Chef: 14.3.37

### Platform Details
CentOS Linux release 7.5.1804 (Core)

### Scenario:
Generate a web application

### Steps to Reproduce:
Just include latest cookbook apache2 5.2.0 in dependencies, and generate a web site configuration

### Expected Result:
httpd to be running

### Actual Result:

[code]

When troubleshooting, found this:
[code

[2018-08-30 08:02] vgirnet commented on #554
Cookbook version 5.0.1 works just fine.

[2018-09-04 16:18] damacus commented on #554
Fixed by #557 👍 which is out on the supermarket now.

[2018-09-04 16:18] #554 closed

[2018-09-05 08:32] damacus commented on #553
Are you able to replicate this outside Packer with the same configuration?

Can you also post the apache2 config here rather than a zip please?

[2018-09-05 11:10] lily-liu commented on #553
not yet - i am comparing this cookbook installation with default httpd installation on same OS

**Overridden properties:**

- node.default['apache']['default_site_port'] = '8080'
- node.default['apache']['listen']            = ['*:8080']
- node.default['apache']['status_url'] = 'http://localhost:8080/server-status'

**Recipe that calls apache2 cookbook**
[code]

I think it might have something to

[2018-09-06 05:10] lily-liu commented on #553
It might be happening because there is some error on mime_module.
When i remove mime_module from default module array, reload action can be executed properly

[2018-10-13 15:26] nuheluxulu opened #563 "fast_cgi"
### Cookbook version
5.2.1

### Chef-client version
14.5.33

### Platform Details
CentOS Linux release 7.5.1804 - Cloudinit image http://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud-1809.qcow2

### Scenario:
Trying to get fast_cgi to work with the cookbook

### Steps to Reproduce:
Made a wrapper cookbook with the only difference:
default['apache']['default_modules'] += %w(proxy fc

[2018-10-13 16:33] mengesb commented on #563
I would think what you want is `node.default['apache']['default_modules'] << %w(proxy fcgid)` ...

`+=` is commonly string concatenation, `<<` is commonly array appending

[2018-10-17 22:17] damacus commented on #563
This will change with the upcoming cookbook release once we have a direct module resource.

The guide will be, you can either pass in a new complete list to override the default modules list, or add another module to be installed via the `apache_module` resource.
Watch this space 👍

[2018-10-18 15:08] rgriffith commented on #553
I am running into similar behavior with an initial bootstrap on an Amazon Linux 2 AMI. The apache2 restart seemingly hangs and I have to abort the bootstrap.

[code]

Here's what the status of the service looks like at that point:

[code]

I've also noticed that manually issuing a reload times out, but restart does not.

[2018-10-18 18:37] damacus commented on #553
Yup, as I suspected this looks very similar to the Fedora bug I encountered