[2018-10-18 18:40] damacus commented on #553
Quick update. I'm working on getting the definitions moved into custom resources this week or early next week, depending on time allowing, this may allow better control of the reloading/restarting of apache 🤞

[2018-10-19 12:58] rgriffith commented on #553
I was hoping to use `apache_module 'mime'` in order to avoid the conf file from being created, but it's still being pulled over into `mods-enabled` and preventing the reload.

[2018-10-19 13:11] damacus commented on #553
Do you include the recipe or use the definition?

Just for reference, what are you trying to do? I need some background so I can figure out some use cases for the new functionality of `apache2_module`.

[2018-10-19 13:13] rgriffith commented on #553
I have the following in a wrapper cookbook to install Apache  and a number of modules, but don't need all of the extra `.conf` files:

[code]

I am noticing even without specifying `conf true` (definition sets it to false), it still pulls in the `.conf` file.

[2018-10-19 13:15] damacus commented on #553
Well that's annoying!

Right. I have something in the works for this, but it's going to be a short while before it's ready.

[2018-10-19 13:18] rgriffith commented on #553
I may try throwing in the following to see if I can at least get that `mime.conf` file "disabled" so the reload at least works:

[code]

[2018-10-19 13:30] rgriffith commented on #553
We're in the process of switching over from the `httpd` cookbook which  recommends `apache2` and that cookbook doesn't really add much in terms of config files. This is why I was hoping to use `apache_module` to avoid those extra config files being added.

Similarly, it'd be nice to take advantage of `mod_ssl` for handling the package, but we don't need the config associated with it.

[2018-10-19 14:10] damacus commented on #553
If you haven't finished switching over yet. I'd recommend waiting to implement it after we've done a 7.0/7.1 release.

I'm in the middle of making this all work a bit better. Use cases like this a *very* helpful

[2018-10-19 15:49] damacus commented on #553
That's a good use case.

I wonder if it's a time when we just ask the user to supply the templating and you tell "us" to turn it off.

[2018-10-19 16:47] rgriffith commented on #553
The `httpd` cookbook was very similar to what you're providing with the additional variables. I know in our case that would solve the problem. Maybe just a quick check to see if `variables` is passed, otherwise pass in what you have currently?

[2018-10-20 10:43] damacus opened #564 "Use cases and feedback for apache2 v6.0"
Hello Sous-Friends!

apache2 cookbook rewrite from definitions to custom resources is almost complete

We're looking for ways people want to configure apache2 in the future.

Do you:
- Use custom templates
- Always add but disable modules
- Need to pass in very specific configuration to templates
- Not really know what a custom resource?
- Use the recipes in the cookbook a *lot*? (we’re looking at

[2018-10-23 10:11] lily-liu commented on #553
Hi, @damacus @rgriffith the workaround that i did for this issue is just copying the whole cookbook to my project, and change all reload action to restart action. I don't know if that's a good way to do it (i think its bad idea?) but the restart works just fine without breaking anything, at least in my case.

[2018-10-23 11:52] rgriffith commented on #553
Based on the code, you _should_ be able to pass `restart true` into the resource to force a restart instead of reload. I think for swapping out modules, a restart makes sense.

[2018-10-30 14:34] fernandoaleman opened #565 "mod_ssl install fails on Amazon Linux 2"
### Cookbook version
5.2.1

### Chef-client version
14.6.30

### Platform Details
Amazon Linux 2 - 2.0.20181010
Testing on docker via [dokken/amazonlinux-2](https://github.com/someara/dokken-images/blob/master/amazonlinux-2/Dockerfile)

### Scenario:
Use Chef to provision httpd with ssl on Amazon Linux 2

### Steps to Reproduce:
- Add `depends 'apache2'` to wrapper cookbook `metadata.rb` file.
- A

[2018-10-30 14:36] fernandoaleman commented on #553
@lily-liu I was also able to get it working by copying the cookbook and replacing all the `reload` commands to `restart'.

[2018-10-30 14:38] fernandoaleman commented on #553
@damacus Along with temporarily getting this to work on Amazon Linux 2, based on @lily-liu's suggestion (until the cookbook is fixed), I also found an error installing `mod_ssl` on Amazon Linux 2 and opened up a separate issue #565.

[2018-11-11 16:38] janskarvall opened #568 "Configuration of default HTTP server broken in version 5.2.1"
### Cookbook version
5.2.1

### Chef-client version
14.2.0

### Platform Details
ubuntu-16.04.5-server-amd64

### Scenario:
Configure apache default HTTP site.

### Steps to Reproduce:
Include the following lines in a recipe, put it in the run-list and cook:

[code]

### Expected Result:
Accessing the server with http://_servername_/ with a browser shows the `Apache2 Ubuntu Default Page`.

### Act

[2018-11-15 14:24] damacus opened #569 "Resources: SSL Support"
### Cookbook version

6.0.0-beta

### Chef-client version

Latest

### Platform Details

- All

### Scenario:

As a user
I want to be able to configure apache2 to accept SSL traffic
So that I have secure communication

### Acceptance Criteria:
- [ ] `mod_ssl` enabled
- [ ] tests for communication open on port 443 only (port 80 disabled)
- [ ] all supported platforms (i.e. not CentOS-6) report back

[2018-11-15 14:38] damacus opened #570 "Resource: apache2_website"
### Cookbook version
- 6.0.0-beta

### Chef-client version
- Latest

### Platform Details
- All supported platforms

### Scenario:
As a user
I want to be able to create and enable a website
So that I can create websites using the apache2 cookbook

As a user
I want to be able to create website content that users cannot see
So that I can stage changes

### Acceptance Criteria
- [x] apache2_website r

[2018-11-15 14:43] damacus opened #571 "Resources: apache2_default_website"
### Cookbook version
- 6.0.0-beta

### Chef-client version
- Latest

### Platform Details
- All supported

### Scenario:
As a user
I want to be able to enable and disable the default website
So that I do not serve content from it

As a user
I want to be able to configure the default website
So that I can serve simple content from it

### Acceptance Criteria:
- Apache default website should

### Ac

[2018-11-15 14:46] damacus opened #572 "Update README for 6.0.0-beta"
### Cookbook version
6.0.0-beta

### Expected Result:
- All current resources should be documented using the `description` field in each resource
- README should have the output of those descriptions.
- Should have a build badge from circleci

### Actual Result:
Minimal documentation

[2018-11-15 14:50] damacus commented on #568
Hey there!

We're looking at moving to a fully custom resource driven model for the apache2 cookbook.
As a result our ability to backport fixes into the current release safely is limited.

[2018-11-15 15:09] damacus commented on #467
Closing due to a little lack of detail.

If this still occurs on master, please don't hesitate to reopen  against the current version of master

[2018-11-15 15:09] #467 closed

[2018-11-15 15:10] damacus commented on #400
Hi there!

can you see if this is still a case on the current version of master.

Closing as this is a very old ticket

[2018-11-15 15:10] #400 closed

[2018-11-15 15:10] damacus commented on #355
Hi there!

can you see if this is still a case on the current version of master.

Closing as this is a very old ticket

[2018-11-15 15:10] #355 closed

[2018-11-15 15:12] damacus commented on #502
Closing this as stale issue. If someone wants to take up documenting why/what/how please re-open or just fix.

Thanks!
Dan

[2018-11-15 15:12] #502 closed

[2018-11-15 15:13] damacus commented on #435
Hi there!

can you see if this is still a case on the current version of master.

Closing as this is a very old ticket

[2018-11-15 15:13] #435 closed

[2018-11-15 15:13] damacus commented on #414
yeah, this is done now.
They're not complete. But there are now no definitions left on master.

[2018-11-15 15:13] #414 closed

[2018-11-15 15:15] damacus commented on #456
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-11-15 15:15] #456 closed

[2018-11-15 15:17] damacus commented on #565
@fernandoaleman would you be able to make a fix for  this on master please?

[2018-11-15 15:18] damacus commented on #458
This seems like a bug!

If you want to take up fixing this, please drop in a PR. If you need help where to start, the #sous-chefs channel on the chef community slack is a great please to get started.

Thanks,
Dan

[2018-11-15 15:22] damacus commented on #462
PHP support in general, is lack in in the cookbook right now!

If you want to come on the #sous-chefs channel on the [Chef community slack ](http://community-slack.chef.io/), we can maybe bash something out that's not brittle.

[2018-11-15 15:29] damacus commented on #563
Hi there!

would you mind trying to replicate this failure on the current master branch of the cookbook?
From what I've seen this is no longer an issue, but if it is please reopen

Thanks,
Dan

[2018-11-15 15:29] #564 closed

[2018-11-15 15:30] damacus commented on #553
Hi there!

would you mind trying to replicate this failure on the current master branch of the cookbook?
From what I've seen this is no longer an issue, but if it is please reopen

Thanks,
Dan

[2018-11-15 15:30] damacus commented on #524
Hi there!

would you mind trying to replicate this failure on the current master branch of the cookbook?
From what I've seen this is no longer an issue, but if it is please reopen

Thanks,
Dan

[2018-11-15 15:30] #524 closed

[2018-11-15 15:31] damacus commented on #517
Hi there!

we've recently done a sizable refactor, but would be happy to receive a PR to make the tunable.

Thanks,
Dan

[2018-11-15 15:32] #513 closed

[2018-11-15 15:32] damacus commented on #513
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-11-15 15:32] fernandoaleman commented on #553
@damacus Hi Dan, yes I'll test it out and provide feedback.

[2018-11-15 15:32] damacus commented on #501
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-11-15 15:32] #501 closed

[2018-11-15 15:32] damacus commented on #475
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-11-15 15:32] #475 closed

[2018-11-15 15:33] damacus commented on #308
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2018-11-15 15:33] #308 closed

[2018-11-15 15:45] fernandoaleman commented on #565
@damacus Hi Dan, yes I will test it and provide feedback.

[2018-11-15 16:36] damacus opened #575 "Resource mod_fastcgi update"
### Cookbook version
6.0.0-beta

### Chef-client version
Latest

### Platform Details
- All supported

### Scenario:
As a user
I want to be able to configure mod_fastcgi via properties rather than attributes
So that I can interact with mods in the same way.

### Expected Result:
- [ ] apache2_mod_fastcgi is configurable via resource properties
- [ ] mod_fastcgi has unit tests
- [ ] no attributes u

[2018-11-15 16:38] damacus opened #576 "Resource: apache2_mod_php"
# Cookbook version

6.0.0

## Scenario:

As a user
I want to be able to configure mod_php via properties rather than attributes
So that I can interact with mods in the same way.

## Expected Result:

- [ ] apache2_mod_php is configurable via resource properties
- [ ] mod_php has unit tests
- [ ] no attributes under node['apache']['mod_php'] exist

[2018-11-15 16:39] damacus opened #577 "Resource: update mod_ssl"
### Cookbook version
6.0.0-beta

### Chef-client version
Latest

### Platform Details
- All supported

### Scenario:
As a user
I want to be able to configure mod_ssl via properties rather than attributes
So that I can interact with mods in the same way.

### Expected Result:
- [ ] apache2_mod_ssl is configurable via resource properties
- [ ] mod_ssl has unit tests
- [ ] no attributes under node['a

[2018-11-18 09:06] Dispader commented on #523
@damacus I haven't tried this against `master`, but I did run the tests that caused `httpd` restart failures against [v5.2.1](https://github.com/sous-chefs/apache2/releases/tag/v5.2.1), and the [workaround](https://github.com/sous-chefs/apache2/issues/523#issuecomment-362534117) is still required for my particular wrapper Cookbook.

[2018-11-18 14:01] #523 closed

[2018-11-19 21:40] JohnRoesler commented on #575
I may be missing something, but the only `['apache']['mod_fastcgi']` attributes I'm seeing are in the rb for fastcgi relating to downloading the package [here](https://github.com/sous-chefs/apache2/blob/master/attributes/mod_fastcgi.rb#L21-L23). To that end, should the resource for fastcgi also download and compile like the recipe did [here](https://github.com/sous-chefs/apache2/blob/master/recipe

[2018-11-20 17:00] andrewpearce-digital opened #579 "I can't add issue Labels"
### Cookbook version
[Version of the cookbook where you are encountering the issue]

### Chef-client version
[Version of chef-client in your environment]

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]

### Scenario:
[What you are trying to achieve and you can't?]

### Steps to Reproduce:
[If you are filing an issue what are the thi

[2018-11-20 18:39] JohnRoesler commented on #575
From everything I'm finding, mainly the docs [here](https://httpd.apache.org/mod_fcgid/), the only available options are the source and instructions on compiling.

[2018-11-20 20:15] damacus commented on #575
Maybe we can throw this into another cookbook. So people aren't having to dep on build tools, and put it in the readme

[2018-11-21 19:53] JohnRoesler commented on #575
Yeah, I like that. I'm working on the fastcgi cookbook. Should have something soon!

[2018-11-22 04:11] JohnRoesler commented on #575
Take a look -> https://github.com/JohnRoesler/apache2_mod_fastcgi/tree/initial

So WIP. Needs more tests. If this looks on the right path, what's the process to get it into sous-chefs? Do I PR the terraform and make the repo, then commit all this?

[2018-11-26 20:09] josephholsten commented on #458
@damacus says that he no-longer considers this a bug. That probably means some documentation would be the best solution.

[2018-11-26 20:11] josephholsten commented on #458
it would be awesome to have full-on documentation pages instead of a readme the size of war & peace. macos cookbook has a good example.

[2018-11-26 20:13] josephholsten commented on #462
For this to move forward, we need someone to make a PR. It's probably not going to happen by the maintainers.

[2018-11-26 20:17] josephholsten commented on #517
generally we like to solve this at the package-management level: configure a yum repo and pin the package number. We would definitely love some documentation explaining this pattern, but it's somewhat outside the scope of this cookbook.

[2018-11-26 20:17] #517 closed

[2018-11-26 20:18] josephholsten commented on #528
@zabudskyi how's it going reproducing this? do you need any help? I'll be closing this ticket in a week if you aren't seeing the issue any longer.

[2018-11-26 20:20] josephholsten commented on #553
@lily-liu How's it going reproducing this? Do you need any help? I'll be closing this ticket in a week if you aren't seeing the issue any longer.

[2018-11-26 20:22] josephholsten commented on #565
@fernandoaleman How's it going testing this? Do you need any help?

[2018-11-26 21:35] fernandoaleman commented on #565
@josephholsten I just tested this again and it works with the [attributes](https://github.com/sous-chefs/apache2/blame/a01f4226d0fa3378ed9f5006cf582c18585dabf4/attributes/mod_ssl.rb#L48) on the `5.2.1` tagged branch (the current version released in the supermarket), but fails with the [attributes](https://github.com/sous-chefs/apache2/blame/master/attributes/mod_ssl.rb#L48) from the master branch.

[2018-11-27 16:33] damacus commented on #565
@fernandoaleman which package are you expecting to get installed?

I need to drop in an Amazon-2 suite for this cookbook (and all the others!)

[2018-11-30 08:14] #553 closed

[2018-11-30 08:14] damacus commented on #553
Closing as resolved. Thanks for the update 👍

[2018-11-30 13:00] damacus commented on #571
Fixed via #581

[2018-11-30 13:00] damacus commented on #571
More tests needed

[2019-01-02 17:54] #571 closed

[2019-01-02 17:55] damacus commented on #570
The default site resource partially covers this.

[2019-01-02 17:56] damacus commented on #568
Closing this as a `won't fix`, as I'm focusing on the 6.0 series of bugs I'm about to create.

[2019-01-02 17:56] #568 closed

[2019-01-02 17:58] damacus commented on #458
Closing this as it's been open for a while now without comment. If you have any suggested way of moving this issue forward please drop us a line!

[2019-01-02 17:58] #458 closed

[2019-01-06 03:17] lordkage opened #588 "Chefspec version 7.3.4 causes failures due to definitions being deprecated"
### Cookbook version
`5.2.1`

### Chef-client version
chefdk `3.6.57`
chef `14.8.12`
chefspec `7.3.4`

### Platform Details
Development OS: `Mac OS 13`
Target OS: `CentOS 7`

### Scenario:
Including `apache2::default` causes unit testing to fail. Period. Integration and deployment still appear to be unaffected.

### Steps to Reproduce:
Include the `apache2::default` on recipe that has a spec file,

[2019-01-06 21:37] damacus commented on #588
Yeah, I really hear you on this one. It's been a thorn on my side for 6+ months, rewriting this and getting some of the magic better documented.

This milestone is what's left to be written https://github.com/sous-chefs/apache2/milestone/8

I'm currently working on the ssl & website resource as we speak. So if you're OK with no mod_php support, I'm inclined the cut v6 at that point

[2019-01-11 23:32] florian-asche commented on #525
hmm, same here

[2019-01-13 00:17] lordkage commented on #588
Unfortunately, I am leveraging `mod_php` and `mod_ssl` as part of the cookbook I am currently building. I have set my chefdk to and older version for the moment, until the version is available.

[2019-02-20 12:50] #570 closed

[2019-02-20 12:50] #577 closed

[2019-02-20 20:06] damacus commented on #569
Fixed by #589

[2019-02-20 20:06] #569 closed

[2019-02-20 20:07] #572 closed

[2019-02-20 20:09] damacus opened #594 "Resource: apache2_mod_openid"
# Brief Description

Add support either through another `apache2_mod` or another cookbook, if we require build tools.

## Cookbook version

v6.0

## Scenario

As an apache2 user
I want to install auth openid
So that I can use OpenID authentication on my apache2 server

[2019-02-20 20:10] damacus commented on #594
These are the current attributes
[code]

[2019-02-20 20:10] #563 closed

[2019-02-20 20:13] damacus opened #595 "Add apache2_mod_fastcgi"
# Brief Description

Add apache2_mod_fast_cgi support

## Cookbook version

v6.0

## Scenario

As an apache2 cookbook user
I want to enable FastCGI
So that I can delivery dynamic content

[2019-02-20 20:13] damacus commented on #595
[code]

[2019-02-20 20:14] #462 closed

[2019-02-20 20:14] damacus commented on #462
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-02-20 20:15] damacus commented on #576
[code]

[2019-02-20 20:16] #595 closed

[2019-02-20 20:38] #565 closed

[2019-02-20 20:38] damacus commented on #565
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-02-20 20:38] damacus commented on #527
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-02-20 20:38] #527 closed

[2019-02-20 20:39] damacus commented on #528
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-02-20 20:39] #528 closed

[2019-02-20 20:43] damacus opened #597 "Amazon-2 and Fedora support"
# Brief Description 🗣

The delayed restart action when apache2 is installed for the first time hangs due to some systemd bug. This doesn't seem to happen on most platforms 🤔

## Cookbook version 👩‍🍳

v6.0

## Chef-client version 👨‍🍳

Latest

## Platform Details 🚆

- Amazon linux 2
- Fedora 28+

## Scenario 📖

Install apache2 on amazon linux or a new Fedora.

## Steps to Reproduce 🌀

Install apache

[2019-02-25 14:31] bottkv488 opened #598 "mod_proxy is failing due to missing default value for :require property"
# Brief Description

CR mod_proxy is setting an emtpy string as value for the :require property.
Leaving the `Require` directive empty causes apache to fail.

I suggest keeping the behaviour of apache2 <= 6.0.0 where the defaults were set to `all denied`:
https://github.com/sous-chefs/apache2/blob/de761545bc80809d384ba33ed61542d43fe16a4d/attributes/default.rb#L254

## Cookbook version

6.0.0

## C

[2019-02-25 14:32] bottkv488 commented on #598
PR is on the way

[2019-02-25 14:56] bottkv488 opened #600 "transparently control apache2_mod_ properties via apache2_module"
# Brief Description

As the v6.0.0-way of enabling modules is achieved via apache2_module IMO it should be possible to "feed" custom properties to the apache_2_module resource directly.

## Current way

[code]

## Suggested way

[code]

[2019-02-25 15:11] bottkv488 commented on #600
@damacus ,
this might help with https://github.com/sous-chefs/apache2/issues/576 ?

[2019-02-25 17:05] damacus commented on #600
Resolved as part of #601

[2019-02-25 17:05] #600 closed

[2019-02-25 17:06] damacus commented on #598
Looks like we need a test for this! If you can figure out what we need to write in the unit and integration tests. We'll happily merge away :)

[2019-02-25 17:07] damacus commented on #598
As a note, the fix has now been merged in, but we should have a test for this.

[2019-02-26 00:45] emillbrandt opened #603 "Service name is not defined correctly"
# Brief Description

This is a regression in v6.0.0

           Error executing action `enable` on resource 'apache2_module[proxy]'

           Chef::Exceptions::ResourceNotFound
           ----------------------------------
           resource execute[a2enmod proxy] is configured to notify resource service[apache2] with action reload,
           but service[apache2] cannot be found in the resourc

[2019-02-26 00:47] emillbrandt commented on #603
I may be able to submit a PR later this week.

[2019-02-26 03:03] emillbrandt commented on #603
I suppose adding my cookbook example would be a good idea.

[code]

[2019-02-26 07:57] damacus commented on #603
Hey,

thanks for filling an issue!

A side note to this issue why are you mixing installing with a recipe and resources? A PR here would be great

In the test recipes we get around not being able to find a resource within a resource, by adding a service resource within the test cookbook [see here for an example](https://github.com/sous-chefs/apache2/blob/master/test/cookbooks/test/recipes/default.

[2019-02-26 13:12] bottkv488 commented on #598
I added a context in my latest PR which at least covers the valid creation of the conf file:
https://github.com/sous-chefs/apache2/pull/604/files

As for behavioral/inspec tests:
there seem to be quite a lot of tasks involved (creating fixtures for mod setup, creating inspec test coverage for core modules)? 😧

[2019-02-26 22:23] estenrye opened #605 "Function precedence issue with `libexec_dir` when included with docker cookbook."
# Brief Description

There exists a function precedence issue with these methods:
https://github.com/chef-cookbooks/docker/blob/d96b54605b845fc5f34068265569b91a7eb2dee6/libraries/docker_service_base.rb#L95
https://github.com/sous-chefs/apache2/blob/2fcb45ec68d3769b824530f21dfb613390a8e1ce/libraries/helpers.rb#L84

## Cookbook version

6.0.0

## Chef-client version

14.10.9

## Platform Details

Ce

[2019-02-26 22:25] estenrye commented on #605
Related Issue: https://github.com/chef-cookbooks/docker/issues/1066

[2019-02-28 12:22] bottkv488 commented on #603
@damacus ,
IMO this is a duplicate of https://github.com/sous-chefs/apache2/issues/598
which has been fixed by https://github.com/sous-chefs/apache2/pull/599

[2019-02-28 12:54] bottkv488 opened #606 "deprecate(d) :docroot_dir property in apache2_config?"
# Brief Description
the `docroot_dir` property is not used by `templates/apache2.conf.erb`.

I guess this was the plan (see https://github.com/sous-chefs/apache2/blob/de761545bc80809d384ba33ed61542d43fe16a4d/templates/default/apache2.conf.erb#L71)

We might want to reduce obfuscation here?

## Additional Thoughts
The `default_docroot_dir` helper method can still be useful for wrapper cookbooks.

O

[2019-02-28 18:34] taylor-benson opened #607 "Mis-spelling on default attribute"
# Brief Description

Default is mis-spelled on the htaccess file property.  https://github.com/sous-chefs/apache2/blob/master/resources/install.rb (Line 80)

## Cookbook version

6.0

## Chef-client version

14.x

## Platform Details

RHEL7

## Scenario
Try to run
apache2_install 'default' do
  access_file_name '.htaccess'
end

## Steps to Reproduce

Run apache2_install resource

## Expected Resul

[2019-02-28 19:35] hugotongal commented on #597
Having the same issue with Amazon Linux 2

[2019-02-28 19:37] htplbc commented on #597
Having the same issue on Amazon Linux 2

[2019-02-28 19:58] #607 closed

[2019-02-28 20:25] rtheobald commented on #603
This is also happening with my Debian (Ubuntu) platform.

[2019-02-28 20:29] emillbrandt commented on #603
Yeah, I mischaracterized the issue.  The issue is that `service[apache2]` is inaccessible when called from other resources.  I'll clean up my description.

[2019-02-28 20:36] emillbrandt commented on #603
The reason recipes and resources were being mixed was because I was in the middle of upgrading my cookbook from v5 and guidance in `UPGRADING.md` is a little sparse.  I have since just changed those to resources.

[2019-03-04 15:44] damacus commented on #603
@emillbrandt if you have some feedback for more information to put into the UPGRADING.MD I would love to hear it! :)

[2019-03-05 00:18] brodygov opened #609 "Function precedence issue with `default_log_dir` in filebeat cookbook"
# Brief Description

The `default_log_dir` helper in the apache2 cookbook version 6.0.0 overrides the same helper function in the filebeat cookbook, which has a different method signature.

https://github.com/vkhatri/chef-filebeat/blob/87343911b6aa6e034c8ac979f670ba8b089fdb12/libraries/helper.rb#L69-L71

[code]

vs

https://github.com/sous-chefs/apache2/blob/2fcb45ec68d3769b824530f21dfb613390a8e1c

[2019-03-05 09:34] damacus commented on #609
Hey!

Thanks for submitting this issue.

These can go away as soon as we drop recipe support.

I think the best thing to do here is release another major version, and drop all recipes. This should allow some upgrade path from the recipe way. All be it with this bug included.

[2019-03-05 13:01] bottkv488 commented on #609
Hi,
I just commited https://github.com/sous-chefs/apache2/pull/610 which addresses a similar issue

[2019-03-05 14:38] damacus commented on #606
Fixed as part of #611. As we're now using this. Thanks for spotting this!

[2019-03-05 14:38] #606 closed

[2019-03-05 14:41] damacus commented on #598
Fixed by #601

[2019-03-05 14:41] #598 closed

[2019-03-05 14:42] damacus commented on #609
This should be fixed by #611. Please comment and reopen if this isn't the case

[2019-03-05 14:42] #609 closed

[2019-03-05 14:43] damacus commented on #605
Duplicated by #609
Fixed by #611

[2019-03-05 14:43] #605 closed

[2019-03-20 16:38] niallfleming opened #614 "Override package installed"
# Brief Description

Is it no longer possible to override the package name in the Apache2 cookbook?

## Cookbook version

7.0.0

## Chef-client version

12 & 14

## Platform Details

CentOS7

## Scenario

I wish to install a later version of Apache 2.4 via the httpd24u package from IUS repo. But there doesn't seem to be a way to install a specific package instead of the cookbook defined package. N

[2019-03-20 17:26] Xorima commented on #603
Hi,

as version 7.0.0 has been released could you let us know if this is still an issue please?

Thanks

[2019-03-20 17:27] Xorima commented on #576
@damacus is this still requiring work or is this done?

[2019-03-21 22:03] damacus commented on #576
Yeah we still don't support it, and I'm all spent on cycles right now.

[2019-03-21 22:09] damacus commented on #614
I've been pondering the right way to do this request. We can totally allow an override of the package resource.

What I'm more interested about is the UIS repo. I've not heard of this before. How widely used is it and do you think we could bake the repo install into this cookbook?

[2019-03-22 13:33] niallfleming commented on #614
IUS is a rackspace supported CentOS package repo. - https://ius.io/

I think it's reasonably well respected.

You could bake it in, there's an rpm to install the repo, but equally the repo paths never change so could bake those into the cookbook.

[2019-03-23 20:50] timcase commented on #603
Can confirm this is still an issue in 7.0.0
[code]

[2019-03-25 08:04] damacus commented on #603
@timcase did you specify a service resource like the test cookbooks?

[2019-03-27 20:07] stephanvierkant opened #616 "Mutex directive commented out?"
I've got a problem with my apache2 server. It randomly crashes. See for a similar issue this question: https://stackoverflow.com/questions/50652808/apache-shutdown-couldnt-grab-mutex. I think the problem started when I changed the user and group of apache2, but I'm not sure.

In `apache2/templates/apache2.conf.erb` I see the `Mutex` directive is commented out. Is this by design? If so, a comment e

[2019-03-29 15:54] #616 closed

[2019-04-11 11:40] nicutor opened #619 "Error on ubuntu 12.04 with v.7.0.0"
Hi,

I get this error while trying to use v7.0.0 on Ubuntu 12.04

[code]

It works on Debian 7-9 and Ubuntu 14 - 18, but not on Ubuntu 12.

Can you please check and fix?

Thank you!

[2019-04-11 17:18] damacus commented on #619
Hi!

thanks for opening an issue. We do not support Ubuntu 12.04, as it's EOL

[2019-04-11 17:18] #619 closed

[2019-04-12 09:41] niallfleming commented on #614
Any ETA on this change? I see you merged IUS support into HAProxy!

 I don't have time this week to make a fork to try and handle this myself, but maybe next week, if you haven't managed it by then.

[2019-04-12 13:21] bplessis opened #620 "conf / site ressources fail if apache_dir/conf-available / site-available doesn't exist in a utility cookbook"
# Brief Description

I'm trying to update my setup from my modified 3.1 cookbook to the latest 7.x release.
I have a main wrapper cookbook that is in charge of setting up apache using "apache2_install", but i also have another cookbook which is there to deploy and doing a minimalistic setup of the application server.

The utility cookbook want to define an apache2 configuration file and it fail be

[2019-04-13 14:35] damacus commented on #614
If you could throw a fix in I'd love it, I'm busy trying to make the website less ugly this week :)

[2019-04-13 19:56] damacus commented on #620
This wasn't done due to the package or compile step creating this for us usually.

For example we always start of every clean kitchen run without an `/etc/apache2` directory.

That said we always run `apache2_install` to manage this directory, we never run any of the config resource by itself. For your case your best bet might be to include the apache2 helpers in your recipe and create the directo

[2019-04-18 20:21] hassanakram commented on #619
I am facing exact same error on Ubuntu 16.04

[2019-04-30 11:04] rigalpatel001 opened #627 "Apache Server child pid 637 exit signal Segmentation fault (11), possible coredump in /etc/apache2 Issue"
# Brief Description
I am facing apache server issue. I have check apache server logs and seems likes its go in infinate loop. error log continuously display below errors.

[code]
## Platform Details

**PHP**        7.2.15
**0ubuntu** 0.18.10.2
**Server version:** Apache/2.4.34 (Ubuntu)
**Server built:**   2019-04-03T12:50:09

When I restart apache server Site is working.

Anyone please suggest sol

[2019-04-30 12:25] Xorima commented on #627
To troubleshoot this we will need more information, Can we get the recipe you are using to configure apache2 and the steps which you are using to reproduce this behaviour?

[2019-04-30 12:32] rigalpatel001 commented on #627
Hello,

i have used below link steps to configure apache server.

https://www.linode.com/docs/web-servers/lamp/install-lamp-stack-on-ubuntu-18-04/

Thanks

[2019-04-30 13:08] Xorima commented on #627
Are you using chef to configure the server or following the guide manually?

[2019-04-30 15:54] rigalpatel001 commented on #627
Nope, I have configure server manually using guide.

[2019-04-30 16:03] #627 closed

[2019-04-30 16:04] damacus commented on #627
Hi @rigalpatel001 we only support the chef cookbook installed version of apache2

[2019-05-09 20:19] damacus commented on #603
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:19] #603 closed

[2019-05-22 19:53] danbuchal opened #636 "Unable to install latest Apache version on CentOS 7 using CodeIT repo."
# Brief Description

Unable to install latest version of Apache via CodeIT Repo.

## Cookbook version

7.0.0

## Chef-client version

15.0.300

## Platform Details

CentOS Linux release 7.5.1804

## Scenario

CentOS 7's default repo only contains Apache 2.4.6
I am adding the [CodeIT Repo](https://codeit.guru/en_US/) in order to install the latest version of Apache for HTTP2 support.
See: https://c

[2019-05-24 16:51] danbuchal commented on #636
After some trial and error, I don't think the "hangs" during reload are due to the OS or the repo being used. I think it has to do with the version of Apache being installed.

I made some manual modifications to the cookbook to allow me to install different versions.
After some trial and error, I discovered that installing version `2.4.27` **works**, while installing `2.4.28` breaks with the above

[2019-06-03 10:49] KindAchmed commented on #609
Hey,
i experienced the same error on version 7.1.0.
But its slightly different from what @brodygov error.
Do you want me to open another issue?

`================================================================================
           Error executing action `enable` on resource 'apache2_default_site[bxx]'
           ===============================================================================

[2019-06-04 13:38] nilroy commented on #619
I am facing the exact same issue in debian 9

[2019-06-04 14:29] damacus commented on #619
Hey, can you both open a new issue with reproducing steps for Debian 9 and Ubuntu please?

[2019-06-04 14:31] damacus commented on #609
Hi @KindAchmed if you could open a new issue that would be great.

Thanks,
Dan

[2019-06-04 14:32] damacus commented on #636
@danbuchal thanks for the investigation on this one. Are there more up to date repos we can use to install Apache2?

[2019-06-05 08:29] nilroy opened #637 "Recipe compilation error in Debian 9"
# Brief Description

I am not using this cookbook directly but I am using rundeck cookbook which is dependent on 7.0.0 version of this cookbook. We are using chef-solo to provision the instances. When I start provisioning the rundeck I see below error:

[code]

## Cookbook version
7.0.0 (Same thing happens with 7.0.2 )

## Chef-client version

chef_version=13.8.5

## Platform Details

debian 9.4

[2019-06-05 13:02] ccrebolder commented on #637
This cookbook requires a minimum chef-client version of 13.9, which is when the property descriptions were added: https://github.com/sous-chefs/apache2/pull/624

I think the minimum version as specified in the metadata for 7.0.X was incorrect, but it is correct in 7.1.0.

[2019-06-05 14:12] nilroy commented on #637
@ccrebolder so I need to upgrade chef in order to make it work

[2019-06-05 14:19] ccrebolder commented on #637
Unfortunately yes. Chef client 13 went end-of-life on April 30th so I expect more of these problems will arise in the next few months. https://docs.chef.io/versions.html#end-of-life-eol-products

[2019-06-05 21:43] #637 closed

[2019-06-06 08:30] nilroy commented on #637
@ccrebolder thanks for the support.

[2019-06-06 14:50] danbuchal commented on #636
Hi @damacus, the repo I'm using is up to date.  To confirm, I also tried the IUS repo which also has the same issue.  The latest Apache version is 2.4.39.  The problem is that this cookbook fails with the mentioned "hang" during restart for any version after 2.4.27 (I tried them all).
The answer lies somewhere in *what* chaneged from 2.4.27 -> 2.4.28.  I have had to shift my attention, so I don't

[2019-06-06 14:58] danbuchal commented on #597
@damacus and @htplbc can you confirm what the latest versions are in these repos?  I believe this could be the same issue as mentioned here: https://github.com/sous-chefs/apache2/issues/636#issuecomment-499527579

[2019-06-15 18:52] lordkage opened #638 "mod_php does not get installed in version 7.1.0"
# Brief Description

`apache2_module 'php'` does not install/verify prerequisite php is installed, and therefore, silently causes an issue.

## Cookbook version

`7.1.0`

## Chef-client version

[code]

## Platform Details

`Centos 7`

## Scenario

Following the "basic usage" guide from the README, but adding `apache2_module 'php'` to install mod_php as well. The wrapper recipe is applied, but whe

[2019-06-15 23:00] lordkage commented on #638
For the immediate fix, I added the following to my recipe to fix it:
[code]

It also looks like this is a carry over from issue #576, which means this might be reporting of a known issue.

[2019-06-18 11:50] JohnRoesler commented on #638
Yes - it looks like a known issue by @damacus. Prior to the conversion to custom resources - there was a recipe for mod_php https://github.com/sous-chefs/apache2/blob/de761545bc80809d384ba33ed61542d43fe16a4d/recipes/mod_php.rb which looks like it indeed installed `package 'php'`

I propose we close this issue and track to the original #576 - perhaps give that issue a comment to remind folks it sti

[2019-06-26 05:34] lordkage commented on #576
I filed #638 not realizing this was still an active issue. I did post a workaround for the current version of the cookbook to at least unstick anyone still needing php. As request, I am "bumping" this issue, and I will resolve the one I filed.

[2019-06-26 05:34] lordkage commented on #638
Done.

[2019-06-26 05:34] #638 closed

[2019-07-19 12:42] KindAchmed opened #640 "Filebeat is overriding apache2 default_log_dir helper"
# Brief Description

The default_log_dir helper in the apache2 cookbook version 7.1.0 is overwritten by the same helper function in the filebeat cookbook, which has a different method signature.

Do we maybe need to rename the helper in order to fix this issue?

## Cookbook version
apache2: 7.1.0
filebeat: 2.1.2

## Chef-client version

14.13.11

## Platform Details

CentOS 7.5.1804

## Scenario

[2019-07-24 14:07] madwort opened #641 "apache2_mod does not use template from wrapper cookbook"
# Brief Description

`apache2_mod` resource will only load templates from the `apache2` cookbook, not from wrapper cookbooks.

## Cookbook version

7.1.0

## Chef-client version

14.10.9

## Platform Details

Ubuntu 16.04

## Scenario

I wish to create a config file for the `remoteip` apache2 mod.

## Steps to Reproduce

I have created a template file in my wrapper cookbook at `templates/default/m

[2019-07-24 17:58] laradji commented on #576
FYI for ubuntu 18.04

[code]

[2019-07-25 09:01] laradji opened #643 "Cannot override mod config installed in default_install"
# Brief Description

When using apache2_install 'default_install' default modules are setup like mod_status.

Now i have to ressource patch each other on chef run.

## Cookbook version

7.1.0

## Chef-client version
15.1.36

## Platform Details

Ubuntu 18.04

## Scenario

I want to override the status module config .

## Steps to Reproduce

[code]
[code]

## Expected Result

/etc/apache2/mods-avai

[2019-07-31 13:05] madwort opened #644 "Inconsistent naming of cookbook / template_cookbook parameter"
# Brief Description

`resources/default_site` uses `cookbook` to mean the same thing as `resources/conf` does for `template_cookbook`. They should be the same.

## Cookbook version

7.1.0

## Scenario

When developing a wrapper cookbook around this cookbook, I expect parameters to have consistent names across the cookbook.

[2019-07-31 13:06] madwort opened #645 "template_cookbook param documented but not implemented for apache2_module"
# Brief Description

`template_cookbook` is documented for apache2_module but doesn't appear to be implemented.

## Cookbook version

7.1.0

## Scenario

When developing a wrapper cookbook that uses this cookbook, I expect the documentation to correspond to the implemented features.

[2019-08-06 17:31] benclark commented on #636
I'm not sure how helpful this will be, but I wanted to share my "fix" - I was experiencing the same problem on Amazon-2 (came here from #597), and I found this thread:

https://github.com/iusrepo/httpd24u/issues/23#issuecomment-421001228

In my case, I was pretty consistently seeing an issue with `reload` only when mod_status was turned on. Enabling `ExtendedStatus` actually fixed this for me. I'm

[2019-08-07 09:04] #641 closed

[2019-08-07 09:05] madwort commented on #641
Fixed in https://github.com/sous-chefs/apache2/pull/642

[2019-08-08 12:51] Okonos commented on #643
If I understand your issue correctly, you can pass modules' configuration to `apache2_install` resource through `mod_conf` property. This way you don't have to call the `apache2_module` resources yourself, as the `apache2_install` does it already, as you pointed out. So in your case that should be:
[code]
I recommend giving `apache2_install` source a look.

[2019-08-08 13:27] laradji commented on #643
Great, i did look a lot in the source code but did focus on apache2_module.

Thanks

[2019-08-08 13:39] laradji commented on #643
FYI :
`
apache2_install 'default_install' do
  mpm 'prefork'
  mod_conf({status: {extended_status: "On"}})
end
`

[2019-08-08 13:39] #643 closed

[2019-08-09 11:07] mrmarbury opened #647 "Array.to_sym does not work"
## :ghost: (Not so) Brief Description

In the helper library the function `default_modules()` returns an Array of module names. Later each element is converted :to_sym. That won't work for:

libraries/helpers.rb (lines: 269-271)
[code]
This will lead to an Array within an Array. To make this work the final variable should be either flattened or the Arrays should be concatenated with `:concat`

##

[2019-08-09 11:28] mrmarbury opened #648 "No candidate version available for perl5 on FreeBSD"
## :ghost: Brief Description

This does somehow not work (at least) on FreeBSD:
[code]
and the error message is:

`No candidate version available for perl5`

... while this works as expected:

[code]
So there is a perl5 package but somehow chef-client on FreeBSD does not know what to do if you pass an array?

The working but probably "wordy" way would be:

[code]
## :pancakes: Cookbook version

7.

[2019-08-09 12:50] damacus commented on #647
I'm 99.999% sure this is a freebsd Ruby problem 🤔

Any suggestion on how we can fix this bug 🐛 I'm all ears!

[2019-08-09 13:31] mrmarbury commented on #647
Hmm, pretty sure it is not. Let me show you in IRB on macos

[code]
I'd probably use :concat. If you want do remove duplicates then do a :uniq afterwards

Cheers

[2019-08-09 14:48] damacus commented on #647
Sounds like you have a good test for this, want to make a PR for this issue?

[2019-08-14 10:13] damacus commented on #648
This feels like either a Chef or a FreeBSD bug.

Can you replicate this bug in a really simple cookbook that installs just two packages? If you can replicate the problem, then I think we have a Chef-15 bug

[2019-08-14 11:21] mrmarbury commented on #648
I hope that helps?

[code]

[2019-08-14 11:24] mrmarbury commented on #647
I will create one. Hopefully I find the time before I head out on a vacation for 2 weeks

[2019-08-25 16:58] damacus commented on #636
Sorry I missed this under an avalanche of notifications!

Adding mod status to the default modules works for me, especially if it unblocks most of the newer platform should.

[2019-08-25 16:59] damacus commented on #636
Moving this conversation over to #597

[2019-08-25 16:59] #636 closed

[2019-08-25 17:01] damacus commented on #645
I haven't seen anyone use it yet so removing the documentation sounds like the best idea

[2019-08-25 17:02] damacus commented on #644
Likewise,please feel free to drop prs into fix these inconsistencies.

[2019-08-25 17:02] #620 closed

[2019-08-25 17:05] damacus commented on #640
This is a combination of doing libraries wrong (cc @tas50) and someone else copying our pattern without thinking.

If you can open an issue there to track this on both repos that would be great. Until we can get some guidance from Chef on how to do this, this is going to stay open.

Thanks Dan

[2019-08-25 17:09] damacus commented on #648
Ah not a chef bug!

Any idea how to install perl5 on freebsd?
If you do or can find out drop us a PR with some testing that we can run in circleci and we're good to go!

If you want help with any of this feel free to reach out in this thread, or on Slack

[2019-08-25 17:13] damacus commented on #576
If anyone wants to drop in a PR to resolve this issue, it would help a bunch of people 👍

[2019-09-12 12:27] harmen1994 opened #651 "lib_dir variable empty on Debian 8, 9 and 10"
### :speaking_head: Foreword

When installing the apache2 cookbook via a wrapper the lib_dir variable is not populated.

## :ghost: Brief Description

On Debian based systems the lib_dir variable is not populated, which results in an empty Apache statesdir in /usr/sbin/a2enmod.

## :pancakes: Cookbook version

7.1.1

## :woman_cook:  Chef-Infra Version

14.12 and latest

## :tophat: Platform detai

[2019-09-13 11:31] leinster commented on #645
I've just run into this. I'd like to see this implemented as a feature but this might just be misunderstanding how to use the cookbook. I'd like to get rid of the `/icons` alias set up by default in the `mods/alias.conf.erb` template - is there another way to do this that doesn't involve overriding the template?

Also w/r/t the same doc page:
- the examples use a `filename` property that isn't men

[2019-09-16 15:45] danbuchal commented on #597
I want to make sure @benclark 's comment doesn't get lost:
https://github.com/sous-chefs/apache2/issues/636#issuecomment-518768014

His suggestion of enabling extended_status did resolve the issue for me:

[code]

[2019-09-24 21:11] gangadhar01a opened #653 "Validation map has unknown check"
Hi,

I am using Rundeck cookbook which is dependent on Apache2, when I ran the chef - client it's showing the below error.

_Relevant File Content:
----------------------
/opt/kitchen/cache/cookbooks/apache2/resources/conf.rb:

  4:           default: lazy { "#{apache_dir}/conf-available" },
  5:           description: 'Path to the conf-available directory'
  6:
  7:  property :root_group, String,

[2019-09-24 23:27] gangadhar01a commented on #653
upgrading chef client fixed the issue

[2019-09-24 23:27] #653 closed

[2019-10-06 18:18] zmaupin commented on #647
Fixed here https://github.com/sous-chefs/apache2/commit/ff9465fb8c68a7a06d94ece6cab3660ce32d0544#diff-38a4aeddb4e620724d3b85362cb8b939

[2019-10-09 22:39] PowerSchill opened #656 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:39] PowerSchill opened #657 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:39] PowerSchill opened #658 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:39] PowerSchill opened #659 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:39] PowerSchill opened #660 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-10-16 20:46] teknofire commented on #605
@damacus I don't believe #611 fixes this issue, it looks like there are two locations that still end up including the helpers into the global scope.

https://github.com/sous-chefs/apache2/blob/master/resources/default_site.rb#L1
https://github.com/sous-chefs/apache2/blob/master/resources/mod_pagespeed.rb#L1

As well as into the `action_class` block at the end of the files.

[2019-12-03 18:22] salsa-dev opened #668 "Resource apache2_install fails with default options"
### :speaking_head: Foreword

apache2_install resource is broken

## :ghost: Brief Description

Using simple resource in recipe:
[code]

## :pancakes: Cookbook version
[code]
## :woman_cook:  Chef-Infra Version
[code]
## :tophat: Platform details
[code]
## Steps To Reproduce

1. Use simple resource in recipe:
[code]

## :police_car: Expected behavior

Apache2 is installed with default options.

##

[2019-12-11 23:46] #656 closed

[2020-01-26 23:35] tas50 commented on #660
Closing this since we're using Github Actions now

[2020-01-26 23:35] #660 closed

[2020-02-13 17:12] unni-krishnan-95 opened #672 "Can some one help me to build .deb file from apache sorce using debuild. I wish to learn it from scrap. I admit that Iam a noob in this field, can someone help me, it will be very helpful."
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

A clear and concise description of what the problem is. E.g. I'm always frustrated when [...]

## :grey_question: Possible Solution

A clear and concise description of what you want to

[2020-02-13 21:56] JohnRoesler commented on #672
I would recommend reaching out in the chef community somewhere and see if you can find some assistance https://community.chef.io/

[2020-02-13 21:56] #672 closed

[2020-02-17 07:34] #647 closed

[2020-03-24 09:22] jharbott commented on #640
There is a similar issue with the memcached cookbook, it overrides the lock_dir helper, leading to apache2.conf containing "/var/lock" as lock_dir instead of "/var/lock/apache2".

[2020-04-09 17:11] damacus opened #677 "Change libexec_dir to apache2_libexec_dir"
## :frowning_face: : Problem Statement

Issue #605 should have been fixed by #611 but actually

## :grey_question: Possible Solution

rename `libexec_dir` to `apache2_libexec_dir`

## :heavy_plus_sign: Additional context

- Issue #611 should have fixed this but didn't
- @ramereth mentioned this in the Sous-Chef meeting today

[2020-04-12 04:33] ramereth commented on #605
@teknofire can you see if #678 fixes this now?

[2020-04-12 11:32] #677 closed

[2020-04-12 12:13] YogiKhan opened #679 "apache2_config and web_app resource equivalent in current version?"
**Cookbook version**
8.0.1
**Chef-client version**
Latest
**Platform Details**
All supported platforms
**Scenario:**
apache2_config and web_app resource equivalent in current version?
We were using

`apache_config 'mod_status' do
      enable false
end

web_app node['apache']['virtual_host_name']`

We upgraded the chef client version but now it fails for both.
`Unsupported database type! - Use a s

[2020-04-13 10:49] damacus commented on #679
Closing as this doesn't use the standard template.

[2020-04-13 10:49] #679 closed

[2020-06-01 11:45] #659 closed

[2020-06-19 16:42] #658 closed

[2020-06-19 16:42] #657 closed

[2020-06-20 01:11] detjensrobert commented on #576
I'm working on a PR for this. should this resource install php or assume that it is already installed?

[2020-06-20 08:02] Xorima commented on #576
I would say it shouldn't be this resources concern to install php. As else that is a whole can of worms, users can consume the php cookbook for that

[2020-06-24 20:06] detjensrobert commented on #576
My `mod_php` resource is ready, but the default versions in the `php` cookbook are not available anymore on some platforms. I see that there is a WIP `php` update, should I wait for that to be merged & released before making my php resource PR here? Currently the tests pass for the platforms with valid php versions.

[2020-06-26 16:40] dylanbartos opened #695 "Amazon 2018 install broken with PR#688"
## :ghost: Brief Description

In PR#688, the apache_pkg helper `libraries/helpers.rb` is modified to remove
[code]
for this static instead
[code]
This causes the httpd package (apache2.2) to be downloaded from the Amazon repo instead of httpd24 (apache2.4). 2.2 should not be downloaded by default

## :pancakes: Cookbook version

8.2.0

## :woman_cook:  Chef-Infra Version

16.2.50

## :tophat: Plat

[2020-06-29 14:50] #651 closed

[2020-07-13 14:26] #576 closed

[2020-08-29 01:02] #614 closed

[2020-09-29 17:24] limitusus opened #720 "PIDFILE is not rendered in /etc/sysconfig/httpd"
## :ghost: Brief Description

Template variable `apache_pid_file` is not passed from the `install` resource.
https://github.com/sous-chefs/apache2/blob/v8.5.0/templates/etc-sysconfig-httpd.erb#L31
always renders like:

[code]

`install` resource does not pass `apache_pid_file` template variable to the template.
https://github.com/sous-chefs/apache2/blob/v8.5.0/resources/install.rb#L242-L246

## :p

[2020-10-03 22:43] #645 closed

[2020-10-03 22:44] #644 closed

[2020-10-11 01:00] #648 closed

[2020-11-13 00:14] Savagemikey92 opened #724 "Readme.diff"
Apache License
                           Version 2.0, January 2004
                        http://www.apache.org/licenses/

   TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION

   1. Definitions.

      "License" shall mean the terms and conditions for use, reproduction,
      and distribution as defined by Sections 1 through 9 of this document.

      "Licensor" shall mean the copyri

[2020-11-13 08:57] Savagemikey92 opened #725 "Readme diff"
<user.home>\.javame-sdk\8.3

[2020-11-13 17:34] ramereth commented on #724
@Savagemikey92 can you please elaborate on what this issue is about?

[2020-11-13 17:40] #725 closed

[2020-11-13 17:40] #724 closed

[2020-11-19 08:58] gagarinfan opened #726 "Enable template_cookbook property in default apache2_install"
## :ghost: Brief Description

It's impossible to use template_cookbook parameter (part of apache2_config) to inject apache2.conf.erb from my cookbook in default installation (apache2_install).

## :pancakes: Cookbook version

v8.6.0

## :woman_cook:  Chef-Infra Version

16.6.7

## :tophat: Platform details

RHEL7 (on-prem)

## Steps To Reproduce

Steps to reproduce the behavior:

Use
[code]

## :p

[2020-11-20 19:27] #726 closed

[2020-12-10 00:55] #668 closed

[2021-01-24 14:54] karthanistyr opened #728 "ServerName directive absent from apache2.conf.erb"
## :ghost: Brief Description

The `config` resource allows for setting the ServerName directive in apache2.conf, as per
https://github.com/sous-chefs/apache2/blob/2a48478d115ba9f156cb10eb0bae0b79fec1d0ec/resources/config.rb#L54-L56

But the default template in `templates/default/apache.conf.erb` does not have a ServerName directive, nor a placeholder for the template variable.

Also telling, the `

[2021-01-24 15:40] karthanistyr commented on #728
Actually, it *is* supported, but is not documented.

[2021-01-24 18:20] karthanistyr opened #729 "Allow passing arbitrary variables to conf templates via apache2_conf"
## :person_frowning: Problem Statement

As background, I will remind that it is possible to override a  conf template from the apache2 cookbook with one from our own cookbook by using the `template_cookbook`property (which will then locate the template in the designated cookbook).

However, it is currently impossible to pass arbitrary variables to a conf template. The only variables that can curre

[2021-01-27 01:02] #729 closed

[2021-01-28 19:47] ramereth commented on #728
@karthanistyr do you mind making a PR which adds some supporting documentation?

[2021-02-11 12:01] SATadsl opened #732 "problem with apache2"
Hello

I'm trying to install Graphite on my Debian 10 machine

but I have a problem with Apache2

here is the problem

Feb 11 11:37:17 Graphite apachectl[5921]: The Apache error log may have more information.
Feb 11 11:37:17 Graphite systemd[1]: apache2.service: Control process exited, code=exited, status=1/FAILURE
Feb 11 11:37:17 Graphite systemd[1]: Reload failed for The Apache HTTP Server.
Feb

[2021-02-11 19:45] ramereth commented on #732
@SATadsl can you please provide more detail on how this is happening? Can you provide some example code which replicates the problem? Also please include the version of Chef Infra Client and the cookbook.

Thanks!

[2021-03-05 18:41] rgriffith opened #735 "Infinite loop from apache2_mod_auth_cas and apache2_module 'auth_cas' resources"
## :ghost: Brief Description

Simply using `apache2_mod_auth_cas 'auth_cas'` results in an infinite loop which eventually causes my `chef-client` run to fail. Sample logging:

[code]

## :pancakes: Cookbook version

[code]

## :woman_cook:  Chef-Infra Version

[code]

## :tophat: Platform details

Latest AWS Amazon Linux 2 AMI (`ami-0915bcb5fa77e4892`)

## Steps To Reproduce

Steps to reproduce th

[2021-03-05 19:30] ramereth commented on #735
I confirmed this is happening. I'm taking a look to see why this is happening.

[2021-03-05 19:41] rgriffith commented on #735
Worth noting, I see the same issue with `apache2_module 'auth_cas'`, so I think the circularity is stemming from that.

[2021-03-05 19:44] ramereth commented on #735
I've narrowed down the problem and will be pushing a fix soon.

[2021-03-06 23:16] ramereth commented on #735
@rgriffith can you please give the changes in #736 a try? It provides some additional fixes as well that I hope are useful to `mod_auth_cas` users.

[2021-03-08 12:45] rgriffith commented on #735
@ramereth I'll try to work on testing this out.

Quick question, I'm already creating a config containing those CAS directives, among others, using `apache2_conf` so I don't really need that extra one being created by the resource. What would be the recommended way of removing that conf the resource is creating so that it's not constantly being recreated and me having to use a resource (i.e. execu

[2021-03-08 17:50] ramereth commented on #735
@rgriffith I added that as httpd would refuse to start on some platforms without those options being set. If you'd like, I could create a new parameter called `template_cookbook` which will allow you to set [this](https://github.com/sous-chefs/apache2/pull/736/files#diff-234fd0fa4952539dc4f8a2e6f8057357faf92eba5c92cd2d6613c031ad1a1f79R111) to your template. Would that work?

[2021-03-08 18:59] rgriffith commented on #735
@ramereth that would be great if you could. In my case; however, perhaps providing that `conf` flag to bypass the config all-together would work well since i'm using that same config for more than just CAS directives.

[2021-03-08 21:28] ramereth commented on #735
@rgriffith so you'd like to be able to do the following?
[code]
which would do the following in the resource:
[code]

This of course would assume the user would need to be sure to provide a config so it works properly.

[2021-03-09 02:33] rgriffith commented on #735
@ramereth That would work well for my particular use case, since I am supplying the directives elsewhere in another conf.

I did notice the other "helper" module resources don't really do that, though, so that would make this one different. the other option would be to add more CAS directives to the template so they can be overwritten, or provided; otherwise, I would have 3 directives in the modul

[2021-03-09 16:48] ramereth commented on #735
I'd rather we keep the amount of options to a minimum however what we could do is add a `directives` parameter which would allow you to add whatever options you'd like in the template. It would work similar to the mod_ssl template:

https://github.com/sous-chefs/apache2/blob/54647dc399e8097ecf43b3bde9ceec792e50b6a1/resources/mod_ssl.rb#L59-L60

https://github.com/sous-chefs/apache2/blob/54647dc399

[2021-03-09 19:11] ramereth commented on #735
@rgriffith ok, I've made that change to the PR. Can you please move any further discussion to the PR so we can discuss better in context of code if you need to? Thanks!

[2021-03-09 19:35] rgriffith commented on #735
Sounds good, thank you @ramereth. Did you still need me to test anything, or are you planning to merge/release?

[2021-03-21 02:24] limitusus opened #737 "chef_version constraint is not accurate."
## :ghost: Brief Description

`unified_mode` method is introduced Chef 15.3 (https://docs.chef.io/release_notes_client/#custom-resource-unified-mode), so the Chef version constraint should be `>= 15.3`.
(Not critical issue, of course)

Error below:

[code]

## :pancakes: Cookbook version

v8.1.2+

## :woman_cook:  Chef-Infra Version

Cinc-client 15.2.20

## :tophat: Platform details

Ubuntu 14.04

[2021-03-22 22:58] ramereth commented on #737
@limitusus please feel free to make a PR which fixes this.

[2021-03-30 17:52] ramereth commented on #735
@rgriffith did you get a chance to check on this?

[2021-03-30 17:59] rgriffith commented on #735
Not yet @ramereth, but it's on my TODO list this week. I will follow up as soon as I can.

[2021-03-31 16:49] rgriffith commented on #735
@ramereth I was able to get around to testing your branch and confirmed I no longer run into the infinite loop and the generated config file is as expected (i.e. with the added directives).

For reference, here's a snippet of the check in once I pointed to your branch:

[code]

Thanks again for your assistance!

[2021-04-01 14:50] rgriffith commented on #735
@ramereth Something I am noticing is if I make a change to the directives list the configuration updates as expected, but there is no restart of the Apache service. Is that to be expected? Here is an example output showing the configuration change:

[code]

But there is no delayed restart of Apache at the end of the run.

[2021-04-01 18:07] ramereth commented on #735
That was missed on my part, I'll push a fix for that soon! Thanks for noticing that.

[2021-04-01 18:11] ramereth commented on #735
@rgriffith would a reload be enough? I don't think we need to do a full restart

[2021-04-01 18:17] rgriffith commented on #735
Yup, a reload is perfect!

This isn't related to CAS, but more modules in general so let me know if I need to post this elsewhere. I am seeing an interesting error where when I am iterating over an array of modules to install and have effectively:

[code]

When Apache goes to start (or I guess restart), I get the following error:

[code]

If I rename `proxy_ajp.load` and `proxy_wstunnel.load` to b

[2021-04-01 18:26] rgriffith commented on #735
Sorry, I think I see the issue now that I look at `mods-enabled`. The `proxy` module is no where to be seen.

Seems like there's an issue with `apache2_mod_proxy` where it's not actually enabling the module. Looking at that resource, there doesn't seem to be a call to enable it.

[2021-04-01 18:44] ramereth commented on #735
Can you please make an issue separately for that?

I just pushed a fix for reloading the resource, can you please verify that works for you?

[2021-04-01 19:23] rgriffith commented on #735
Thanks, I'll check to see if there are existing issues first and post something when I can.

I switched gears a bit to test the cookbook with our Shibboleth setup, but will test again as soon as I can.

[2021-04-01 19:39] ramereth commented on #735
If I don't hear back from you within the next day, I'll just go ahead and release this PR since I think it's close enough.

[2021-04-01 20:04] rgriffith commented on #735
I just tested a similar change on my `apache2_conf` resources where I wasn't seeing reloads until I added a `notifies :reload, 'service[apache2]'` action to them.

Safe to assume the same will occur with your recent change?

[2021-04-01 20:25] rgriffith commented on #735
@ramereth I went ahead and tested this out instead of being lazy 😄 .

I added a change which triggers an update to the config, but not seeing a reload at the end.

[2021-04-01 20:30] rgriffith commented on #735
Er, my fault I forgot to delete the cached `apache2` cookbook which didn't have your recent change in it.

I confirmed that I am seeing an Apache reload when the directives change.

[2021-04-09 23:18] #735 closed

[2021-04-27 09:46] damacus commented on #732
Closing this issue as this doesn't look like a problem with the Chef cookbook we provide, but the apache2 program. Support for Apache2 can be found [here](https://httpd.apache.org/support.html).

[2021-04-27 09:46] #732 closed

[2021-05-05 09:10] damacus commented on #737
Resolved via #738

[2021-05-06 10:57] #737 closed

[2021-05-07 11:41] damacus opened #739 "apache2 Chef-17 compatability"

[2021-05-07 11:47] damacus commented on #739
Closed via #738

[2021-05-07 11:47] #739 closed

[2021-06-12 20:28] freakinhippie opened #744 "The default_site resource does not support custom variables"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

The `default_site` resource does not support passing custom variables into a user-provided template. It would be excellent if the `default_site` resource allowed for arbitrary custom v

[2021-06-12 21:07] freakinhippie opened #745 "The default_site resource property site_action does not work"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

The documentation for the `default_site` resource's `site_action` property says "...Allows you to place all the configuration on disk but not enable the site". However, the resource enable

[2021-06-24 15:10] freakinhippie opened #750 "Unable to override options for security and charset configurations with install resource"
## :ghost: Brief Description

The `conf` resource added the ability to pass in an _:options_ hash, that ultimately is passed into the template as variables. The default value for this hash is:

[code]

These specific settings are used for the `security` template. The security template is called from the `install` resource with no block arguments, making it impossible to override these values idemp

[2021-07-08 10:12] #744 closed

[2021-07-08 10:12] #745 closed

[2021-07-09 23:42] #728 closed

[2021-07-09 23:42] #750 closed

[2022-01-07 09:02] wpspkr opened #755 "Package mod_ldap not installed on Centos if you enable mod_ldap"
## :ghost: Brief Description

If you use the resource `apache2_install` with the modules: ldap and authnz_ldap on Centos 7 Systems the rpm package mod_ldap.x86_64 will not be installed

## :pancakes: Cookbook version

8.14.1

## :woman_cook:  Chef-Infra Version

16.16.13

## :tophat: Platform details

CentOS Linux release 7.7.1908 (Core) on AWS

## Steps To Reproduce

Steps to reproduce the behavi

[2022-02-17 10:31] ragsarag opened #758 "Option to config using different instance name"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## 🙍🏼 Problem Statement

At moment i am using httpd cookbook, which is obsolete now, in that i have option to use instance name and configure httpd with different names eg:  httpd-default.service  and httpd-kibana.service

I

[2022-02-22 05:54] subomi33 opened #759 "Apache"
G

[2022-02-22 05:54] #759 closed

[2022-03-10 14:00] chuhn opened #760 "apache2_module breaks authz_svn module loading"
Hi y'all

Loading of the subversion Apache modules requires a strict load order:
1. `mod_dav`
2. `mod_dav_svn`
3. `mod_authz_svn`

At least on Debian Buster `apache2_module 'authz_svn'` breaks this load order by changing  `/etc/apache2/mods-available/authz_svn.load` from
[code]
to
[code]

The load files will then be included in alphabetic order and `apachectl configtest` complains about:
[code]

W

[2022-06-26 04:21] AteneAJR opened #763 "Apache"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

A clear and concise description of what the bug is.

## :pancakes: Cookbook version

Version of the cookbook where you are encountering the issue.

## :woman_cook:  Chef-Infra Version

Ver

[2022-06-26 04:21] #763 closed

[2022-09-12 21:22] Entreiu opened #764 "apache_mod_php_filename and apache_mod_php_modulename incompatible with Ubuntu 22.04"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Ubuntu 22.04 has moved on from PHP 7 to PHP 8 and these resources do not reflect this update, particularly in that the correct apache2 modules are now called php8.1.load and php8.1.conf

#

[2022-09-23 03:49] t3ttx opened #765 "pkg"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

A clear and concise description of what the bug is.

## :pancakes: Cookbook version

Version of the cookbook where you are encountering the issue.

## :woman_cook:  Chef-Infra Version

Ver

[2022-09-23 03:51] #765 closed